.veaam {
    .form-control {
        font-size: 18px;
        font-weight: 500;
    }
    .form-inline {
        select {
            width: 100%;
            border-radius: 0px;
            height: 40px;
            outline: none;
        }
        input {
            width: 100%;
            border-radius: 0px;
            height: 40px;
            outline: none;
        }
        input[type="text"] {
            background: #FFFFFF;
            outline: none;
        }
        input[type="button"] {
            background: #aaaaaa;
            color: #000;
            font-size: 16px;
            outline: none;
        }
    }
}