  <div class="container-fluid">
      <div class="row">
          <form [formGroup]='formFilterRequestHistory'>
              <div class="col-sm-12 col-md-9">
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label>From:</label>
                          <input type="date" class="form-control applysize" id="txtFrom" formControlName="from">
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label>To:</label>
                          <input type="date" class="form-control applysize" id="txtto" formControlName="to">
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label>Client ID:</label>
                          <input type="text" class="form-control applysize" formControlName="client_id">
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label>Package status:</label>
                          <div class="select">
                              <select formControlName="package_type">
                                <option value="0">Backup</option>
                                <option value="1">Replication</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-3 set-css-new">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <br>
                          <button type="submit" class="go" value="Submit" (click)="searchRequestHistory()">Go</button>
                          <button type="reset" class="go" value="Reset" (click)="clearData()">Clear</button>
                          <button type="button" class="go">Export</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div class="row">
          <div class="col-sm-12 col-md-12 Search-col-md-12">
              <h5>Search results...</h5>
              <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th>Client ID</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Name</th>
                              <th>Family</th>
                              <th>Company</th>
                              <th>Created</th>
                              <th>Type</th>
                              <th>Specification</th>
                              <th>Process</th>
                              <th>Status</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <tr *ngFor="let item of requestHistory | pagination:20">
                                  <td>{{item.cust_id}}</td>
                                  <td>{{item.email}}</td>
                                  <td>{{item.phone_num}}</td>
                                  <td>{{item.firstname}}</td>
                                  <td>{{item.lastname}}</td>
                                  <td>{{item.company_name}}</td>
                                  <td>{{item.pck_add_dt}}</td>
                                  <td>{{item.pck_type_name}}</td>
                                  <td *ngIf="item.pck_type_name == 'Veeam Backup'">1VM/{{item.vm}}GB(HP)</td>
                                  <td *ngIf="item.pck_type_name == 'Veeam Replication'">{{spec1}}{{item.vm}}spec</td>
                                  <td>{{item.pck_processer}}</td>
                                  <!-- <td *ngIf="item.pck_processer == 're'">Created</td> -->
                                  <!-- <td *ngIf="item.pck_processer == 'ue'">Update</td> -->
                                  <td *ngIf="item.pck_status == 're'">Created</td>
                                  <td *ngIf="item.pck_status == 'ue'">Update</td>
                                  <td>
                                      <button type="button" class="btn btn-danger btn-xs" (click)="removeItem(item.pck_id)"><i class="material-icons">delete_forever</i>remove</button>
                                      <button type="button" class="btn btn-success btn-xs" (click)="onclick(item.cust_id)" [routerLink]="['/',Url.Packages]"><i class="material-icons">note_add</i>create</button>
                                  </td>
                              </tr>
                      </tbody>
                  </table>
                  <pagination [items]="requestHistory"></pagination>
              </div>
          </div>
      </div>
  </div>
