<!-- <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav disable" id="sidebar">
            <li><a (click)="showClients()">Clients</a></li>
            <li><a (click)="showAddnew()">Add New</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-clients" id="clients">
            <div class="row">
                <form [formGroup]="formClients" (submit)="onSubmitFilter()">
                    <div class="col-sm-12 col-md-8">
                        <div class="col-sm-2 col-xs-6">
                            <div class="form-group">
                                <label>ID:</label>
                                <input type="text" class="form-control input" formControlName="ID">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" class="form-control input" formControlName="Email">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control input" formControlName="Name">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Fname:</label>
                                <input type="text" class="form-control input" formControlName="FName">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Company:</label>
                                <input type="text" class="form-control input" formControlName="Company">
                            </div>
                        </div>
                        <div class="col-sm-2" style="width:max-content;">
                            <div class="form-group" style="width:max-content;">
                                <label>Clients status:</label>
                                <div class="select">
                                    <select formControlName="StatusFilter">
                                        <option selected value="6">All</option>
                                        <option value="0">Not Verified</option>
                                        <option value="1">Verified</option>
                                        <option value="2">Block</option>
                                        <option value="3">Freeze</option>
                                        <option value="4">Delete</option>                    
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 set-css-new">
                        <div class="col-sm-12">
                            <div class="form-group form-group-field">
                                <label>Exact as in field</label>
                                <input type="checkbox" class="form-control exactmatch" formControlName="exactmatch">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="go" value="Submit">Go</button>
                                <button type="reset" class="go" (click)="clientsDataAlls = []" value="Reset">Clear</button>
                                <button type="button" class="go" (click)="exportData()">Export</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h5>Search results...</h5>
                    <div style="overflow-x:auto;">
                        <table>
                            <tr class="border">
                                <th>ID</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Family</th>
                                <th>Company</th>
                                <th>Phone number</th>
                                <th>Status</th>
                                <th>Package №</th>
                                <th>Type</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>User Actions</th>
                            </tr>
                            <tr *ngFor="let clientsDataAll of clientsDataAlls.data">
                                <td>{{clientsDataAll.cust_id}}</td>
                                <td>{{clientsDataAll.email}}</td>
                                <td>{{clientsDataAll.firstname}}</td>
                                <td>{{clientsDataAll.familyName}}</td>
                                <td>{{clientsDataAll.company}}</td>
                                <td>{{clientsDataAll.phone_num}}</td>
                                <td>{{clientsDataAll.status}}</td>
                                <td>{{clientsDataAll.pck_id}}</td>
                                <td>{{clientsDataAll.pck_type_name}}</td>
                                <td>{{clientsDataAll.pck_start_dt| date :'dd.MM.yyyy'}}</td>
                                <td>{{clientsDataAll.pck_end_dt| date :'dd.MM.yyyy'}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs" [ngClass]="{'active':clientsDataAll.block==2}" (click)="actionClient(clientsDataAll.cust_id, clientsDataAll.verify, clientsDataAll.block, clientsDataAll.freeze, clientsDataAll.delete, btnBlock)" #btnBlock>
        <i class="material-icons">block</i> {{ clientsDataAll.block==2 ? 'Unblock':'Block' }}</button>
                                    <button type="button" class="btn btn-success btn-xs" [ngClass]="{'active':clientsDataAll.freeze==3}" (click)="actionClient(clientsDataAll.cust_id, clientsDataAll.verify, clientsDataAll.block, clientsDataAll.freeze, clientsDataAll.delete, btnFreeze)" #btnFreeze>
        <i class="material-icons">ac_unit</i> {{ clientsDataAll.freeze==3 ? 'Unfreeze':'Freeze' }}</button>
                                    <button type="button" class="btn btn-danger btn-xs" [ngClass]="{'active':clientsDataAll.delete==4}" (click)="actionClient(clientsDataAll.cust_id, clientsDataAll.verify, clientsDataAll.block, clientsDataAll.freeze, clientsDataAll.delete, btnDelete)" #btnDelete>
        <i class="material-icons">delete_forever</i> {{ clientsDataAll.delete==4 ? 'Restore':'Delete' }}</button>
                                    <button (click)="OpenDlg(clientsDataAll.cust_id)" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"><i class="material-icons">report</i> Report</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-clients invisible" id="addnew">
            <div class="row">
                <div class="col-md-12">
                    <h2>Add new client</h2>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Email:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textEmail id="1" (blur)="checkForm(textEmail)">
                    <i id="valid-icon1" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon1" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Password:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textPassword id="2" (blur)="checkForm(textPassword)">
                    <button type="button" class="btn-gen" (click)="genPassword(10)">Generate</button>
                    <i id="valid-icon2" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon2" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Name:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textName id="3" (blur)="checkForm(textName)">
                    <i id="valid-icon3" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon3" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Last Name:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textLastName id="4" (blur)="checkForm(textLastName)">
                    <i id="valid-icon4" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon4" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Phone number:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textPhone id="5" maxlength="10" (blur)="checkForm(textPhone)">
                    <i id="valid-icon5" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon5" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Address Prefix:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textAddr id="6" (blur)="checkForm(textAddr)">
                    <i id="valid-icon6" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon6" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>City:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textCity id="7" (blur)="checkForm(textCity)">
                    <i id="valid-icon7" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon7" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Country:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <div class="select">
                        <select #selCountry style="width:100%" (change)="checkForm(selCountry)" id="8">
                            <option value="" selected>Country</option>
                            <ng-container *ngFor="let item of Country.Countries">
                                <option [value]="item">{{item}}</option>          
                            </ng-container>      
                        </select>
                    </div>
                    <i id="valid-icon8" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon8" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>State/province:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <div class="select">
                        <select #selState style="width:100%" (change)="checkForm(selState)" id="9">
                            <option value="" selected>State/province</option>
                            <option [value]="item" *ngFor="let item of states">{{item}}</option>
                        </select>
                    </div>
                    <i id="valid-icon9" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon9" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                    <p>Postcode:*</p>
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textPost id="10" (blur)="checkForm(textPost)" maxlength="5">
                    <i id="valid-icon10" class="material-icons invisible">&#xE876;</i>
                    <i id="invalid-icon10" class="material-icons invisible">&#xE5CD;</i>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                    <input type="checkbox" class="form-control exactmatch" #sendEmail id="11">
                    <p style="margin-left:5px; margin-bottom:0px; margin-top:2px;">Send reset password link</p>
                </div>
            </div>
            <div class="row py-10">
                <div class="col-md-1 col-sm-3 col-sx-12">
                </div>
                <div class="col-md-2 col-sm-4 col-sx-12">
                    <button type="button" class="go" id="confirm" style="width:55px;max-width:55px;" (click)="submitRegis(textEmail, textPassword, textName, textLastName, textPhone, textAddr, textCity, selState, selCountry, textPost, sendEmail)">Confirm</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" [Scrollbar]=true>
                <clients-report [cust_id]=CustomerId></clients-report>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> -->

<div class="pushmenu-push">
    <nav class="pushmenu pushmenu-left">
        <ul class="links">
            <li routerLinkActive="active"><a (click)="watch_nav('Clients')" routerLinkActive="active">Clients</a></li>
            <li *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor'" routerLinkActive="active"><a (click)="watch_nav('AddNew')" routerLinkActive="active">Add New</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="main">
            <section class="buttonset">
                <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
            </section>
            <section class="content">
                <div *ngIf="UrlCurrentState==='Clients'" id="clients">
                    <div class="container-fluid">
                        <div class="row">

                            <form [formGroup]="formClients" (submit)="onSubmitFilter()">
                                <Notification [(message)]="message"></Notification>
                                <div class="col-sm-12 col-md-8">
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="form-group">
                                            <label>ID:</label>
                                            <input type="text" class="form-control input" formControlName="ID">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" class="form-control input" formControlName="Email">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control input" formControlName="Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Fname:</label>
                                            <input type="text" class="form-control input" formControlName="FName">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Company:</label>
                                            <input type="text" class="form-control input" formControlName="Company">
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="width:max-content;">
                                        <div class="form-group" style="width:max-content;">
                                            <label>Clients status:</label>
                                            <div class="select">
                                                <select formControlName="StatusFilter">
                                        <option selected value="6">All</option>
                                        <option value="0">Not Verified</option>
                                        <option value="1">Verified</option>
                                        <option value="2">Block</option>
                                        <option value="3">Freeze</option>
                                        <option value="4">Delete</option>                    
                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 set-css-new">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-field">
                                            <label>Exact as in field</label>
                                            <input type="checkbox" class="form-control exactmatch" formControlName="exactmatch">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="go" value="Submit">Go</button>
                                            <button type="reset" class="go" (click)="clientsDataAlls = []" value="Reset">Clear</button>
                                            <button type="button" class="go" (click)="exportData()">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h5>Search results...</h5>
                                <div style="overflow-x:auto;">
                                    <table>
                                        <tr class="border">
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Family</th>
                                            <th>Company</th>
                                            <th>Phone number</th>
                                            <th>Status</th>
                                            <th>Package №</th>
                                            <th>Type</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>User Actions</th>
                                        </tr>
                                        <tr *ngFor="let clientsDataAll of clientsDataAlls.data">
                                            <td>{{clientsDataAll.cust_id}}</td>
                                            <td>{{clientsDataAll.email}}</td>
                                            <td>{{clientsDataAll.firstname}}</td>
                                            <td>{{clientsDataAll.familyName}}</td>
                                            <td>{{clientsDataAll.company}}</td>
                                            <td>{{clientsDataAll.phone_num}}</td>
                                            <td>{{clientsDataAll.status}}</td>
                                            <td>{{clientsDataAll.pck_id}}</td>
                                            <td>{{clientsDataAll.pck_type_name}}</td>
                                            <td>{{clientsDataAll.pck_start_dt| date :'dd.MM.yyyy'}}</td>
                                            <td>{{clientsDataAll.pck_end_dt| date :'dd.MM.yyyy'}}</td>
                                            <td>
                                                <button *ngIf="role == 'Admin' || role == 'Supervisor' || role == 'SuperAdmin'" type="button" class="btn btn-warning btn-xs" [ngClass]="{'active':clientsDataAll.block==2}" (click)="actionClient(clientsDataAll.cust_id, clientsDataAll.verify, clientsDataAll.block, clientsDataAll.freeze, clientsDataAll.delete, btnBlock)"
                                                    #btnBlock>
        <i class="material-icons">block</i> {{ clientsDataAll.block==2 ? 'Unblock':'Block' }}</button>
                                                <button *ngIf="role == 'Admin' || role == 'Supervisor' || role == 'SuperAdmin'" type="button" class="btn btn-success btn-xs" [ngClass]="{'active':clientsDataAll.freeze==3}" (click)="actionClient(clientsDataAll.cust_id, clientsDataAll.verify, clientsDataAll.block, clientsDataAll.freeze, clientsDataAll.delete, btnFreeze)"
                                                    #btnFreeze>
        <i class="material-icons">ac_unit</i> {{ clientsDataAll.freeze==3 ? 'Unfreeze':'Freeze' }}</button>
                                                <button *ngIf="role == 'Admin' || role == 'Supervisor' || role == 'SuperAdmin'" type="button" class="btn btn-danger btn-xs" [ngClass]="{'active':clientsDataAll.delete==4}" (click)="actionClient(clientsDataAll.cust_id, clientsDataAll.verify, clientsDataAll.block, clientsDataAll.freeze, clientsDataAll.delete, btnDelete)"
                                                    #btnDelete>
        <i class="material-icons">delete_forever</i> {{ clientsDataAll.delete==4 ? 'Restore':'Delete' }}</button>
                                                <button *ngIf="role == 'Admin' || role == 'Supervisor'" type="button" class="btn btn-primary btn-xs" (click)="resetPassword(clientsDataAll)">
        <i class="material-icons">refresh</i> Reset</button>
                                                <button *ngIf="role == 'Admin' || role == 'Supervisor'" (click)="OpenDlg(clientsDataAll.cust_id)" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal"><i class="material-icons">report</i> Report</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="UrlCurrentState==='AddNew'" id="addnew">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Add new client</h2>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Email:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textEmail id="1" (blur)="checkForm(textEmail)">
                                <i id="valid-icon1" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon1" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Password:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textPassword id="2" (blur)="checkForm(textPassword)">
                                <button type="button" class="btn-gen" (click)="genPassword(10)">Generate</button>
                                <i id="valid-icon2" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon2" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Name:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textName id="3" (blur)="checkForm(textName)">
                                <i id="valid-icon3" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon3" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Last Name:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textLastName id="4" (blur)="checkForm(textLastName)">
                                <i id="valid-icon4" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon4" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Phone number:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textPhone id="5" maxlength="12" (blur)="checkForm(textPhone)">
                                <i id="valid-icon5" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon5" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Address Prefix:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textAddr id="6" (blur)="checkForm(textAddr)">
                                <i id="valid-icon6" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon6" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>City:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textCity id="7" (blur)="checkForm(textCity)">
                                <i id="valid-icon7" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon7" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Country:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <div class="select">
                                    <select #selCountry style="width:100%" (change)="checkForm(selCountry)" id="8">
                            <option value="" selected>Country</option>
                            <ng-container *ngFor="let item of Country.Countries">
                                <option [value]="item">{{item}}</option>          
                            </ng-container>      
                        </select>
                                </div>
                                <i id="valid-icon8" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon8" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>State/province:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <div class="select">
                                    <select #selState style="width:100%" (change)="checkForm(selState)" id="9">
                            <option value="" selected>State/province</option>
                            <option [value]="item" *ngFor="let item of states">{{item}}</option>
                        </select>
                                </div>
                                <i id="valid-icon9" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon9" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Postcode:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textPost id="10" (blur)="checkForm(textPost)" maxlength="5">
                                <i id="valid-icon10" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon10" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                                <p>Company:*</p>
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="text" class="form-control input ng-untouched ng-pristine ng-valid" #textCompany id="12" (blur)="checkForm(textPost)" maxlength="150">
                                <i id="valid-icon10" class="material-icons invisible">&#xE876;</i>
                                <i id="invalid-icon10" class="material-icons invisible">&#xE5CD;</i>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12">
                            </div>
                            <div class="col-md-2 col-sm-4 col-sx-12 inline-form">
                                <input type="checkbox" class="form-control exactmatch" #sendEmail id="11">
                                <p style="margin-left:5px; margin-bottom:0px; margin-top:2px;">Send reset password link</p>
                            </div>
                        </div>
                        <div class="row py-10">
                            <div class="col-md-1 col-sm-3 col-sx-12"></div>
                            <div class="col-md-2 col-sm-4 col-sx-12">
                                <button type="button" class="go" id="confirm" style="width:55px;max-width:55px;" (click)="submitRegis(textEmail, textPassword, textName, textLastName, textPhone, textAddr, textCity, selState, selCountry, textPost, sendEmail, textCompany)">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" [Scrollbar]=true>
                <clients-report [cust_id]=CustomerId></clients-report>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>