$heigth_of_row:3em;
$background-border: #FFFFFF;
$width_control:90%;
$heigth_control:23px;
$border_color_control:#7a7a7a;
$background-body-color:#FFFFFF;
$color_placeholder:#999999;
$main-color: #969696;
#myModal {
    width: 100%;
    .modal-body {
        max-height: 680px;
        height: 680px;
    }
}

.select {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: $width_control;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 10%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 14px;
        width: 160px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

table {
    margin-bottom: 15px;
    tr {
        td {
            button:nth-child(1) {
                width: 72.23px;
            }
            button:nth-child(2) {
                width: 76.42px;
            }
            button:nth-child(3) {
                width: 69.86px;
            }
            button:nth-child(4) {
                width: 75.53px;
            }
        }
    }
}

.material-icons {
    font-size: 14px;
    vertical-align: middle;
}

.container-clients {
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#addnew .container-clients {
    padding-right: 15px;
    // padding-left: 15px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.col-sm-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 11.667%;
}

label {
    font-size: 11px;
    color: $border_color_control;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid #333
}

th {
    text-align: left;
    padding: 7px;
    background-color: #cccccc;
    color: #444444;
    font-size: 12px;
    border-left: 2px solid #444444;
    border-right: 2px solid #444444;
    font-weight: 400;
}

td {
    text-align: left;
    padding: 8px;
    border-left: 2px solid #444444;
    border-right: 2px solid #444444;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.border {
    border-top: 2px solid #444444;
}

.border-bottom {
    border-bottom: 2px solid #444444;
}

.mvp {
    margin: 0px 25px 0px 0px;
}

.input {
    width: $width_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    max-width: $width_control !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid $border_color_control;
    padding: 1px;
    font-size: 14px;
    color: #606060;
}

.exactmatch {
    width: 23px !important;
    max-width: 23px !important;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid $border_color_control;
    padding: 1px;
    font-size: 14px;
    color: #606060;
    margin: 0px;
}

.go {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 22px;
    width: 25%;
    margin-right: 5px;
    max-width: 15%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.btn-submit-csv {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    width: 100%;
    margin-right: 5px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

#filePath {
    padding: 0px;
    font-size: 13px;
}

.form-group-field {
    float: left;
}

.set-css-new {
    margin-left: -100px;
}

@media (max-width:991px) {
    .set-css-new {
        margin-left: 0px;
        ;
    }
}

@media (max-width:767px) {
    .input {
        width: 160px;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid $border_color_control;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
    margin-top: -20px;
}

#sidebar-wrapper {
    margin-left: -160px;
    left: 70px;
    width: 150px;
    background: #C0C0C0;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper.active {
    padding-left: 150px;
    margin-top: -20px;
}

#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a,
.sidebar-nav li a {
    color: #606060;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #C0C0C0;
    // border-top: 1px solid #373737;
    // border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
    font-size: 16px;
}

.sidebar-nav li a {
    color: #606060;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #606060;
    //background: rgba(255, 255, 255, 0.2);
    background: #eee;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#main_icon {
    float: right;
    padding-right: 20px;
    padding-top: 16px;
    font-size: 23px;
}

.sub_icon {
    float: right;
    padding-right: 65px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all .4s ease 0s;
    }
}

.invisible {
    display: none !important;
    visibility: hidden !important;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.inline-form {
    display: inline-flex;
}

#valid-icon1,
#valid-icon2,
#valid-icon3,
#valid-icon4,
#valid-icon5,
#valid-icon6,
#valid-icon7,
#valid-icon8,
#valid-icon9,
#valid-icon10 {
    font-size: 24px;
    vertical-align: middle;
    color: green;
}

#invalid-icon1,
#invalid-icon2,
#invalid-icon3,
#invalid-icon4,
#invalid-icon5,
#invalid-icon6,
#invalid-icon7,
#invalid-icon8,
#invalid-icon9,
#invalid-icon10 {
    font-size: 24px;
    vertical-align: middle;
    color: red;
}

.btn-gen {
    border: none;
    height: 19px;
    width: 57px;
    margin-left: -58px;
    margin-top: 2px;
    text-align: center;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
}

.disable {
    pointer-events: none; //This makes it not clickable
    opacity: 0.6;
}


/* ################################# */

.container-fluid {
    padding-right: initial;
    padding-left: initial;
}

.pushmenu {
    background: #444;
    text-align: center;
    width: 300px;
    height: 100%;
    top: 112px; //48px;
    z-index: 1000;
    position: fixed;
    //position: absolute;
    h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 15px 25px;
        margin: 0;
        background: #333;
        height: 16px;
    }
}

.links {
    padding: 0;
    text-align: left;
    width: 100%;
    li {
        margin-top: 0px;
        cursor: pointer;
        list-style-type: none;
        // &:hover {
        //     color: #606060;
        //     background: #eee;
        //     text-decoration: none;
        // }
        // &:active {
        //     text-decoration: none;
        //     color: #606060;
        //     background: #eee;
        // }
        // &:focus {
        //     text-decoration: none;
        //     color: #606060;
        //     background: #eee;
        // }
        span {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 14px;
        }
        a {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 14px;
            // &:hover {
            //     color: #606060;
            //     background: #eee;
            //     text-decoration: none;
            // }
            // &:active {
            //     text-decoration: none;
            // }
            // &:focus {
            //     text-decoration: none;
            // }
            // &:active {
            //     color: #dbdbdb;
            // }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 20px;
                bottom: 0px;
                width: 0;
                height: 3px;
                background-color: #f1f1f1;
                -webkit-transition: width 0.3s ease;
                -moz-transition: width 0.3s ease;
                transition: width 0.3s ease;
            }
            &:hover:after {
                width: 80%;
            }
        }
    }
}

.pushmenu-left {
    left: -300px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    left: 0;
    margin-top: -20px;
}

//.pushmenu-push-toright { //left: 300px; }
.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#nav_list {
    height: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#nav-list.active {
    background-position: -331px top;
}

.buttonset {
    background: #00A287;
    color: #fff;
    height: 32px;
    width: 109px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-bottom-right-radius: 30px;
    .material-icons {
        font-size: 30px;
    }
}

section.content {
    padding: 10px 0px;
}

th {
    border-left: 2px solid #444 !important;
    border-right: 2px solid #444 !important;
    border: 2px solid #444 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
}

h5 {
    color: #7a7a7a;
}