$heigth_of_row:3em;
$background-border: #FFFFFF;
$width_control:90%;
$heigth_control:23px;
$border_color_control:#7a7a7a;
$background-body-color:#FFFFFF;
$color_placeholder:#999999;
.col-sm-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 11.667%;
}

h5 {
    color: $border_color_control; //Used same is border color
}

table {
    //border: 2px solid #444444;
    color: #444444;
    font-size: 11px;
    margin-bottom: 15px;
    tr {
        td {
            button:nth-child(1) {
                width: 72.23px;
            }
            button:nth-child(2) {
                width: 76.42px;
            }
            button:nth-child(3) {
                width: 69.86px;
            }
            button:nth-child(4) {
                width: 75.53px;
            }
        }
    }
    tr {
        td {
            border-right: 2px solid #444444;
        }
        th {
            border: none;
        }
    }
    thead {
        font-size: 11px;
        tr {
            background-color: #cccccc;
            th {
                border: none;
                border-bottom-width: 0px;
            }
            td {
                border-right: 2px solid #444444;
                border-bottom-width: 0px;
            }
        }
    }
}

.material-icons {
    font-size: 14px;
    vertical-align: middle;
}

label {
    font-size: 11px;
    color: $border_color_control; //Used same is border color
}

.applysize {
    width: $width_control !important;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    max-width: $width_control !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid $border_color_control;
    padding: 1px;
    font-size: 14px;
    color: #606060;
}

.applysizee {
    width: 66% !important;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    max-width: 66% !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid $border_color_control;
    padding: 1px;
    font-size: 14px;
    color: #606060;
    float: left;
}

.btnsearch {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 4px;
    width: 31px;
    max-width: 31px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.select {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: $width_control;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 15%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 14px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

.go {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 4px;
    width: 27%;
    margin-right: 5px;
    max-width: 21%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.goo {
    border-radius: 0px;
    float: right;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    width: 100%;
    margin-right: 5px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.goog {
    margin-left: -25px;
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    width: 50%;
    margin-right: 5px;
    max-width: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.set-css-new {
    margin-left: -182px;
    margin-top: -2px;
}

@media (max-width:991px) {
    .set-css-new {
        margin-left: 0px;
        width: 68%;
    }
}

@media (max-width:767px) {
    .input {
        width: 160px;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid $border_color_control;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .applysize {
        width: 160px !important;
        height: 23px !important;
        max-height: 23px !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid #7a7a7a;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .select {
        color: #999999;
        border: 1px solid #7a7a7a;
        border-radius: 0px;
        overflow: hidden;
        min-height: 23px;
        height: 23px;
        width: 160px;
        position: relative;
        display: block;
    }
}


/*###########################################################################################################*/

// #sidebar-wrapper {
//     background: #C0C0C0;
//     height: 100%;
//     position: fixed;
//     padding-top: 20px;
//     margin-left: 0px;
//     margin-top: -20px;
//     z-index: 10000;
//     .sidebar_menu {
//         padding: 0px;
//         margin-bottom: 60px;
//         span {
//             cursor: pointer;
//             text-indent: 5px; //12px;
//             font-size: 22px;
//             font-weight: 600;
//             margin-right: 10px;
//             float: right;
//         }
//     }
//     ul.menu-list {
//         width: 234px;
//         padding: 0px;
//         display: none;
//         li {
//             list-style-type: none;
//             font-size: 18px;
//             font-weight: 600;
//             line-height: 40px;
//             font-size: 16px;
//             cursor: pointer;
//             text-indent: 24px;
//             a {
//                 color: #606060;
//                 display: block;
//                 text-decoration: none;
//                 width: 100%;
//                 background: #C0C0C0;
//                 -webkit-transition: background .5s;
//                 -moz-transition: background .5s;
//                 -o-transition: background .5s;
//                 -ms-transition: background .5s;
//                 transition: background .5s;
//                 &:hover {
//                     color: #606060;
//                     background: #eee;
//                     text-decoration: none;
//                 }
//                 &:active {
//                     text-decoration: none;
//                 }
//                 &:focus {
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }
// .active {
//     background: #9c9c9c;
// }
.container-fluid {
    padding-right: initial;
    padding-left: initial;
}

.pushmenu {
    background: #444;
    text-align: center;
    width: 300px;
    height: 100%;
    top: 112px; //48px;
    z-index: 1000;
    position: fixed;
    //position: absolute;
    h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 15px 25px;
        margin: 0;
        background: #333;
        height: 16px;
    }
}

.links {
    padding: 0;
    text-align: left;
    width: 100%;
    li {
        margin-top: 0px;
        cursor: pointer;
        list-style-type: none;
        // &:hover {
        //     color: #606060;
        //     background: #eee;
        //     text-decoration: none;
        // }
        // &:active {
        //     text-decoration: none;
        //     color: #606060;
        //     background: #eee;
        // }
        // &:focus {
        //     text-decoration: none;
        //     color: #606060;
        //     background: #eee;
        // }
        span {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 14px;
        }
        a {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 14px;
            // &:hover {
            //     color: #606060;
            //     background: #eee;
            //     text-decoration: none;
            // }
            // &:active {
            //     text-decoration: none;
            // }
            // &:focus {
            //     text-decoration: none;
            // }
            // &:active {
            //     color: #dbdbdb;
            // }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 20px;
                bottom: 0px;
                width: 0;
                height: 3px;
                background-color: #f1f1f1;
                -webkit-transition: width 0.3s ease;
                -moz-transition: width 0.3s ease;
                transition: width 0.3s ease;
            }
            &:hover:after {
                width: 80%;
            }
        }
    }
}

.pushmenu-left {
    left: -300px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    left: 0;
    margin-top: -20px;
}

//.pushmenu-push-toright { //left: 300px; }
.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#nav_list {
    height: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#nav-list.active {
    background-position: -331px top;
}

.buttonset {
    background: #00A287;
    color: #fff;
    height: 32px;
    width: 109px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-bottom-right-radius: 30px;
    .material-icons {
        font-size: 30px;
    }
}

section.content {
    padding: 10px 15px;
}

th {
    text-align: left !important;
    padding: 7px !important;
    background-color: #cccccc !important;
    color: #444444 !important;
    font-size: 12px !important;
    border-left: 2px solid #444444 !important;
    border-right: 2px solid #444444 !important;
    font-weight: 400 !important;
}

tr {
    border-left: 2px solid #444!important;
    border-right: 2px solid #444!important;
}

td {
    border-left: 2px solid #444!important;
    border-right: 2px solid #444!important;
    border-bottom: 1px solid #fff !important;
    padding: 7px !important;
    padding-top: 12px !important;
    font-size: 12px !important;
}

table {
    border: 2px solid #444;
    border-collapse: collapse
}

.tbody1 {
    background-color: #ebebeb !important;
}

.tbody2 {
    background-color: #FFFFFF !important;
}

.Search-col-md-12 {
    margin-top: 0px;
}

.modal-content {
    padding: 10px;
    color: #7a7a7a;
    background-color: #d2d2d2;
    border-radius: 0px;
}

.text-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.close {
    span {
        padding-right: 10px;
    }
}

.text-box {
    margin-top: 30px;
    margin-left: 120px;
}

.text-boxx {
    margin-top: 30px;
    margin-left: 50px;
}

.btn-btn {
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    height: 23px !important;
    max-height: 23px !important;
    margin-top: 4px;
    width: 100px;
    max-width: 110px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    margin: 0px 0px 0px 100px;
    line-height: 23px;
    padding: 0px 0px;
}

.pushmenu-left {
    left: -300px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    left: 0;
    margin-top: -20px;
}

//.pushmenu-push-toright { //left: 300px; }
.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.pushmenu {
    background: #444;
    text-align: center;
    width: 300px;
    height: 100%;
    top: 112px; //48px;
    z-index: 1000;
    position: fixed;
    //position: absolute;
    h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 15px 25px;
        margin: 0;
        background: #333;
        height: 16px;
    }
}

.invoiceConstructorr {
    .table-xd {
        border: 0px solid #444;
        border-collapse: collapse;
    }
    .tr-22 {
        border-left: 0px solid #444 !important;
        border-right: 0px solid #444 !important;
    }
    .tr-222 {
        border-bottom: 2px solid #444 !important;
    }
    .td-222 {
        border-bottom: 1px solid #444 !important;
    }
    .td-22 {
        border-left: 0px solid #444 !important;
        border-right: 0px solid #444 !important;
        //border-bottom: 1px solid #fff !important;
        padding: 7px !important;
        padding-top: 12px !important;
        font-size: 12px !important;
    }
    .bg-md2 {
        margin-left: 15px;
        background-color: #d9d9d9;
        height: 849px;
    }
    .bg-md10 {
        background-color: #f6f6f6
    }
    .printable {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .invoiceXD {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .hr {
        position: relative;
        top: -19px;
        margin-bottom: 0px;
    }
    .hr-color {
        border-color: #2C314F;
    }
    .col-sm-6 {
        padding: 0px;
        margin: 0px;
        .btn {
            width: 149px;
            height: 40px;
            i {
                position: relative;
                left: -15px;
            }
            span {
                position: relative;
                top: -5px;
            }
        }
    }
    .border-color-top {
        border-top: 1px solid #2C314F;
        padding-bottom: 20px;
        width: 100%;
        margin: auto;
    }
    .btn-primary {
        min-width: 100px;
        margin-top: 20px;
    }
    .border-color-bottom {
        border-bottom: 1px solid #2C314F;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #footter-print {
        position: fixed;
        bottom: 0px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .media-form {
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
        }
        .text-center {
            text-align: center;
        }
        .header-min {
            margin-top: 780px;
            text-align: center;
        }
        .header-t {
            margin-top: 100px;
            text-align: center;
        }
        .header-in {
            margin: atuo;
            text-align: center;
            margin-top: 52px;
        }
        .footer {
            margin-top: 173px;
            text-align: center;
        }
        // .m-p {
        //     margin-left: 160px;
        //     padding-right: 100px;
        // }
        .text-24-5 {
            font-size: 24px;
            font-weight: 500;
        }
        .text-20-5 {
            font-size: 20px;
            font-weight: 500;
        }
        .text-20-3 {
            font-size: 20px;
            font-weight: 300;
        }
        .text-20-4 {
            font-size: 20px;
            font-weight: 400;
        }
        .text-16-5 {
            font-size: 16px;
            font-weight: 500;
        }
        .text-16-4 {
            font-size: 16px;
            font-weight: 400;
        }
        .text-16-3 {
            font-size: 16px;
            font-weight: 300;
        }
        .text-14-3 {
            font-size: 14px;
            font-weight: 300;
        }
        .text-13-4 {
            font-size: 13px;
            font-weight: 400;
        }
        .text-12-5 {
            font-size: 12px;
            font-weight: 500;
        }
        .text-12-4 {
            font-size: 12px;
            font-weight: 400;
        }
        .text-12-3 {
            font-size: 12px;
            font-weight: 300;
        }
        .color-A {
            color: #AAAAAA;
        }
        .color-7A {
            color: #7ACDCF;
        }
        .color-2C {
            color: #2C314F;
        }
        .content {
            text-align: justify;
        }
        .text-content {
            text-indent: 45px;
        }
    }
    table,
    .row {
        width: 100%;
        margin: auto;
        .tr-1 {
            padding: 20px 0px;
            height: 40px;
            border-top: 1px solid #2C314F;
            border-bottom: 1px solid #2C314F;
            td {
                font-size: 12px;
                font-weight: 500;
                p {
                    span {
                        padding-right: 4px;
                        button {
                            margin-left: 2px;
                            background-color: #2C314F;
                            color: white;
                            span {
                                position: relative;
                                top: -3px;
                            }
                        }
                        .btn-1 {
                            width: 111px;
                            height: 26px;
                            border-radius: 26px;
                        }
                        .btn-2 {
                            width: 92px;
                            height: 26px;
                            border-radius: 26px;
                        }
                        .btn-3 {
                            width: 78px;
                            height: 26px;
                            border-radius: 26px;
                        }
                    }
                }
            }
        }
        .tr-2 {
            padding: 20px 0px;
            height: 40px;
            border-top: 1px solid #F3F5F5;
            border-bottom: 1px solid #F3F5F5;
        }
        td {
            font-size: 16px;
            font-weight: 400;
        }
        .td-1 {
            width: 34%;
        }
        .td-2 {
            width: 12%;
        }
        .td-3 {
            width: 12%;
        }
        .td-4 {
            width: 7%;
        }
        .td-5 {
            width: 12%;
        }
    }
    @media screen and (max-width:768px) {
        .td-5 {
            text-align: right;
        }
        .btn-primary {
            margin-right: 20px;
        }
        .col-sm-6 {
            .btn-float {
                float: right;
                width: 99px;
                margin: 5px 0px;
                i {
                    left: -4px;
                }
            }
        }
    }
}

.xs-col-zz {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group-zz {
    margin-right: -37px;
}

.set-css-txt-manu {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
}

.set-css-txt-manu-f {
    margin-top: 56px;
    margin-left: 30px;
    margin-right: 20px;
}

.set-css-txt-manu-l {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 20px;
    text-align: center;
}

.btn-xs {
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

