
<div class="set-stay">
  <div class="row">
    <button type="button" id="close_modal" class="close" (click)="clearValue()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="col-md-12 text-title">New Invoice</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row" *ngIf="DetailInvoice">
        <div class="col-sm-12 col-md-12 Search-col-md-12">
          <div class="row invoiceConstructorr">
            <div class="col-md-3 bg-md2">
              <div class="set-css-txt-manu-f">
                <label>Start date:</label>
                <div class="select">
                  <select>
                            <option value="">All</option>
                        </select>
                </div>
              </div>
              <form [formGroup]="VB" (submit)="goGenerateInvoice(DetailInvoice,storage.value,vmlicenses.value)">
                <div class="set-css-txt-manu">
                  <label>VM licenses:</label>
                  <input type="text" class="form-control applysize" value="{{ DetailInvoice.new_vm }}" formControlName="vmlicenses" #vmlicenses>
                </div>
        
                <div class="set-css-txt-manu">
                  <label>Storage:</label>
                  <input type="text" class="form-control applysize" value="{{ DetailInvoice.new_storage }}" formControlName="storage" #storage>
                </div>
              </form>
      
              <ng-container *ngIf="DetailInvoice.pck_type_name != 'Veeam Backup'">
                <div class="set-css-txt-manu">
                  <label>Processor:</label>
                  <input type="text" class="form-control applysize">
                </div>
      
                <div class="set-css-txt-manu">
                  <label>RAM:</label>
                  <input type="text" class="form-control applysize">
                </div>
      
                <div class="set-css-txt-manu">
                  <label>IP Addresses:</label>
                  <input type="text" class="form-control applysize">
                </div>
      
                <div class="set-css-txt-manu">
                  <label>Networks:</label>
                  <input type="text" class="form-control applysize">
                </div>
      
                <div class="set-css-txt-manu">
                  <label>Internet Traffice:</label>
                  <input type="text" class="form-control applysize">
                </div>
              </ng-container>
              <div class="set-css-txt-manu-l">
                <button type="button" class="goog" (click)="goGenerateInvoice(DetailInvoice,storage.value,vmlicenses.value)">Generate</button>
              </div>
            </div>
            <div class="col-md-8 bg-md10" *ngIf="Info_email" [hidden]="HiddencanShow">
              <div class="divLoding" id="WaitLoding"  [hidden]="CanCloseInvoTo" >
                  <div class="loadingbox">
                          <div class="spinner">
                                  <div class="rect1"></div>
                                  <div class="rect2"></div>
                                  <div class="rect3"></div>
                                  <div class="rect4"></div>
                                  <div class="rect5"></div>
                                  <span>Loading...</span>
                              </div>
                  </div> 
              </div>
              <div class="col-sm-12 col-md-12 Search-col-md-12 invoiceXD" >
                <h5>Invoice Constructor</h5>
              </div>
              <div class="col-sm-12 col-md-12 Search-col-md-12" style="background-color: #fff;" *ngIf="Info_email" [hidden]="CanCloseInvoTo">
                <section class="printable">
                  <div class="media-form">
                    <div class="border-color-top"></div>
                    <div class="row">
                      <div class="col-sm-6 text-left hidden-xs">
                        <p class="text-20-4 ">9T co., ltd.</p>
                        <p class="text-12-4 color-A">
                          Addlink Building 889 Moo
                          <br> Kamyai Sub-District,Ubon Ratchathani
                          <br> Thailand 34000
                          <br><span class="color-7A"> Info@9t.com <br> +66(0)45-313-883</span>
                        </p>
                      </div>
                      <div class="col-sm-6 text-right">
                        <div class="hidden-xs">
                          <p class="text-20-4">{{ Info_email.company_name }}</p>
                          <p class="text-12-4 color-A">
                            {{ Info_email.firstname }} {{ Info_email.lastname }}
                            <br> {{ Info_email.address }}
                            <br> {{ Info_email.city }}, {{ Info_email.province }}
                            <br> {{ Info_email.country }} {{ Info_email.post_code }}
                            <span class="color-7A">
                                                <br>{{ Info_email.email }}
                                                <br>{{ Info_email.phone_num }}
                                        </span>
                          </p>
                        </div>
                        <p class="text-12-4 color-A">Invoice: <span class="color-2C">{{ Info_email.invoice_no }}</span></p>
                        <p class="text-12-4 color-A">Issued: <span class="color-2C">{{ Info_email.issued }}</span></p>
                        <p class="text-12-4 color-A">Due: <span class="color-2C">{{ Info_email.due }}</span></p>
                      </div>
                    </div>
      
                    <table class="table-xd">
                      <tr class="tr-1 hidden-xs tr-22 tr-222">
                        <td class="td-1 td-22">DESCRIPTION</td>
                        <td class="td-2 td-22">COUNT QTY</td>
                        <td class="td-3 td-22">FROM</td>
                        <td class="td-4 td-22">TO</td>
                        <td class="td-5 td-22">PRICE(inc GST)</td>
                      </tr>
                      <tbody>
                        <tr class="tr-1 tr-22">
                          <td colspan="5" class="td-22 td-222">
                            <br>
                            <p class="color-A text-12-4">DESCRIPTION</p>
                            <p class="color-7A hidden-xs">VEEAM(Cloud Connect Backup ({{ Info_email.username }}))</p>
                            <p class="color-7A text-12-4 hidden-lg hidden-md hidden-sm">VEEAM(Cloud Connect Backup({{ Info_email.username }}) )</p>
                            <p>
                              <span class="text-12-4">Alias: 
                                                      <button type="button" class="btn-1 btn btn-default"><span>MY PACKAGE</span></button>
                              </span>
                              <br class="hidden-lg hidden-md hidden-sm">
                              <br class="hidden-lg hidden-md hidden-sm">
                              <span class="text-12-4">VM licenses: 
                                                      <button type="button" class="btn-2 btn btn-default"><span>{{ Info_email.vm }} licenses</span></button>
                              </span>
                              <br class="hidden-lg hidden-md hidden-sm">
                              <br class="hidden-lg hidden-md hidden-sm">
                              <span class="text-12-4">Storage: <button type="button" class="btn-3 btn btn-default"><span>{{ Info_email.storage }} GB</span></button>
                              </span>
                            </p>
                          </td>
                        </tr>
                        <tr class="tr-2 tr-22">
                          <td class="td-22" colspan="2">Cloud Connect</td>
                          <td class="td-3 td-22 color-A"><span class="hidden-xs">{{ Info_email.pck_start_dt | date :'dd MMM yyyy' }}</span></td>
                          <td class="td-4 td-22 color-A"><span class="hidden-xs">{{ Info_email.pck_end_dt | date :'dd MMM yyyy' }}</span></td>
                          <td class="td-5 td-22 text-center color-A">$0.00</td>
                        </tr>
                        <tr class="tr-2 tr-22">
                          <td class="td-1 td-22">Storage</td>
                          <td class="td-2 td-22 color-A hidden-lg hidden-md hidden-sm" colspan="2">{{ Info_email.storage }} GB</td>
                          <td class="td-2 td-22 color-A hidden-xs">{{ Info_email.storage }} GB</td>
                          <td class="td-3 td-22 color-A hidden-xs"><span class="hidden-xs">{{ Info_email.pck_start_dt | date :'dd MMM yyyy'}}</span></td>
                          <td class="td-4 td-22 color-A "><span class="hidden-xs">{{ Info_email.pck_end_dt | date :'dd MMM yyyy' }}</span></td>
                          <td class="td-5 td-22 text-center color-A">{{ Info_email.storage_total_price }}</td>
                        </tr>
                        <tr class="tr-2 tr-22">
                          <td class="td-1 td-22">VM licenses</td>
                          <td class="td-2 td-22 color-A">{{ Info_email.vm }}</td>
                          <td class="td-3 td-22 color-A"><span class="hidden-xs">{{ Info_email.pck_start_dt | date :'dd MMM yyyy'}}</span></td>
                          <td class="td-4 td-22 color-A"><span class="hidden-xs">{{ Info_email.pck_end_dt | date :'dd MMM yyyy'}}</span></td>
                          <td class="td-5 td-22 text-center color-A">{{ Info_email.vm_total_price | number : '1.2-2'}}</td>
                        </tr>
                        <tr class="tr-2 tr-22">
                          <td class="td-1 td-22"></td>
                          <td class="td-2 td-22 hidden-xs"></td>
                          <td class="td-3 td-22 hidden-xs"></td>
                          <td class="td-3 td-22 hidden-xs">Sub-Total</td>
                          <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan=3>Sub-Total</td>
                          <td class="td-5 td-22 text-center">{{ Info_email.vm_total_price + Info_email.storage_total_price  | number : '1.2-2'}}</td>
                        </tr>
                      </tbody>
                      <tbody>
                        <tr class="tr-2 tr-22">
                          <td class="td-1 td-22"></td>
                          <td class="td-2 td-22 hidden-xs"></td>
                          <td class="td-3 td-22 hidden-xs"></td>
                          <td class="td-4 td-22 hidden-xs">Fees(7%)</td>
                          <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan="3">Fees(7%)</td>
                          <td class="td-5 td-22 text-center">{{ Info_email.fees | number : '1.2-2' }}</td>
                        </tr>
                        <tr class="tr-2 tr-22">
                          <td class="td-1 td-22"></td>
                          <td class="td-2 td-22 hidden-xs"></td>
                          <td class="td-3 td-22 hidden-xs"></td>
                          <td class="td-4 td-22 hidden-xs">Total</td>
                          <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan=3>Total</td>
                          <td class="td-5 td-22 text-center">{{ Info_email.vm_total_price + Info_email.storage_total_price | number : '1.2-2'}}</td>
                        </tr>
                        <tr class="tr-2 tr-22">
                          <td class="td-1 td-22"></td>
                          <td class="td-2 td-22 hidden-xs"></td>
                          <td class="td-3 td-22 hidden-xs"></td>
                          <td class="td-4 td-22 hidden-xs">Invoice Total</td>
                          <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan="3">Invoice Total</td>
                          <td class="td-5 td-22 text-center">{{ Info_email.vm_total_price + Info_email.storage_total_price + Info_email.fees | number : '1.2-2' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>
      
              </div>
      
              <div>
      
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                  </div>
                  <div class="col-md-6 col-xs-6 xs-col-zz">
                    <div class="form-group form-group-zz" *ngIf="Info_email" [hidden]="CanCloseInvoTo">
                      <input type="text" class="form-control applysizee" value="{{ DetailInvoice.email }}">
                      <div class="col-sm-4">
                        <button type="button" class="goo" (click)="OnSendEmail(DetailInvoice.email,Info_email)" id="SavevSend">Save & Send</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-md-3">
      
            </div>
          </div>
      
        </div>
      </div>
    </div> 
  </div>
</div>