<div class="container w-100 p-0" style="margin-top:-20px;">
    <div class="row w-100 p-0">
        <!--<div class="col-md-1 w-100 p-0 sidebar">
            <ul class="nav nav-pills flex-column w-100 mb-5">
                <li class="p-3" style="background-color:#D6D6D6;">
                    <strong style="font-size:18px; color:black;">Quick results</strong>
                </li>
                <li class="p-3">
                    <div class="radio" (click)="checkLastHour()">
                        <label><input id="lasthour" type="radio" name="optradio" (checked)="checkLastHour()" checked></label><label class="p-0 label-checkbox">Last hour</label>
                    </div>
                    <div class="radio" (click)="checkLastDay()">
                        <label><input id="lastday" type="radio" name="optradio" (checked)="checkLastDay()"></label><label class="p-0 label-checkbox">Last day</label>
                    </div>
                    <div class="radio" (click)="checkLast3Day()">
                        <label><input id="last3day" type="radio" name="optradio" (checked)="checkLast3Day()"></label><label class="p-0 label-checkbox">Last 3 days</label>
                    </div>
                    <div class="radio" (click)="checkLastWeek()">
                        <label><input id="lastweek" type="radio" name="optradio" (checked)="checkLastWeek()"></label><label class="p-0 label-checkbox">Last week</label>
                    </div>
                    <div class="radio" (click)="checkLastMonth()">
                        <label><input id="lastmonth" type="radio" name="optradio" (checked)="checkLastMonth()"></label><label class="p-0 label-checkbox">Last month</label>
                    </div>
                </li>
                <div class="text-center"><button type="button" class="btn w-40 btn-display" (click)="displayQuick()">Display</button></div>
            </ul>
            <ul class="nav nav-pills flex-column w-100">
                <li class="p-3" style="background-color:#D6D6D6;">
                    <strong style="font-size:18px; color:black;">Custom results</strong>
                </li>
                <li class="p-3 w-50">
                    <p>From:</p>
                    <input size="16" type="text" class="start_date text-center" #startDate>
                    <p>To:</p>
                    <input size="16" type="text" class="end_date text-center" #endDate>
                </li>
                <div class="text-center"><button type="button" class="btn w-40 btn-display" (click)="displayDate(startDate, endDate)">Display</button></div>
            </ul>

        </div>-->
        <nav class="pushmenu pushmenu-left">
            <ul class="nav nav-pills flex-column w-100 mb-5">
                <li class="p-3" style="background-color:#D6D6D6;">
                    <strong style="font-size:18px; color:black;">Quick results</strong>
                </li>
                <li class="p-3 text-left">
                    <div class="radio" (click)="checkLastHour()">
                        <label><input id="lasthour" type="radio" name="optradio" (checked)="checkLastHour()" checked></label><label class="p-0 label-checkbox">Last hour</label>
                    </div>
                    <div class="radio" (click)="checkLastDay()">
                        <label><input id="lastday" type="radio" name="optradio" (checked)="checkLastDay()"></label><label class="p-0 label-checkbox">Last day</label>
                    </div>
                    <div class="radio" (click)="checkLast3Day()">
                        <label><input id="last3day" type="radio" name="optradio" (checked)="checkLast3Day()"></label><label class="p-0 label-checkbox">Last 3 days</label>
                    </div>
                    <div class="radio" (click)="checkLastWeek()">
                        <label><input id="lastweek" type="radio" name="optradio" (checked)="checkLastWeek()"></label><label class="p-0 label-checkbox">Last week</label>
                    </div>
                    <div class="radio" (click)="checkLastMonth()">
                        <label><input id="lastmonth" type="radio" name="optradio" (checked)="checkLastMonth()"></label><label class="p-0 label-checkbox">Last month</label>
                    </div>
                </li>
                <div class="text-center"><button type="button" class="btn w-40 btn-display" (click)="displayQuick()">Display</button></div>
            </ul>
            <ul class="nav nav-pills flex-column w-100">
                <li class="p-3" style="background-color:#D6D6D6;">
                    <strong style="font-size:18px; color:black;">Custom results</strong>
                </li>
                <li class="p-3 w-50 text-left" style="color:#ECF1E6;">
                    <p>From:</p>
                    <input size="16" type="text" class="start_date text-center" #startDate style="color:black;">
                    <br>
                    <br>
                    <p>To:</p>
                    <input size="16" type="text" class="end_date text-center" #endDate style="color:black;">
                </li>
                <div class="text-center"><button type="button" class="btn w-40 btn-display" (click)="displayDate(startDate, endDate)">Display</button></div>
            </ul>
        </nav>
        <div class="col-md-12 p-0 w-100" style="background-color:white;">
            <div class="container w-100 px-0">
                <div class="row" style="background-color:#F7F6F6;">
                    <section class="buttonset">
                        <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
                    </section>
                    <p class="text-left w-100 pt-1" id="report_period" style="font-size:18px;position:absolute;left:18%;">Hourly Report</p>
                </div>
                <div class="row p-0 bg-white">
                    <div class="col-md-5">
                        <p class="mt-2 mb-0" style="font-size:22px;text-align:center"><strong>SALES</strong></p>
                        <div class="text-center">
                            <span class="circle" id="emptyChart"></span>
                            <p id="noData">Sorry, no data info available</p>
                        </div>
                        <!--<div class="container">-->
                        <div class="px-5" id="pie_chart" [chartData]="pie_ChartData1" [chartOptions]="pie_ChartOptions1" chartType="PieChart" GoogleChart style="position:absolute;left:10%;"></div>
                        <!--</div>-->
                    </div>
                    <div class="col-md-7 px-3 py-4">
                        <p class="mt-2 mb-0" style="font-size:22px;text-align:center"><strong>NEW ORDERS</strong></p>
                        <div class="table-responsive table-scroll">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="bg-white">Client ID</th>
                                        <th class="bg-white">Transaction</th>
                                        <th class="bg-white">Pck type</th>
                                        <th class="bg-white">Pck details</th>
                                        <th class="bg-white">Price</th>
                                        <th class="bg-white">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of orders;let index = index" class="orders">
                                        <td [class.tbody1]=" index % 2 != 0">{{item.id}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.transaction}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.pck_type}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.pck_detail}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.price}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row p-0 bg-white">
                    <div class="col-md-5">
                        <!--<p class="mt-4 mb-0" style="font-size:22px;text-align:center"><strong>AMOUNT</strong></p>
                        <div id="pie_chart2" [chartData]="pie_ChartData2" [chartOptions]="pie_ChartOptions2" chartType="PieChart" GoogleChart></div>-->
                    </div>
                    <div class="col-md-7 bg-white px-3">
                        <p class="mt-2 mb-0" style="font-size:22px;text-align:center"><strong>NEW CLIENTS</strong></p>
                        <div class="table-responsive bg-white table-scroll">
                            <table class="table table-bordered table-striped bg-white">
                                <thead>
                                    <tr>
                                        <th class="bg-white">Client ID</th>
                                        <th class="bg-white">Name</th>
                                        <th class="bg-white">Surname</th>
                                        <th class="bg-white">Email</th>
                                        <th class="bg-white">Phone</th>
                                        <th class="bg-white">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of clients;let index = index">
                                        <td [class.tbody1]=" index % 2 != 0">{{item.id}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.name}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.surname}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.email}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.phone}}</td>
                                        <td [class.tbody1]=" index % 2 != 0">{{item.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>