$background_head_nav: gray;
ul>li {
    background-color: #636363;
    border-right: 1px solid #000000;
    color: #ffffff;
    &:active {
        color: #555;
    }
    &:hover {
        background-color: #d6d6d6;
    }
    a {
        height: 42px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 32px;
        color: #ffffff;
        &:active {
            color: #555;
        }
        &:visited {
            color: #fff;
        }
    }
}

.logout_css {
    cursor: pointer;
    padding: 19px 32px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -34px;
    margin-right: 15px;
    margin-bottom: 21px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-header {
    background: gray;
    width: 100%;
    height: 40px;
}

.navbar-default {
    margin-bottom: 20px;
    border-color: #636363;
    background-color: #636363;
    border: none;
    .container-fluid {
        height: 61px;
        padding: 0px;
    }
}

.navbar-group {
    height: inherit;
    width: 100%;
    background-color: #636363;
}

.navbar-brand {
    &:hover {
        color: #fff;
        cursor: pointer;
        outline: none;
    }
    color: #fff;
    float: left;
    height: 10px;
    padding: 0px 35px;
    line-height: 0px;
    font-weight: 600;
    font-size: 22px;
}

.nav-info {
    background: $background_head_nav;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    height: 40px !important;
    li {
        float: right !important;
        p {
            margin: 10px !important;
        }
        a {
            line-height: 0px !important;
        }
    }
}

.navbar-right {
    margin-right: 0px;
    li {
        &:nth-child(3) {
            width: 800px;
            text-align: right;
            &:hover {
                background-color: $background_head_nav;
            }
        }
        &:nth-child(1) {
            width: 87px;
            @media (min-width: 0px) and (max-width: 768px) {
                margin-right: 75px;
            }
        }
        background-color: $background_head_nav;
        font-size: 12px;
        height: 40px;
        &:hover {
            background-color: #606060;
        }
        .operator {
            padding-left: 5px;
            padding-right: 5px;
            font-weight: 600;
            font-size: 12px;
            color: #fff;
            &:hover {
                background-color: $background_head_nav;
            }
        }
        .operator-role {
            padding-left: 5px;
            span:nth-last-child(2) {
                font-size: 12px;
            }
        }
    }
    .quits {
        a {
            font-size: 12px;
            padding: 19px 32px;
        }
    }
    .settings>a {
        font-size: 12px;
        padding: 19px 32px;
    }
}

.navbar-fixed-top {
    position: sticky;
    right: 0;
    left: 0;
    z-index: 1030;
}

// @media (max-width: 1400px) {
//     ul>li {
//         background-color: #636363;
//         border-right: 1px solid #929292;
//         color: #ffffff;
//     }
//     .navbar-right li {
//         background-color: #636363;
//         font-size: 12px;
//         height: 61px;
//     }
//     .navbar-header {
//         float: none;
//     }
//     .navbar-left,
//     .navbar-right {
//         float: none !important;
//     }
//     .navbar-toggle {
//         display: block;
//     }
//     .navbar-fixed-top {
//         top: 0;
//         border-width: 0 0 1px;
//         position: sticky;
//     }
//     .navbar-collapse.collapse {
//         display: none!important;
//     }
//     .navbar-nav {
//         float: left;
//         margin-top: 20px;
//     }
//     .navbar-nav>li {
//         float: left;
//     }
//     .collapse.in {
//         display: block !important;
//     }
// }
.icon-bar {
    background-color: black !important;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}