<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 (click)="goHome()" class="navbar-brand">Awesta Management</h1>
            <!-- <a class="navbar-brand" [routerLink]="['/',Url.Clients]"><img src="assets/images/awesta-logo.png" alt="Awesta Logo"></a> -->
            <ul class="nav navbar-nav navbar-right nav-info">
                <li class="quits"><a class="logout_css" (click)="logout()">Quit</a></li>
                <li class="settings" (click)="removeInClass()" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Supervisor' || role == 'Operator'">
                    <a [routerLink]="['/',Url.changePassword]">Settings</a>
                </li>
                <li>
                    <p class="operator"> {{name}} <span>Role: </span><span>{{role}} | level</span></p>
                </li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse ">
            <div class="navbar-group">
                <div>
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor' || role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.Clients]">Clients</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor' || role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.invoices]">Invoices</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor' || role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.request]">Request</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor' || role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.Refund]">Refund</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor' || role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.Packages]">Packages</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor'"><a routerLinkActive="active" [routerLink]="['/',Url.Payments]">Payments</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor'"><a routerLinkActive="active" [routerLink]="['/',Url.Reports]">Report</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.Chatbot]">Chatbot</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin'"><a routerLinkActive="active" [routerLink]="['/',Url.Users]">Users</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'Supervisor' || role == 'Operator'"><a routerLinkActive="active" [routerLink]="['/',Url.Chats]">Chat</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Supervisor'"><a routerLinkActive="active" [routerLink]="['/',Url.ChatLogs]">Chat Logs</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin'"><a routerLinkActive="active" [routerLink]="['/',Url.Logs]">Logs</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Manager'"><a routerLinkActive="active" [routerLink]="['/',Url.Management]">Management</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor'"><a routerLinkActive="active" [routerLink]="['/',Url.Storage]">Storage</a></li>
                        <li routerLinkActive="active" *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor'"><a routerLinkActive="active" [routerLink]="['/',Url.Dashboard]">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>