$heigth_of_row:3em;
$background-border: #FFFFFF;
$width_control:90%;
$heigth_control:23px;
$border_color_control:#7a7a7a;
$color_placeholder:#999999;
$FFF:#FFFFFF;
.select {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: $width_control;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 20%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 14px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

.col-sm-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 11.667%;
}

label {
    font-size: 11px;
    color: $border_color_control; //Used same is border color
}

.applysize {
    width: $width_control !important;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    max-width: $width_control !important;
    border-radius: 0px;
    background-color: $FFF;
    border: 1px solid $border_color_control;
    padding: 1px;
    font-size: 14px;
    color: #606060;
}

.btnsearch {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 4px;
    width: 36%;
    max-width: 36%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

h5 {
    color: #7a7a7a;
    margin-top: 0px;
    &:nth-child(1) {
        margin-top: 10px;
    }
}

.expand {
    h6 {
        margin-left: 10px;
    }
    .detail {
        padding: 0px;
        .expand {
            table {
                thead>tr {
                    background-color: #e6e3e3;
                }
                background-color: #f7f6f6;
                width: 99%;
                margin: 5px auto 8px auto;
            }
        }
    }
}

table {
    color: #444444;
    font-size: 11px;
    thead {
        font-size: 11px;
        tr.expand {
            display: none;
        }
        tr {
            background-color: #cccccc;
            th {
                border: none;
                border-bottom-width: 0px;
            }
            td {
                border-bottom-width: 0px;
            }
        }
    }
}

.selected {
    background-color: #97da97 !important;
}

.tr-none {
    display: none;
}

.tr-table {
    display: table-row;
}

.material-icons {
    font-size: 12px;
}

.go {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 24px;
    width: 27%;
    margin-right: 5px;
    max-width: 27%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

@media (max-width:767px) {
    .input {
        width: 160px;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid $border_color_control;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .applysize {
        width: 160px !important;
        height: 23px !important;
        max-height: 23px !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid #7a7a7a;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .select {
        color: #999999;
        border: 1px solid #7a7a7a;
        border-radius: 0px;
        overflow: hidden;
        min-height: 23px;
        height: 23px;
        width: 160px;
        position: relative;
        display: block;
    }
}

th {
    text-align: left !important;
    padding: 7px !important;
    background-color: #cccccc !important;
    color: #444444 !important;
    font-size: 12px !important;
    border-left: 2px solid #444444 !important;
    border-right: 2px solid #444444 !important;
    font-weight: 400 !important;
}

tr {
    border-left: 2px solid #444!important;
    border-right: 2px solid #444!important;
}

td {
    border-left: 2px solid #444!important;
    border-right: 2px solid #444!important;
    border-bottom: 1px solid #fff !important;
    padding: 7px !important;
    padding-top: 12px !important;
    font-size: 12px !important;
}

table {
    border: 2px solid #444;
}

.tbody1 {
    background-color: #ebebeb !important;
}

.tbody2 {
    background-color: #FFFFFF !important;
}

.container-fluid {
    padding-top: 10px;
}

.set-css-clo-md-12 {
    margin-top: 11px;
}