<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <form [formGroup]="formReport">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Client ID:</label>
                        <input type="text" class="form-control applysize" formControlName="cust_id">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Package status:</label>
                        <div class="select">
                            <select formControlName="pck_status">
                                <option value="">All</option>
                                <option value="pa">paid</option>
                                <option value="pd">pending</option>
                                <option value="rm">remove</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="float: right;margin-right: 397px;">
                    <div class="form-group">
                        <label></label>
                        <button type="button" class="form-control btnsearch" (click)='btnReportFilters()'>Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 set-css-clo-md-12">
            <h5>Search results...</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped packagesInform oox">
                    <thead>
                        <tr>
                            <th>Package No</th>
                            <th>Type</th>
                            <th>Status</th>
                            <!-- <th>VM</th>
                            <th>Storage ALL</th>
                            <th>Storage Used</th> -->
                            <th>Specification</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Client ID</th>
                            <th>Name</th>
                            <th>Family</th>
                            <th>Company</th>
                            <th>Package Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let ReportAll of ReportDataAlls.data;let index = index">
                        <tr class="item-set item-{{ReportAll.pck_id}}" [class.tbody1]=" index % 2 != 0">
                            <td>{{ReportAll.pck_id}}</td>
                            <td>{{ReportAll.pck_type_name}}</td>
                            <td>{{datastatus[ReportAll.pck_status]}}</td>
                            <!-- <td>{{ReportAll.vm}}</td>
                            <td>{{ReportAll.storage}}</td>
                            <td>{{ReportAll.storage_used}}</td> -->
                            <td>{{ReportAll.vm}}VM/{{ReportAll.storage}}GB{{ReportVeeamAlls[ReportAll.username]}}</td>
                            <td>{{ReportAll.pck_start_dt| date :'dd.MM.yyyy'}}</td>
                            <td>{{ReportAll.pck_end_dt| date :'dd.MM.yyyy'}}</td>
                            <td>{{ReportAll.cust_id}}</td>
                            <td>{{ReportAll.firstname}}</td>
                            <td>{{ReportAll.lastname}}</td>
                            <td>{{ReportAll.company_name}}</td>
                            <td>
                                <button type="button" (click)="getDetailReport(ReportAll.username, ReportAll.pck_id)" class="btn btn-success btn-xs" #invoice><i class="material-icons">description</i> Report</button>
                            </td>
                        </tr>
                        <tr class="detail-{{ReportAll.username}} detail-set expand" style="display: none;">
                            <td colspan="13" class="detail">
                                <div class="expand" data-detail="1">
                                    <h6>Backup job information:</h6>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <td>TENANT NAME</td>
                                                <td>QUOTA</td>
                                                <td>FREE SPACE</td>
                                                <td>USED SPACE</td>
                                                <td>USED SPACE PERCENT</td>
                                                <td>LAST RESULT</td>
                                                <td>LAST ACTIVE</td>
                                                <td>REPOSITORY</td>
                                                <td>DESCRIPTION</td>
                                                <td>THROTTLING SPEED LIMIT</td>
                                                <td>THROTTLING SPEED UNIT</td>
                                                <td>BACKUP COUNT</td>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let item of ReportDataDetail.data">
                                            <tr>
                                                <td>{{item.TENANT_NAME}}</td>
                                                <td>{{item.QUOTA}}</td>
                                                <td>{{item.FREE_SPACE}}</td>
                                                <td>{{item.USED_SPACE}}</td>
                                                <td>{{item.USED_SPACE_Percent}}</td>
                                                <td>{{item.LAST_RESULT}}</td>
                                                <td>{{item.LAST_ACTIVE}}</td>
                                                <td>{{item.Repository}}</td>
                                                <td>{{item.DESCRIPTION}}</td>
                                                <td>{{item.ThrottlingSpeedLimit}}</td>
                                                <td>{{item.ThrottlingSpeedUnit}}</td>
                                                <td>{{item.BackupCount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>