$heigth_of_row:3em;
$background-border: #FFFFFF;
$width_control:90%;
$heigth_control:23px;
$border_color_control:#7a7a7a;
$background-body-color:#FFFFFF;
$color_placeholder:#999999;
.col-sm-2 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 11.667%;
}

h5 {
    color: $border_color_control; //Used same is border color
}

table {
    border: 2px solid #444444;
    color: #444444;
    font-size: 11px;
    margin-bottom: 15px;
    tr {
        td {
            button:nth-child(1) {
                width: 72.23px;
            }
            button:nth-child(2) {
                width: 126.42px;
            }
            button:nth-child(3) {
                width: 125.86px;
            }
        }
    }
    tr {
        td {
            border-right: 2px solid #444444;
        }
        th {
            border: none;
        }
    }
    thead {
        font-size: 11px;
        tr {
            background-color: #cccccc;
            th {
                border: none;
                border-bottom-width: 0px;
            }
            td {
                border-right: 2px solid #444444;
                border-bottom-width: 0px;
            }
        }
    }
}

.material-icons {
    font-size: 17px;
    vertical-align: middle;
}

label {
    font-size: 11px;
    color: $border_color_control; //Used same is border color
}

.applysize {
    width: $width_control !important;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    max-width: $width_control !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid $border_color_control;
    padding: 1px;
    font-size: 14px;
    color: #606060;
}

.btnsearch {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 4px;
    width: 31px;
    max-width: 31px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.select {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: $width_control;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 15%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 14px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

.go {
    border-radius: 0px;
    border: 1px solid $border_color_control;
    height: $heigth_control !important;
    max-height: $heigth_control !important;
    margin-top: 4px;
    width: 27%;
    margin-right: 5px;
    max-width: 21%;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    &.form-control {
        padding: 0px 0px;
    }
}

.set-css-new {
    margin-left: -182px;
    margin-top: -2px;
}

@media (max-width:991px) {
    .set-css-new {
        margin-left: 0px;
        width: 68%;
    }
}

@media (max-width:767px) {
    .input {
        width: 160px;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid $border_color_control;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .applysize {
        width: 160px !important;
        height: 23px !important;
        max-height: 23px !important;
        max-width: 160px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid #7a7a7a;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .select {
        color: #999999;
        border: 1px solid #7a7a7a;
        border-radius: 0px;
        overflow: hidden;
        min-height: 23px;
        height: 23px;
        width: 160px;
        position: relative;
        display: block;
    }
}


/*###########################################################################################################*/

// #sidebar-wrapper {
//     background: #C0C0C0;
//     height: 100%;
//     position: fixed;
//     padding-top: 20px;
//     margin-left: 0px;
//     margin-top: -20px;
//     z-index: 10000;
//     .sidebar_menu {
//         padding: 0px;
//         margin-bottom: 60px;
//         span {
//             cursor: pointer;
//             text-indent: 5px; //12px;
//             font-size: 22px;
//             font-weight: 600;
//             margin-right: 10px;
//             float: right;
//         }
//     }
//     ul.menu-list {
//         width: 234px;
//         padding: 0px;
//         display: none;
//         li {
//             list-style-type: none;
//             font-size: 18px;
//             font-weight: 600;
//             line-height: 40px;
//             font-size: 16px;
//             cursor: pointer;
//             text-indent: 24px;
//             a {
//                 color: #606060;
//                 display: block;
//                 text-decoration: none;
//                 width: 100%;
//                 background: #C0C0C0;
//                 -webkit-transition: background .5s;
//                 -moz-transition: background .5s;
//                 -o-transition: background .5s;
//                 -ms-transition: background .5s;
//                 transition: background .5s;
//                 &:hover {
//                     color: #606060;
//                     background: #eee;
//                     text-decoration: none;
//                 }
//                 &:active {
//                     text-decoration: none;
//                 }
//                 &:focus {
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }
// .active {
//     background: #9c9c9c;
// }
.container-fluid {
    padding-right: initial;
    padding-left: initial;
}

.pushmenu {
    background: #444;
    text-align: center;
    width: 300px;
    height: 100%;
    top: 112px; //48px;
    z-index: 1000;
    position: fixed;
    //position: absolute;
    h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 15px 25px;
        margin: 0;
        background: #333;
        height: 16px;
    }
}

.links {
    padding: 0;
    text-align: left;
    width: 100%;
    li {
        margin-top: 0px;
        cursor: pointer;
        list-style-type: none;
        // &:hover {
        //     color: #606060;
        //     background: #eee;
        //     text-decoration: none;
        // }
        // &:active {
        //     text-decoration: none;
        //     color: #606060;
        //     background: #eee;
        // }
        // &:focus {
        //     text-decoration: none;
        //     color: #606060;
        //     background: #eee;
        // }
        span {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 14px;
        }
        a {
            position: relative;
            display: block;
            color: #f1f1f1;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            padding: 14px;
            // &:hover {
            //     color: #606060;
            //     background: #eee;
            //     text-decoration: none;
            // }
            // &:active {
            //     text-decoration: none;
            // }
            // &:focus {
            //     text-decoration: none;
            // }
            // &:active {
            //     color: #dbdbdb;
            // }
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 20px;
                bottom: 0px;
                width: 0;
                height: 3px;
                background-color: #f1f1f1;
                -webkit-transition: width 0.3s ease;
                -moz-transition: width 0.3s ease;
                transition: width 0.3s ease;
            }
            &:hover:after {
                width: 80%;
            }
        }
    }
}

.pushmenu-left {
    left: -300px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    left: 0;
    margin-top: -20px;
}

//.pushmenu-push-toright { //left: 300px; }
.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#nav_list {
    height: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#nav-list.active {
    background-position: -331px top;
}

.buttonset {
    background: #00A287;
    color: #fff;
    height: 32px;
    width: 109px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border-bottom-right-radius: 30px;
    .material-icons {
        font-size: 30px;
    }
}

section.content {
    padding: 10px 15px;
}

th {
    text-align: left !important;
    padding: 7px !important;
    background-color: #cccccc !important;
    color: #444444 !important;
    font-size: 12px !important;
    border-left: 2px solid #444444 !important;
    border-right: 2px solid #444444 !important;
    font-weight: 400 !important;
}

tr {
    border-left: 2px solid #444!important;
    border-right: 2px solid #444!important;
}

td {
    border-left: 2px solid #444!important;
    border-right: 2px solid #444!important;
    border-bottom: 1px solid #fff !important;
    padding: 7px !important;
    padding-top: 12px !important;
    font-size: 12px !important;
}

table {
    border: 2px solid #444;
    border-collapse: collapse
}

.tbody1 {
    background-color: #ebebeb !important;
}

.tbody2 {
    background-color: #FFFFFF !important;
}

.Search-col-md-12 {
    margin-top: 0px;
}

.modal-content {
    padding: 10px;
    color: #7a7a7a;
    background-color: #d2d2d2;
    border-radius: 0px;
}

.text-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.close {
    span {
        padding-right: 10px;
    }
}

.text-box {
    margin-top: 30px;
    margin-left: 120px;
}

.text-boxx {
    margin-top: 30px;
    margin-left: 50px;
}

.btn-btn {
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    height: 23px !important;
    max-height: 23px !important;
    margin-top: 4px;
    width: 100px;
    max-width: 110px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    margin: 0px 0px 0px 100px;
    line-height: 23px;
    padding: 0px 0px;
}

.pushmenu-left {
    left: -300px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    left: 0;
    margin-top: -20px;
}

//.pushmenu-push-toright { //left: 300px; }
.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.pushmenu {
    background: #444;
    text-align: center;
    width: 300px;
    height: 100%;
    top: 112px; //48px;
    z-index: 1000;
    position: fixed;
    //position: absolute;
    h3 {
        color: #f1f1f1;
        font-size: 1.3em;
        font-weight: 400;
        padding: 15px 25px;
        margin: 0;
        background: #333;
        height: 16px;
    }
}

.mid-lawta {
    $heigth_of_row: 3em;
    $background-border: #FFFFFF;
    $width_control: 200px;
    $heigth_control: 23px;
    $border_color_control: #7a7a7a;
    $background-body-color: #FFFFFF;
    $color_placeholder: #999999;
    $main-color: #969696;
    .modal-content {
        border-radius: 0px;
    }
    .label-add {
        position: absolute;
        margin-left: -71px;
    }
    .text-title {
        text-align: center;
        font-size: 23px;
        font-weight: 800;
    }
    .pass_css {
        cursor: pointer;
    }
    .input {
        width: 137px !important;
        height: 23px !important;
        max-height: 23px !important;
        max-width: 200px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid #7a7a7a;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    .selection {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: $width_control;
        position: relative;
        display: block;
        &::after {
            content: "▼";
            padding: 2px 0px;
            position: absolute;
            background-color: #e6e6e6;
            right: 0px;
            top: 0;
            z-index: 1;
            text-align: center;
            width: 10%;
            min-height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-left: 1px solid;
        }
        select option {
            color: black;
        }
        select.empty {
            color: #A5A5C2;
        }
        select option[disabled]:first-child {
            display: none;
        }
        select {
            min-height: $heigth_control;
            height: $heigth_control;
            padding-left: 3px;
            background-color: #fff;
            border: 0px solid #7A7A7A;
            font-size: 12px;
            width: $width_control;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #606060;
        }
    }
    .selects {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: 80%;
        position: relative;
        display: block;
        &::after {
            content: "▼";
            padding: 2px 0px;
            position: absolute;
            background-color: #e6e6e6;
            right: 0px;
            top: 0;
            z-index: 1;
            text-align: center;
            width: 15%;
            min-height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-left: 1px solid;
        }
        select option {
            color: black;
        }
        select.empty {
            color: #A5A5C2;
        }
        select option[disabled]:first-child {
            display: none;
        }
        select {
            min-height: $heigth_control;
            height: $heigth_control;
            padding-left: 10px;
            background-color: #fff;
            border: 0px solid #7A7A7A;
            font-size: 12px;
            width: $width_control;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #606060;
        }
    }
    .select-input {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: 137px;
        position: relative;
        display: block;
        &::after {
            content: "▼";
            padding: 2px 0px;
            position: absolute;
            background-color: #e6e6e6;
            right: 0px;
            top: 0;
            z-index: 1;
            text-align: center;
            width: 30%;
            min-height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-left: 1px solid;
        }
        select option {
            color: black;
        }
        select.empty {
            color: #A5A5C2;
        }
        select option[disabled]:first-child {
            display: none;
        }
        select {
            min-height: $heigth_control;
            height: $heigth_control;
            padding-left: 10px;
            background-color: #fff;
            border: 0px solid #7A7A7A;
            font-size: 12px;
            width: $width_control;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #606060;
        }
    }
    .btn-btn {
        border-radius: 0px;
        border: 1px solid #7a7a7a;
        height: 23px !important;
        max-height: 23px !important;
        margin-top: 4px;
        width: 100px;
        max-width: 110px;
        text-align: center;
        vertical-align: middle;
        background-color: #e6e6e6;
        font-size: 12px;
        color: #606060;
        margin: 0px 0px 0px 12px;
        line-height: 23px;
        padding: 0px 0px;
    }
    .form-group {
        margin-bottom: 0px;
        margin-top: 15px;
    }
    .modal-content {
        padding: 10px;
        color: #7a7a7a;
        background-color: #d2d2d2;
    }
    .set-stay {
        margin-right: -50px;
    }
    .icon-pass {
        position: absolute;
        z-index: 14;
        margin-left: -20px;
        font-size: 17px;
        margin-top: 3px;
    }
    .close {
        margin-right: 72px;
    }
    .pin {
        width: 23px !important;
        height: 23px !important;
        max-height: 23px !important;
        max-width: 200px !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid #7a7a7a;
        padding: 1px;
        font-size: 14px;
        color: #606060;
        text-align: center;
    }
    .pin-group {
        width: 162px;
        margin-top: 0px;
        margin-left: 13px;
    }
    .set-col-xs-2 {
        width: 23px;
        padding-right: 0;
        padding-left: 0;
    }
    .row {
        margin-top: 20px;
    }
}
.modal-dialog{
    width: 550px;
}
.loadingbox {
    padding: 20%;
}