<div class="container-fluid">
  <div class="row">
    <form [formGroup]='formFilterUpgrade'>
      <div class="col-sm-12 col-md-9">
        <div class="col-sm-2">
          <div class="form-group">
            <label>Client ID:</label>
            <input type="text" class="form-control applysize" formControlName="client_id">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control applysize" formControlName="email">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Invoice ID:</label>
            <input type="text" class="form-control applysize" formControlName="invoice_id">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Package status:</label>
            <div class="select">
              <select formControlName="package_status">
                            <option value="">All</option>
                      </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 set-css-new">
        <div class="col-sm-12">
          <div class="form-group">
            <br>
            <button type="submit" class="go" value="Submit" (click)="Gofilter()">Go</button>
            <button type="reset" class="go" value="Reset" (click)="OnClear()">Clear</button>
            <button type="button" class="go" (click)="onSaveFileCSV()">Export</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 Search-col-md-12">
      <h5>Search results...</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Package No</th>
              <th>Package type</th>
              <th>Package status</th>
              <th>Client ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>Family</th>
              <th>Company</th>
              <th>Created</th>
              <th>Current storage</th>
              <th>Current VM</th>
              <th>New storage</th>
              <th>New VM</th>
              <th>New Invoice ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <tr *ngFor="let Allrequests of Allrequest | pagination:20" >
                <ng-container *ngIf="Allrequests.pck_status == 're'">
                  <td>{{ Allrequests.vcc_id }}</td>
                  <td>{{Allrequests.pck_type_name }}</td>
                  <td>Resize</td>
                  <td>{{Allrequests.cust_id }}</td>
                  <td>{{Allrequests.email}}</td>
                  <td>{{Allrequests.firstname}}</td>
                  <td>{{Allrequests.lastname}}</td>
                  <td>{{Allrequests.company_name}}</td>
                  <td>manually</td>
                  <td>{{Allrequests.storage}}</td>
                  <td>{{Allrequests.vm}}</td>
                  <td>{{Allrequests.new_storage}}</td>
                  <td>{{ Allrequests.new_vm}}</td>
                  <td>{{ Allrequests.pck_id_ref}}</td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" (click)="removeItem(Allrequests.pck_id)"><i class="material-icons">delete</i>remove</button>
                    <button type="button" class="btn btn-success btn-xs" (click)="updatePackage(Allrequests)"><i class="material-icons">edit</i>upgrade package</button>
                  </td>
                </ng-container>
              </tr>
          </tbody>
        </table>
        <pagination [items]="Allrequest"></pagination>
      </div>
    </div>
  </div>
</div>
<div class="modal fade mid-lawta" tabindex="-1" role="dialog" id="updatedialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document" *ngIf="ObjgenerateInUP">
    <div class="modal-content">
      <div class="set-stay">
        <form>
            <div class="divLoding" id="WaitLoding">
                <div class="loadingbox">
                  <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <span>Loading...</span>
                  </div>
                </div>
              </div>
          <div class="row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="col-md-12 text-title">Upgrade package</div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-1" style="padding:20px;">
              <div class="form-group">
                Start date:
                <input type="date" class="form-control input">
              </div>
              <div class="form-group">
                new storage:
                <input type="text" class="form-control input" value="{{ ObjgenerateInUP.new_storage }}" #storage2 disabled>
              </div>
              <div class="form-group">
                New VM:
                <input type="text" class="form-control input" value="{{ ObjgenerateInUP.new_vm }}" #vm2 disabled>
              </div>
              <div class="row " style="margin-top: 100px;margin-bottom: 20px;">
                <button type="button" class="btn btn-btn" (click)="GoToUpgrade()">GO</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
