<div class="rpt-container">
    <div class="Activity">
        <h5>Activity</h5>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Access Type</th>
                    <th>Location</th>
                    <th>Date/Time</th>
                </tr>
            </thead>
            <tr *ngFor="let item of activitysJ.data">
                <td>{{ item.browser }}</td>
                <td>{{ item.Placelocation }}</td>
                <td>{{ item.DateTimeDiff }}</td>
            </tr>
        </table>
    </div>
    <div class="Payments">
        <h5>Payments</h5>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>PAYMENT ID</th>
                    <th>DUE DATE</th>
                    <th>TOTAL</th>
                    <th>OUTSTANDING</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tr *ngFor="let item of paymentsJ.data">
                <td>{{ item.PAYMENT_ID }}</td>
                <td>{{ item.DUEDATE }}</td>
                <td>${{ item.TOTAL|| 0.00 }}</td>
                <td>${{ item.OUTSTANDING || 0.00 }}</td>
                <td>{{ item.STATUS }}</td>
            </tr>
        </table>
    </div>
    <div class="Backups">
        <h5>Backups</h5>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Date/Time</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>MBs</th>
                    <th>Warnings</th>
                    <th>Errors</th>
                </tr>
            </thead>
            <tr>
                <td>59</td>
                <td>04/25/2017 13:45:00</td>
                <td>01:35:43</td>
                <td>Success</td>
                <td>207.5</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>58</td>
                <td>04/25/2017 13:45:00</td>
                <td>01:35:43</td>
                <td>Error</td>
                <td>0</td>
                <td>3 view</td>
                <td>1 view</td>
            </tr>
            <tr>
                <td>57</td>
                <td>04/25/2017 13:45:00</td>
                <td>01:35:43</td>
                <td>Success</td>
                <td>207.5</td>
                <td>No</td>
                <td>No</td>
            </tr>
        </table>
    </div>
</div>