.rpt-container {
    max-height: 680px;
    height: 680px;
    h5 {
        margin-top: 10px;
        margin-bottom: 2px;
    }
    background: #ffffff;
    table {
        line-height: 20px;
        font-size: 10px;
        border-collapse: collapse;
        tr:nth-child(even) {
            background-color: #ECECEC;
        }
        th,
        td {
            border: 2px solid black;
            color: #000000;
            padding: 4px;
            text-align: center;
        }
    }
    .Activity {
        margin-bottom: 20px;
    }
    .Payments,
    .Backups {
        margin-bottom: 20px;
        table {
            width: 100%;
        }
    }
}

hr {
    border: none;
    height: 2px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #929292;
    background-color: #929292;
}