.veaam {
    .total-price {
        height: 38px;
    }
    .col-sm-8 {
        span {
            font-weight: 700;
        }
    }
    .form-control {
        font-size: 18px;
        font-weight: 500;
    }
    .has-feedback .form-control {
        padding-right: initial;
    }
    .form-inline {
        .form-control-feedback {
            line-height: 40px;
            font-size: 32px;
            font-weight: 500;
        }
        .help-block {
            margin-top: -67px;
            text-align: center;
            font-size: 16px;
        }
        .control-label {
            text-align: left;
        }
        select {
            width: 100%;
            border-radius: 0px;
            height: 40px;
            outline: none;
            border: 0px solid #FFFFFF;
        }
        input {
            width: 100%;
            border-radius: 0px;
            height: 40px;
            outline: none;
            border: 0px solid #FFFFFF;
        }
        input[type="text"] {
            background: #FFFFFF;
            border: 0px solid #FFFFFF;
            outline: none;
        }
        input[type="button"],
        input[type="submit"] {
            padding: unset;
            border: 0px solid #aaaaaa;
            background: #aaaaaa;
            color: #000;
            font-size: 16px;
            outline: none;
        }
    }
}

#myModal {
    padding: 0px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
}

.row {
    padding: 0px;
    margin: 0px;
}

.xxx {
    z-index: 3;
    background-color: #ebebeb;
    position: absolute;
    height: 100%;
    width: 60%;
    padding-top: 200px;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #aaeeff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ebebeb;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}