<div class="container">

    <form [formGroup]="veeambackup" (submit)="submitCreateInvoice()" class="non-printable form-horizontal veaam">
        <div class="form-group form-inline">
            <div class="col-sm-3">
                <h2>Add Veeam Backup</h2>
            </div>
        </div>
        <div class="form-group form-inline has-feedback" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="ClientID" class="col-sm-2 control-label">Client ID:*</label>
            <div class="col-sm-8">
                <input OnlyNumber="true" class="form-control" (keypress)="EnterClient($event)" formControlName="ClientId" placeholder="Enter Client Id" value={{items}}>
                <i *ngIf="isValid" class="material-icons form-control-feedback">done</i>
                <i *ngIf="!isValid" class="material-icons form-control-feedback">close</i>
                <span *ngIf="!isValid" class="help-block">Client not found</span>
                <validation class="help-block" [control]="veeambackup.controls['ClientId']"></validation>
            </div>
            <div class="col-sm-2">
                <input type="button" (click)="getClientInfo()" class="form-control" value="Find">
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Email" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.email || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.firstname || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="LastName" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.lastname || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Phonenumber" class="col-sm-2 control-label">Phone number:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.phone_num || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="AddressPrefix" class="col-sm-2 control-label">Address Prefix:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.address || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="City" class="col-sm-2 control-label">City:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.city || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Stateprovince" class="col-sm-2 control-label">State/province:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.province || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Country" class="col-sm-2 control-label">Country:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.country || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Postcode" class="col-sm-2 control-label">Postcode:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.post_code || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="StorageGB" class="col-sm-2 control-label">Storage (GB):</label>
            <div class="col-sm-4">
                <select class="form-control" (change)="CalPricePackages()" formControlName="StorageGB" id="Quntity">
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="1500">1500</option>
                  <option value="2000">2000</option>
                  <option value="2500">2500</option>
                  <option value="3000">3000</option>
                  <option value="3500">3500</option>
                  <option value="4000">4000</option>
                  <option value="4500">4500</option>
                  <option value="5000">5000</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" (change)="CalPricePackages()" formControlName="StorageBrand" id="StorageBrand">
                  <option value="false">QNAP</option>
                  <option value="true">HP</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="VMs" class="col-sm-2 control-label">VMs:</label>
            <div class="col-sm-4">
                <select class="form-control" (change)="CalPricePackages()" formControlName="VMsQty" id="VMs">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label OnlyNumber="true" class="total-price form-control">{{ (CalData.total_price || 0) | currency:'USD':true }}/month</label>
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="VIEWINVOICE" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                  <input type="checkbox" formControlName="SendInvoice"> Send invoice via email
                </label>
                </div>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="VIEWINVOICE" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <input type="button" class="form-control btn btn-default" [disabled]="!previewStatus" (click)="PreviewInvoice()" data-toggle="modal" data-target="#invoiceView" value="VIEW INVOICE">
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{ 'has-success':isValid, 'has-error':!isValid}">
            <label for="CREATE" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <input type="submit" class="form-control" value="CREATE">
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="invoiceView" tabindex="-1" role="dialog" aria-labelledby="invoiceViewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header non-printable">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="body-div">
                    <bill-invoices [invoice]=invoiceDetail></bill-invoices>
                </div>
            </div>
        </div>
    </div>
</div>