<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="box">

                <div class="boox">
                    <form [formGroup]='formsigninpin'>
                        <Notification [(message)]="message"></Notification>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-top">PIN</p>
                            </div>
                        </div>
                        <br>
                        <div class="row row-pin">
                            <div class="col-md-12">
                                <div class="form-group pin-group" formArrayName="pin">
                                    <div class="pin-group">
                                        <ng-container *ngFor="let control of getFormArray; let index = index">
                                            <input type="password" class="form-control pin inputs-{{index}}" (keypress)="onKeyin($event,index)" (keyup)="onKeydow($event,index)" [formControlName]="index" maxlength="1">
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <button type="button " class="btn btn-btn" (click)="ok()">OK</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>