<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="box">

                <div class="boox">
                    <form [formGroup]='formsignin' (keydown)="keyDownFunction($event)">

                        <Notification [(message)]="message"></Notification>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-top">Log In {{errorNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-labal">Log In
                                    </div>
                                    <div class="col-md-6 div-text-1">
                                        <div class="col-md-12"><input type="text" class="form-control input" id="username" formControlName="username"></div>
                                    </div>


                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-labal">PassWord
                                    </div>
                                    <div class="col-md-6 div-text-2">
                                        <div class="col-md-12"><input type="password" class="form-control input" id="password" formControlName="password"></div>
                                    </div>
                                </div>


                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="text-labal">Role
                                    </div>
                                    <div class="col-md-6 div-text-3">
                                        <div class="select-input">
                                            <select formControlName="role">
                              <option value="Admin">Admin</option>
                               <option value="Manager">Manager</option>
                            <option value="Supervisor">Supervisor</option>
                            <option value="Operator">Operator</option>
                            <option value="SuperAdmin">SuperAdmin</option>
                          </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12"><input type="text" class="form-control input" id="username" formControlName="username"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12"><input type="password" class="form-control input" id="password" formControlName="password"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="select-input">
                                            <select formControlName="role">
                              <option value="Admin">Admin</option>
                            <option value="Supervisor">Supervisor</option>
                            <option value="Operator">Operator</option>
                            <option value="SuperAdmin">SuperAdmin</option>
                          </select>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="form-group ">
                                    <button type="button" class="btn btn-btn" (click)="cancel()">Cancel</button>
                                    <button type="button" class="btn btn-btn" (click)="login()">Log In</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>