<div class="container-fluid">
    <div class="group-users">
        <div class="row active-chat">
            <strong id="op_status">Available on Chat</strong><span class="brand">(9T_Backup)<!--<input type="checkbox" checked data-toggle="toggle">--></span>
            <input type="checkbox" name="onoffswitch1" id="myonoffswitch1" checked>
        </div>
        <hr>
        <div class="chat-body">
            <div class="row active-chat">
                <strong>Incoming Chat</strong>
            </div>
            <div class="incommining">
                <ng-container *ngFor="let item of usersIncomes">
                    <div class="row messages link" *ngIf="item.InChat == Room.Income && active == true" (click)="onSelectYourChatBox(item)">
                        <span class="msg-user pull-left">
                        {{ item.User.name }} 
                        <span *ngIf="item.Type == UserType.UnUser">(Guest)</span>
                        </span>
                        <span class="msg-qty pull-right">
                        {{ userMessages(item.Messages).length }}
                    </span>
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="row active-chat">
                <strong>Your Chats</strong>
            </div>
            <div class="current-chat">
                <ul class="ca-menu">
                    <ng-container *ngFor="let item of service.usersYourchats">
                        <li [ngClass]="{'active': item.IsChat}">
                            <a (click)="onStartChat(item)">
                                <div class="ca-content">
                                    <span class="ca-main pull-left" [ngClass]="{'text-danger': item.StopChat, 'text-success': item.StartChat}">
                                        {{ item.User.name }}
                                        <span *ngIf="item.Type == UserType.UnUser">(Guest)</span>
                                    </span>
                                    <span class="ca-sub pull-right">
                                        {{ item.LastMessagesCount || 0 }}/{{ userMessages(item.Messages).length }}
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <hr>
            <div class="row active-chat">
                <strong>Operators</strong>
            </div>
            <div class="current-chat">
                <ul class="ca-operators">
                    <li *ngFor="let item of operators; let index = index">
                        <a>
                            <div class="ca-content">
                                <span class="ca-main pull-left">
                                    Operator{{index + 1}}  ({{item.User.name}})
                                </span>
                                <span class="ca-sub pull-right">
                                    <i class="material-icons oper-online">lens</i>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="row active-chat">
                <strong>Websites</strong>
            </div>
            <div class="current-chat">
                <ul class="ca-web">
                    <li class="active">
                        <a>
                            <div class="ca-content">
                                <span class="ca-main pull-left">9T_Backup</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="ca-content">
                                <span class="ca-main pull-left">Payan</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <i (click)="openAvaible()" class="fa fa-chevron-circle-left nav-active-right" aria-hidden="true"></i>
    <div class="group-mains">
        <div class="panel-body text-center text-uppercase" *ngIf="!userInChat">
            <h3>backoffice chat board</h3>
            <p>Please select user for chat</p>
        </div>
        <div class="container" *ngIf="userInChat">
            <div class="row inform-cust">
                <div class="col-md-10 col-md-offset-1 details">
                    <!--For UnUser login-->
                    <table *ngIf="userInChat.Type == UserType.UnUser">
                        <tr>
                            <td>Client name:</td>
                            <td>
                                {{ userInChat.User.name }}
                            </td>
                            <td>Client company:</td>
                            <td>(Guest)</td>
                        </tr>
                        <tr>
                            <td>Client family:</td>
                            <td>
                                {{ userInChat.User.name }}
                            </td>
                            <td>Client city:</td>
                            <td>(Guest)</td>
                        </tr>
                        <tr>
                            <td>Client ID:</td>
                            <td>(Guest)</td>
                            <td>Client address:</td>
                            <td>(Guest)</td>
                        </tr>

                        <tr>
                            <td>Client email:</td>
                            <td>
                                {{ userInChat.User.email }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Client phone:</td>
                            <td>(Guest)</td>
                            <td>Clients IP:</td>
                            <td>
                                {{ userInChat.IpAddress }} (Thailand) <i class="material-icons" (click)='place(userInChat.IpAddress)'>place</i>
                            </td>
                        </tr>
                    </table>
                    <!--For User login-->
                    <table *ngIf="userInChat.Type == UserType.User">
                        <tr>
                            <td>Client name:</td>
                            <td>
                                {{ userInChat.Address.firstname }}
                            </td>
                            <td>Client company:</td>
                            <td>
                                {{ userInChat.Address.company_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>Client family:</td>
                            <td>
                                {{ userInChat.Address.lastname }}
                            </td>
                            <td>Client city:</td>
                            <td>
                                {{ userInChat.Address.province }}
                            </td>
                        </tr>
                        <tr>
                            <td>Client ID:</td>
                            <td>
                                {{ userInChat.UserRef }}
                            </td>
                            <td>Client address:</td>
                            <td>
                                {{ userInChat.Address.address1 }}
                            </td>
                        </tr>

                        <tr>
                            <td>Client email:</td>
                            <td>
                                {{ userInChat.User.email }}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Client phone:</td>
                            <td>
                                {{ userInChat.Address.phone_num }}
                            </td>
                            <td>Clients IP:</td>
                            <td>
                                {{ userInChat.IpAddress }} (Thailand) <i class="material-icons" (click)='place(userInChat.IpAddress)'>place</i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row inform-media">
                <div class="col-md-10 col-md-offset-1 details">
                    <i class="material-icons" (click)="onShowHistoryLog(userInChat)">speaker_notes</i>
                    <i class="material-icons">videocam</i>
                    <i class="material-icons" (click)="oncloseChatRoom()">block</i>
                </div>
            </div>
            <div class="chat-group" [Scrollbar]>
                <div class="chat-group-body">
                    <div class="start-conversation" *ngIf="userInChat.StartChat">
                        <h2 class="background">
                            <span>Start conversation on {{ userInChat.StartChat | date : 'hh:mm:ss a, dd/MM/yyyy' }}</span>
                        </h2>
                    </div>
                    <ng-container *ngFor="let item of userInChat.Messages">
                        <div [ngClass]="{'chat-messages': item.UserType == UserType.User, 'chat-messages-revers': item.UserType == UserType.Operator}">
                            <div class="portrait-prefix">
                                {{item.User.name[0]}}
                            </div>
                            <div class="body-log">
                                <div class="info-name">
                                    {{ item.User.name }}
                                    <span>{{ item.Time | date : 'hh:mm:ss a' }}</span>
                                </div>
                                <div class="message-body">
                                    {{ item.Message }}
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <div class="keytype" *ngIf="inKeying">
                        {{ userInChat.User.name }} typing...
                    </div>
                </div>

                <div class="row start-conversation" *ngIf="userInChat.StopChat">
                    <br>
                    <h2 class="background"><span>Chat closed at {{ userInChat.StopChat | date : 'hh:mm:ss a, dd/MM/yyyy' }}</span></h2>
                </div>
            </div>
            <div class="row inform-typing">
                <div class="boxpim">
                    <div class="col-sm-1 col-md-1 typping" (click)="message.value = null"><span>Clear</span></div>
                    <input [disabled]="userInChat.StopChat" id="chatBox" type="text" (keypress)="onOpKeying($event)" #message (keyup.enter)="onOpSendMessage(message)" class="col-sm-5 col-md-5 typping" placeholder="We hope our conversation was helpful, have a nice day" />
                    <div class="col-sm-1 col-md-1 typping" (click)="onOpSendMessage(message)"><span>Send</span></div>
                    <div class="assignto col-sm-1 col-md-1 typping" data-toggle="modal" href="#assignModal"><span>Assign to </span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-answers">
        <div class="row"><i (click)="openAvaible()" class="fa fa-chevron-circle-right nav-active-left" aria-hidden="true"></i></div>
        <div class="row">
            <div class="group-rate">
                <div class="pull-left">
                    <span>Rate : </span>
                    <span>{{rateCount}} / {{scoreAvg}}</span>
                </div>
                <div class="pull-right">
                    <span>No rate : </span>
                    <span>{{notRateCount}}</span>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="group-rate">
                <div class="pull-left">
                    <span>Active chats:</span>
                </div>
                <div class="pull-right">
                    <span>{{usersYourchats_Active.length}}</span>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="group-rate auto-ans">
                <div class="pull-left"><span>Auto answers</span></div>
                <div class="pull-right">
                    <a data-toggle="modal" href="#answerModal">Add</a>
                </div>
                <br><br>
                <div class="pull-left">
                    <div class="man-icon">
                        <strong>
                            <a class="header "href="#greeting" data-toggle="collapse">HI</a>
                        </strong>
                    </div>
                </div>
                <div class="header">
                    <span style="margin-left:10px;" href="#greeting" data-toggle="collapse">Greeting</span>
                </div>
                <ul class="pull-left collapse" id="greeting">
                    <li *ngFor="let data of GreetingDataAlls"><span class='line'></span><span class='list'></span>
                        <div class="blob" data-toggle="modal" href="#editModal" (click)="editSentence(data.sentence, data.group)">
                            {{data.sentence}}</div>
                        <i class="material-icons add" (click)="selectSentence(data.sentence)">add_box</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="group-rate auto-ans">
                <div class="pull-left">
                    <div class="payment-icon">
                        <a class="header" href="#paymentMethod" data-toggle="collapse">
                            <i class="material-icons">attach_money</i>
                        </a>
                    </div>
                </div>
                <div class="header">
                    <span style="margin-left:10px;" href="#paymentMethod" data-toggle="collapse">Payments</span>
                </div>
                <ul class="pull-left collapse" id="paymentMethod">
                    <li *ngFor="let data of PaymentDataAlls"><span class='line'></span><span class='list'></span>
                        <div class="blob" data-toggle="modal" href="#editModal" (click)="editSentence(data.sentence, data.group)">
                            {{data.sentence}}</div>
                        <i class="material-icons add" (click)="selectSentence(data.sentence)">add_box</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="group-rate auto-ans">
                <div class="pull-left">
                    <div class="setting-icon">
                        <a class="header" href="#option" data-toggle="collapse">
                            <i class="material-icons setting">settings</i>
                        </a>
                    </div>
                </div>
                <div class="header">
                    <span style="margin-left:10px;" href="#option" data-toggle="collapse">Settings</span>
                </div>
                <ul class="pull-left collapse" id="option">
                    <li *ngFor="let data of SettingDataAlls"><span class='line'></span><span class='list'></span>
                        <div class="blob" data-toggle="modal" href="#editModal" (click)="editSentence(data.sentence, data.group)">
                            {{data.sentence}}</div>
                        <i class="material-icons add" (click)="selectSentence(data.sentence)">add_box</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="group-rate auto-ans">
                <div class="pull-left">
                    <div class="price-icon">
                        <a class="header" href="#price" data-toggle="collapse">
                            <i class="material-icons pricing">view_list</i>
                        </a>
                    </div>
                </div>
                <div class="header">
                    <span style="margin-left:10px;" href="#price" data-toggle="collapse">Pricing</span>
                </div>
                <ul class="pull-left collapse" id="price">
                    <li *ngFor="let data of PricingDataAlls"><span class='line'></span><span class='list'></span>
                        <div class="blob" data-toggle="modal" href="#editModal" (click)="editSentence(data.sentence, data.group)">
                            {{data.sentence}}</div>
                        <i class="material-icons add" (click)="selectSentence(data.sentence)">add_box</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row header">
            <div class="group-rate auto-ans">
                <div class="pull-left">
                    <div class="finish-icon">
                        <a class="header" href="#finishing" data-toggle="collapse">
                            <i class="material-icons finishing">mic_off</i>
                        </a>
                    </div>
                </div>
                <div class="header">
                    <span style="margin-left:10px;" href="#finishing" data-toggle="collapse">Finishing chat</span>
                </div>
                <ul class="pull-left collapse" id="finishing">
                    <li *ngFor="let data of FinishingDataAlls"><span class='line'></span><span class='list'></span>
                        <div class="blob" data-toggle="modal" href="#editModal" (click)="editSentence(data.sentence, data.group)">
                            {{data.sentence}}</div>
                        <i class="material-icons add" (click)="selectSentence(data.sentence)">add_box</i>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="group-rate">
                <div class="pull-left">
                    <div class="pull-left"><span>Letters</span></div><br>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="group-rate">
                <div class="pull-left">Inbox</div>
                <div class="pull-right">30/15</div>
            </div>
            <br>
            <div class="group-rate">
                <div class="pull-left">Sent</div>
                <div class="pull-right">35</div>
            </div>
        </div>
    </div>
</div>

<!------------- Modal adding auto answer part -------->
<div class="modal fade" id="answerModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">New auto answer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 pull-center">
                        <button type="button" id="btn-greeting" class="btn btn-default" style="margin-right:10px;" (click)="greetingAnswer()">Greeting</button>
                        <button type="button" id="btn-payment" class="btn btn-default" style="margin-right:10px;" (click)="paymentAnswer()">Payments</button>
                        <button type="button" id="btn-setting" class="btn btn-default" style="margin-right:10px;" (click)="settingAnswer()">Settings</button>
                        <button type="button" id="btn-pricing" class="btn btn-default" style="margin-right:10px;" (click)="pricingAnswer()">Pricings</button>
                        <button type="button" id="btn-finishing" class="btn btn-default" style="margin-right:10px;" (click)="finishingAnswer()">Finish</button>
                    </div>
                </div>
                <br>
                <textarea class="form-control" rows="5" id="autoAnswer" #test1></textarea>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 pull-center">
                        <button type="button" class="btn" (click)="cancelNewSentence()" data-dismiss="modal" style="width:100px;">Cancel</button>
                    </div>
                    <div class="col-sm-3 pull-center">
                        <button type="button" class="btn" (click)="submitNewSentence(test1.value)" style="width:100px;">Add</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" style="width:30%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Edit/Delete</h4>
            </div>
            <div class="modal-body">
                <br>
                <textarea class="form-control" rows="3" id="editAnswer" #test2></textarea>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 pull-center">
                        <button type="button" class="btn" (click)="submitUpdate(test2.value)" style="width:100px;">Update</button>
                    </div>
                    <div class="col-sm-3 pull-center">
                        <button type="button" class="btn" (click)="submitDelete(test2.value)" data-dismiss="modal" style="width:100px;">Delete</button>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="inactiveModal" role="dialog">
    <div class="modal-dialog" style="width:30%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Cannot be inactive on demand</h4>
            </div>
            <div class="modal-body">
                <h3 style="text-align:center;">You can't be inactive while having active-chats!</h3>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 pull-center">
                        <button type="button" class="btn" data-dismiss="modal" style="width:100px;">OK</button>
                    </div>

                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Assign to another oparetor-->
<div class="modal fade" id="assignModal" role="dialog">
    <div class="modal-dialog" style="width:30%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">Assign to operator</h4>
            </div>
            <div class="modal-body">
                <br>
                <div class="list-group" style="height: auto;max-height: 200px;overflow-x: hidden;">
                    <ng-container *ngFor="let item of operators">
                        <a class="list-group-item" style="cursor:pointer;" *ngIf="item.UserRef != currentOps.UserRef" (click)="onAssignToOperator(item)">
                            {{item.User.name}}
                        </a>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 pull-center">
                        <button type="button" class="btn" data-dismiss="modal" style="width:100px;">Cancel</button>
                    </div>

                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal show history log chat by loem 26/07/2017-->
<div class="modal" id="historyChatModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-uppercase text-center">
                    Chat hisgory log
                </h4>
            </div>
            <div class="modal-body" *ngIf="logsChat">
                <ul class="history-log">
                    <ng-container *ngFor="let item of logsChat">
                        <li [ngClass]="{'history-user':item.UserType == UserType.User, 'history-operator': item.UserType == UserType.Operator}">
                            <div class="history-box">{{ item.User.name[0] }}</div>
                            <div class="history-box">
                                <span class="history-auther">{{ item.User.name }}</span>
                                <span class="history-message">{{ item.Message }}</span>
                            </div>
                            <div class="history-box">{{ item.Time | date : 'hh:mm:ss a' }}</div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" onclick="$('#historyChatModal').modal('hide')">
                    Close this page
                </button>
            </div>
        </div>
    </div>
</div>