$_0d47a1:#0d47a1;
$_606060:#606060;
h5 {
    text-align: center;
}

.group-users,
.group-mains,
.group-answers {
    border: 0px;
}

.container-fluid {
    padding: 0px !important;
}

.group-users {
    width: 16.66666667%;
    vertical-align: -webkit-baseline-middle;
    background: #C0C0C0;
    left: 0;
    top: 61px;
    height: 100%;
    position: fixed;
    margin-top: 20px;
    .active-chat {
        align-items: flex-end;
        display: flex;
        margin-top: 18px;
        .brand {
            margin-left: 5px;
            margin-right: 5px;
            color: #FFFFFF;
        }
    }
    .chat-body {
        strong {
            color: #ffffff;
        }
        .incommining {
            hr {
                border: none;
                height: 1px;
                color: #929292;
                background-color: #929292;
            }
            .messages {
                margin-top: 15px;
                color: #ffffff;
                font-size: 11px;
                font-weight: 500;
                .msg-user {
                    text-align: left;
                }
                .msg-qty {
                    text-align: right;
                }
            }
        }
    }
    hr {
        width: 95%;
        border: none;
        height: 2px;
        color: #929292;
        background-color: #929292;
    }
    .row {
        margin-left: 15px;
        margin-right: 15px;
    }
    strong {
        text-align: left;
        color: #4c7a34;
    }
    .ca-menu,
    .ca-operators,
    .ca-web {
        padding: 0;
        margin: 20px auto;
        width: auto;
        //margin-left: -20px;
        li {
            height: 31px;
            // width: 325px; //317px; //325px;
            //width: auto;
            overflow: hidden;
            display: block;
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 4px;
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            -ms-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
            padding-left: 10px;
            &.active {
                border-left: 10px solid #d68227;
                padding-left: 0px !important;
                background: #fff;
                a {
                    color: #c0c0c0 !important;
                }
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #ffffff;
                position: relative;
                .ca-content {
                    position: relative;
                    top: 6px;
                    padding-left: 25px;
                    padding-right: 25px;
                    .oper-online {
                        color: #4c7a34 !important;
                    }
                    .material-icons {
                        color: #840705;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
            &.clearmsg {
                height: 15px;
                margin-top: 40px;
                text-align: center;
                color: #ffffff;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.group-mains {
    width: 66.66666667%;
    // position: absolute;
    top: 61px;
    margin-left: 16.66666667%;
    background: #ffffff;
    height: 93.5%;
    margin-top: -20px;
    .container {
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
        .inform-typing {
            padding-left: 0px;
            padding-right: 0px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
        .inform-cust {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 500;
            tr>td {
                &:nth-child(1) {
                    //width: 130px;
                    width: 35%;
                    text-align: right;
                    vertical-align: top;
                }
                &:nth-child(2) {
                    width: 200px;
                    padding-left: 10px;
                    text-align: left;
                    color: #0d47a1;
                    vertical-align: top;
                }
                &:nth-child(3) {
                    width: 180px;
                    float: right;
                    text-align: right;
                    color: #444444;
                    vertical-align: top;
                }
                &:nth-child(4) {
                    //width: 280px;
                    width: 100%;
                    padding-left: 10px;
                    text-align: left;
                    color: #0d47a1;
                    vertical-align: top;
                    .material-icons {
                        font-size: 14px;
                    }
                }
            }
        }
        .details {
            padding-left: 15%;
            padding-right: 15%;
        }
        .inform-media {
            margin-top: 5%;
            .details {
                text-align: center;
                color: #606060;
                .material-icons {
                    cursor: pointer;
                    margin-right: 3%;
                    font-size: 36px !important;
                }
            }
        }
        .start-conversation {
            position: sticky;
            h2 {
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                color: #7a7a7a;
                margin-top: 4px;
                margin-bottom: 4px;
            }
            h2.background {
                position: relative;
                z-index: 1;
                &:before {
                    border-top: 1px solid #d6d6d6;
                    content: "";
                    margin: 0 auto;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 95%;
                    z-index: -1;
                }
                span {
                    background: #fff;
                    padding: 0 15px;
                }
            }
        }
        .chat-group {
            height: 530px;
            overflow-x: hidden;
            .chat-group-body {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }
        }
        .keytype {
            height: 35px;
            background: #ffffff;
            color: #aaaaaa;
            font-size: 12px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            float: left;
            padding-left: 0px;
        }
        .chat-messages-revers {
            background: #ffffff !important;
            padding: 1% 10px;
            color: $_0d47a1;
            .portrait-prefix {
                font-size: 18px;
                font-weight: 900;
                color: #ffffff;
                width: 38px;
                height: 38px;
                background: #606060 !important;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                float: left;
                margin-right: 10px;
            }
            .body-log {
                margin-top: 3px;
                .info-name {
                    font-size: 12px;
                    font-weight: 600;
                    color: #444444;
                    span {
                        margin-right: 3%;
                        float: right;
                        font-size: 10px;
                        font-weight: normal;
                        color: #7a7a7a;
                    }
                }
                .message-body {
                    font-size: 12px;
                    color: #7a7a7a !important;
                }
            }
        }
        .chat-messages {
            background: #f7f6f6;
            padding-left: 10px;
            padding: 1% 10px;
            color: $_0d47a1;
            .portrait-prefix {
                font-size: 18px;
                font-weight: 900;
                color: #ffffff;
                width: 38px;
                height: 38px;
                background: $_0d47a1;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                float: left;
                margin-right: 10px;
            }
            .body-log {
                margin-top: 3px;
                .info-name {
                    font-size: 12px;
                    font-weight: 600;
                    span {
                        margin-right: 3%;
                        float: right;
                        font-size: 10px;
                        font-weight: normal;
                        color: #7a7a7a;
                    }
                }
                .message-body {
                    font-size: 12px;
                }
            }
        }
        .boxpim {
            $height_control: 70px;
            width: 100%;
            height: $height_control;
            display: inline-block;
            position: fixed;
            bottom: 0;
            margin-bottom: 18px;
            .col-md-1 {
                width: 5.333333%;
            }
            .col-md-5 {
                width: 45.666667%;
            }
            textarea {
                resize: none;
                padding: 5px;
                &::-webkit-input-placeholder {
                    text-align: left;
                }
                &:-moz-placeholder {
                    text-align: left;
                }
                &::-moz-placeholder {
                    text-align: left;
                }
                &:-ms-input-placeholder {
                    text-align: left;
                }
            }
            .typping {
                position: relative;
                border: 2px solid #c0c0c0;
                text-align: inherit;
                height: $height_control;
                max-height: $height_control;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $_0d47a1;
                font-size: 12px;
                span {
                    font-weight: 600;
                    cursor: pointer;
                }
                &:nth-child(1) {
                    border-right: none;
                }
                &:nth-child(2) {
                    border-right: none;
                    font-size: 14px;
                    text-align: left;
                    color: #7a7a7a;
                    outline: none;
                }
                &:nth-child(3) {
                    border-right: none;
                    border-left: none;
                }
            }
        }
    }
}

.group-answers {
    right: 0;
    top: 61px;
    width: 16.66666667%;
    height: 100%;
    position: fixed;
    background: #C0C0C0;
    padding-bottom: 20px;
    margin-top: 20px;
    li {
        //margin-top:10px;
        color: black;
        font-size: 12px;
        display: flex;
        flex-flow: row;
        min-height: 30px;
        position: relative;
        padding-left: 0px;
        padding-top: 0px;
        width: 22rem;
    }
    .row {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0px;
        margin-left: 0px;
        &:nth-child(1) {
            margin-top: 10px;
        }
        hr {
            width: 100%;
            border: none;
            height: 2px;
            color: #929292;
            background-color: #929292;
            margin-top: 40px;
            // margin-bottom: 40px;
        }
        .group-rate {
            color: #ffffff;
            div>span:nth-child(1) {
                font-size: 14px;
                font-weight: 600;
            }
            div>span:nth-child(2) {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .auto-ans {
        width: 100%;
        .title {
            margin-top: 15px;
        }
        .man-icon {
            text-align: center;
            width: 24px;
            height: 24px;
            background: #ffffff;
            border: 1px solid #7a7a7a;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            color: #444444;
            padding-top: 2px;
        }
        .payment-icon {
            text-align: center;
            width: 24px;
            height: 24px;
            background: #ffffff;
            border: 1px solid #7a7a7a;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            color: #444444;
            padding: 0px;
        }
        .setting-icon {
            text-align: center;
            width: 24px;
            height: 24px;
            background: #ffffff;
            border: 1px solid #7a7a7a;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            color: #444444;
            padding: 0px;
        }
        .price-icon {
            text-align: center;
            width: 24px;
            height: 24px;
            background: #ffffff;
            border: 1px solid #7a7a7a;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            color: #444444;
            padding: 0px;
        }
        .finish-icon {
            text-align: center;
            width: 24px;
            height: 24px;
            background: #ffffff;
            border: 1px solid #7a7a7a;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            color: #444444;
            padding: 0px;
        }
    }
}

// Loem css
.history-log {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    .history-user,
    .history-operator {
        display: table-row;
    }
    .history-user {
        .history-box:first-child {
            background: #0d47a1;
        }
        .history-box:nth-child(2),
        .history-box:nth-child(3) {
            background: #f7f6f6;
        }
        .history-message,
        .history-auther {
            color: #0d47a1;
        }
    }
    .history-operator {
        .history-box:first-child {
            background: #606060;
        }
        .history-auther {
            color: #444444;
        }
        .history-message {
            color: #7a7a7a;
        }
    }
    .history-box {
        display: table-cell;
        padding: 7px;
        border-bottom: solid 2px white;
        &:nth-child(1) {
            vertical-align: middle;
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            width: 50px;
            color: #ffffff;
            text-transform: uppercase;
            margin-right: 10px;
            text-align: center;
        }
        &:nth-child(2) {
            vertical-align: top;
        }
        &:nth-child(3) {
            vertical-align: middle;
            font-size: 10px;
            font-weight: normal;
            color: #7a7a7a;
            width: 100px;
            text-align: right;
        }
    }
    .history-auther {
        display: block;
        font-weight: 600;
    }
}

.link {
    cursor: pointer;
}

.chat-messages,
.chat-messages-revers {
    margin-top: 3px;
}

div.header {
    margin-bottom: 10px;
    span {
        cursor: pointer;
    }
}

div.blob {
    width: 17rem;
    cursor: pointer;
}

div.blob:hover {
    text-decoration: underline;
}

span.list {
    margin-right: 10px;
    text-align: center;
    width: 1em;
    height: 1em;
    background-color: gray;
    border-radius: 50%;
    z-index: 1;
}

span.line {
    position: absolute;
    height: 100%;
    border: solid gray 0.1em;
    top: 0.5em;
    left: 0.45em;
}

li:last-child span.line {
    display: none;
}

.header {
    margin-bottom: 5px;
}

i.add {
    font-size: 18px;
}

i.add:hover {
    cursor: pointer;
}

i.setting {
    font-size: 23px;
}

i.pricing {
    font-size: 21px;
}

i.finishing {
    font-size: 21px;
}

ul {
    padding-left: 5px;
    margin-bottom: 0px;
    width: 23rem;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a.header:link {
    color: black;
    text-decoration: none;
}

a.header:visited {
    color: black;
    text-decoration: underline;
}

.pull-center {
    text-align: center;
}

.nav-active-right,
.nav-active-left {
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .nav-active-left,
    .nav-active-right {
        font-size: 30px;
        font-weight: 600;
        float: right;
        display: block;
    }
    .nav-active-left {
        float: left;
    }
    .onoffswitch-label:before {
        right: 20px !important;
    }
    .group-mains {
        margin-left: 28.5%;
        width: 70.5%;
        .container {
            width: 100%;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                height: 117rem;
            }
            padding-right: 15px;
            padding-left: 15px;
        }
        .assignto {
            width: 94px !important;
        }
    }
    .group-users {
        width: 27.666667%;
    }
    .group-answers {
        width: 50%;
    }
}

.material-icons {
    cursor: pointer;
}