<section class="printable" *ngIf="invoice">
    <div class="media-form">
        <div class="row row-width">
            <div class="col-sm-6 center-text">
                <div class="form-group">
                    <p class="text-24-5">{{ 'INVOICES' }} <span>#{{invoices}}</span></p>
                    <div class="non-printable">
                        <label class="text-16-4 color-7A cursor">
                           INVOICES <span style="color: black"> >#{{invoices}}</span>
                    </label>
                        <button type="button" class="btn btn-default btn-float hidden-lg hidden-md hidden-sm non-printable" (click)="onPrint()">
                    <i class="material-icons">local_printshop</i> <span>PRINT</span>
                         </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 text-right hidden-print center-text hidden-xs">
                <button type="button" class="btn btn-default" (click)="onPrint()">
                    <i class="material-icons">local_printshop</i> <span>PRINT</span>
                </button>
            </div>
        </div>
        <div class="border-color-top"></div>
        <div class="row">
            <div class="col-sm-6 text-left pull-left">
                <p class="text-20-4 ">9T co., ltd.</p>
                <p class="text-12-4 color-A">
                    Addlink Building 889 Moo
                    <br> Kamyai Sub-District,Ubon Ratchathani
                    <br> Thailand 34000
                    <br><span class="color-7A"> Info@9t.com <br> +66(0)45-313-883</span>
                </p>
            </div>
            <div class="col-sm-6 text-right pull-right">
                <div class="">
                    <p class="text-20-4">{{data2.company_name}}</p>
                    <p class="text-12-4 color-A">
                        {{data2.firstname}} {{data2.lastname}}
                        <br> {{data2.address}}
                        <br> {{data2.city}}, {{data2.province}}
                        <br> {{data2.country}} {{data2.post_code}}
                        <span class="color-7A">
                        <br>
                        {{data2.email}}
                        <br>
                        {{data2.phone_num}}
                    </span>
                    </p>
                </div>
                <p class="text-12-4 color-A">Invoice: <span class="color-2C">{{invoices}}</span></p>
                <p class="text-12-4 color-A">Issued: <span class="color-2C">{{issued | date : 'dd-MMM-yyyy'}}</span></p>
                <p class="text-12-4 color-A">Due: <span class="color-2C">{{due | date : 'dd-MMM-yyyy'}}</span></p>
            </div>
        </div>

        <table>
            <tr class="tr-1 hidden-xs">
                <td class="td-1">DESCRIPTION</td>
                <td class="td-2">COUNT QTY</td>
                <td class="td-3">FROM</td>
                <td class="td-4">TO</td>
                <td class="td-5">PRICE(inc GST)</td>
            </tr>
            <tbody *ngFor="let item Of data">
                <tr class="tr-1">
                    <td colspan="5">
                        <br>
                        <p class="color-A text-12-4">DESCRIPTION</p>
                        <p class="color-7A hidden-xs">VEEAM(Cloud Connect Backup({{ item.username }}))</p>
                        <p class="color-7A text-12-4 hidden-lg hidden-md hidden-sm">VEEAM(Cloud Connect Backup ({{ item.username }}))</p>
                        <p>
                            <span class="text-12-4">Alias: 
                                 <button type="button" class="btn-1 btn btn-default"><span>MY PACKAGE</span></button>
                            </span>
                            <br class="hidden-lg hidden-md hidden-sm">
                            <br class="hidden-lg hidden-md hidden-sm">
                            <span class="text-12-4">VM licenses: 
                                 <button type="button" class="btn-2 btn btn-default"><span>{{item.vm}} licenses</span></button>
                            </span>
                            <br class="hidden-lg hidden-md hidden-sm">
                            <br class="hidden-lg hidden-md hidden-sm">
                            <span class="text-12-4">Storage: <button type="button" class="btn-3 btn btn-default"><span>{{item.storage}} GB</span></button>
                            </span>
                        </p>
                    </td>
                </tr>
                <tr class="tr-2">
                    <td colspan="2">Cloud Connect</td>
                    <td class="td-3 color-A"><span class="hidden-xs">{{item.pck_start_dt|date:'dd MMM yyyy'}}</span></td>
                    <td class="td-4 color-A"><span class="hidden-xs">{{item.pck_end_dt|date:'dd MMM yyyy'}}</span></td>
                    <td class="td-5 text-center color-A">$0.00</td>
                </tr>
                <tr class="tr-2">
                    <td class="td-1">Storage</td>
                    <td class="td-2 color-A hidden-lg hidden-md hidden-sm" colspan="2">{{item.storage}} GB</td>
                    <td class="td-2 color-A hidden-xs">{{item.storage}} GB</td>
                    <td class="td-3 color-A hidden-xs"><span class="hidden-xs">{{item.pck_start_dt|date:'dd MMM yyyy'}}</span></td>
                    <td class="td-4 color-A "><span class="hidden-xs">{{item.pck_end_dt|date:'dd MMM yyyy'}}</span></td>
                    <td class="td-5 text-center color-A">{{ (item.storage_total_price || 0) | currency:'USD':true }}</td>
                </tr>
                <tr class="tr-2">
                    <td class="td-1">VM licenses</td>
                    <td class="td-2 color-A">{{item.vm}}</td>
                    <td class="td-3 color-A"><span class="hidden-xs">{{item.pck_start_dt|date:'dd MMM yyyy'}}</span></td>
                    <td class="td-4 color-A"><span class="hidden-xs">{{item.pck_end_dt|date:'dd MMM yyyy'}}</span></td>
                    <td class="td-5 text-center color-A">{{ (item.vm_total_price || 0) | currency:'USD':true }}</td>
                </tr>
                <tr class="tr-2">
                    <td class="td-1"></td>
                    <td class="td-2 hidden-xs"></td>
                    <td class="td-3 hidden-xs"></td>
                    <td class="td-3 hidden-xs">Sub-Total</td>
                    <td class="td-4 hidden-lg hidden-md hidden-sm" colspan=3>Sub-Total</td>
                    <td class="td-5 text-center">{{ (item.storage_total_price+item.vm_total_price) | currency:'USD':true }}</td>
                </tr>
            </tbody>
            <tbody>
                <tr class="tr-2">
                    <td class="td-1"></td>
                    <td class="td-2 hidden-xs"></td>
                    <td class="td-3 hidden-xs"></td>
                    <td class="td-4 hidden-xs">Fees (7%)</td>
                    <td class="td-4 hidden-lg hidden-md hidden-sm" colspan="3">Fees (7%)</td>
                    <td class="td-5 text-center">{{(FeesTotal||0) | currency:'USD':true}}</td>
                </tr>
                <tr class="tr-2">
                    <td class="td-1"></td>
                    <td class="td-2 hidden-xs"></td>
                    <td class="td-3 hidden-xs"></td>
                    <td class="td-4 hidden-xs">Total</td>
                    <td class="td-4 hidden-lg hidden-md hidden-sm" colspan=3>Total</td>
                    <td class="td-5 text-center">{{(total || 0) | currency:'USD':true }}</td>
                </tr>
                <tr class="tr-2">
                    <td class="td-1"></td>
                    <td class="td-2 hidden-xs"></td>
                    <td class="td-3 hidden-xs"></td>
                    <td class="td-4 hidden-xs">Invoice Total</td>
                    <td class="td-4 hidden-lg hidden-md hidden-sm" colspan="3">Invoice Total</td>
                    <td class="td-5 text-center">{{(totals || 0)| currency:'USD':true}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="footter-print" class="printable">AVESTA Co., ltd. © 2007 All Rights Reserved. In cooperation with NINE-T Co., ltd. A Veeam Gold Partner.</div>
</section>