.hr {
    position: relative;
    top: -19px;
    margin-bottom: 0px;
}

.hr-color {
    border-color: #2C314F;
}

.col-sm-6 {
    padding: 0px;
    margin: 0px;
    .btn {
        width: 149px;
        height: 40px;
        i {
            position: relative;
            left: -15px;
        }
        span {
            position: relative;
            top: -5px;
        }
    }
}

.border-color-top {
    border-top: 1px solid #2C314F;
    padding-bottom: 20px;
    width: 95%;
    margin: auto;
}

.btn-primary {
    min-width: 100px;
    margin-top: 20px;
}

.border-color-bottom {
    border-bottom: 1px solid #2C314F;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media print {
    tr * {
        font-size: 12px !important;
    }
    .tr-1 {
        padding: 20px 0px;
        height: 40px;
        border-top: 1px solid #2C314F;
        border-bottom: 1px solid #2C314F;
        td {
            font-size: 12px;
            font-weight: 500;
            p {
                span {
                    padding-right: 4px;
                    button {
                        margin-left: 2px;
                        background-color: #2C314F;
                        color: white;
                        span {
                            position: relative;
                            top: -5px;
                        }
                    }
                    .btn-1 {
                        width: 111px;
                        height: 26px;
                        border-radius: 26px;
                    }
                    .btn-2 {
                        width: 92px;
                        height: 26px;
                        border-radius: 26px;
                    }
                    .btn-3 {
                        width: 78px;
                        height: 26px;
                        border-radius: 26px;
                    }
                }
            }
        }
    }
    #footter-print {
        font-size: 10px !important;
        display: block;
        visibility: visible;
        position: fixed;
        bottom: 0px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}

#footter-print {
    position: fixed;
    bottom: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.media-form {
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .text-center {
        text-align: center;
    }
    .header-min {
        margin-top: 780px;
        text-align: center;
    }
    .header-t {
        margin-top: 100px;
        text-align: center;
    }
    .header-in {
        margin: atuo;
        text-align: center;
        margin-top: 52px;
    }
    .footer {
        margin-top: 173px;
        text-align: center;
    }
    // .m-p {
    //     margin-left: 160px;
    //     padding-right: 100px;
    // }
    .text-24-5 {
        font-size: 24px;
        font-weight: 500;
    }
    .text-20-5 {
        font-size: 20px;
        font-weight: 500;
    }
    .text-20-3 {
        font-size: 20px;
        font-weight: 300;
    }
    .text-20-4 {
        font-size: 20px;
        font-weight: 400;
    }
    .text-16-5 {
        font-size: 16px;
        font-weight: 500;
    }
    .text-16-4 {
        font-size: 16px;
        font-weight: 400;
    }
    .text-16-3 {
        font-size: 16px;
        font-weight: 300;
    }
    .text-14-3 {
        font-size: 14px;
        font-weight: 300;
    }
    .text-13-4 {
        font-size: 13px;
        font-weight: 400;
    }
    .text-12-5 {
        font-size: 12px;
        font-weight: 500;
    }
    .text-12-4 {
        font-size: 12px;
        font-weight: 400;
    }
    .text-12-3 {
        font-size: 12px;
        font-weight: 300;
    }
    .color-A {
        color: #AAAAAA;
    }
    .color-7A {
        color: #7ACDCF;
    }
    .color-2C {
        color: #2C314F;
    }
    .content {
        text-align: justify;
    }
    .text-content {
        text-indent: 45px;
    }
}

table,
.row {
    width: 95%;
    margin: auto;
    .tr-1 {
        padding: 20px 0px;
        height: 40px;
        border-top: 1px solid #2C314F;
        border-bottom: 1px solid #2C314F;
        td {
            font-size: 12px;
            font-weight: 500;
            p {
                span {
                    padding-right: 4px;
                    button {
                        margin-left: 2px;
                        background-color: #2C314F;
                        color: white;
                        span {
                            position: relative;
                            top: -3px;
                        }
                    }
                    .btn-1 {
                        width: 111px;
                        height: 26px;
                        border-radius: 26px;
                    }
                    .btn-2 {
                        width: 92px;
                        height: 26px;
                        border-radius: 26px;
                    }
                    .btn-3 {
                        width: 78px;
                        height: 26px;
                        border-radius: 26px;
                    }
                }
            }
        }
    }
    .tr-2 {
        padding: 20px 0px;
        height: 40px;
        border-top: 1px solid #F3F5F5;
        border-bottom: 1px solid #F3F5F5;
    }
    td {
        font-size: 16px;
        font-weight: 400;
    }
    .td-1 {
        width: 34%;
    }
    .td-2 {
        width: 12%;
    }
    .td-3 {
        width: 12%;
    }
    .td-4 {
        width: 7%;
    }
    .td-5 {
        width: 12%;
    }
}

@media screen and (max-width:768px) {
    .td-5 {
        text-align: right;
    }
    .btn-primary {
        margin-right: 20px;
    }
    .col-sm-6 {
        .btn-float {
            float: right;
            width: 99px;
            margin: 5px 0px;
            i {
                left: -4px;
            }
        }
    }
}