<!-- <div class="container-fluid">
    <div class="row">
        <form [formGroup]="formPackages" (submit)="btnPackagesFilters()">
            <div class="col-sm-12 col-md-9">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Package No:</label>
                        <input type="text" class="form-control applysize" formControlName="pck_id">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Type:</label>
                        <div class="select">
                            <select formControlName="pck_type_id">
                            <option value="0">All</option>
                            <option [value]="itemi.pck_type_id" *ngFor="let itemi of PackagesTypeAlls.data ">{{itemi.pck_type_name}}</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Client name:</label>
                        <input type="text" class="form-control applysize" formControlName="firstname">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>FName:</label>
                        <input type="text" class="form-control applysize" formControlName="lastname">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Package status:</label>
                        <div class="select">
                            <select formControlName="pck_status">
                                <option value="">All</option>
                                <option value="pa">paid</option>
                                <option value="ac">active</option>
                                <option value="rm">remove</option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 set-css-new">
                <div class="col-sm-12">
                    <div class="form-group">
                        <br>
                        <button type="submit" class="go" value="Submit">Go</button>
                        <button type="reset" class="go" (click)="PackagesDataAlls = []; PackagesTypeAlls=[]; " value="Reset">Clear</button>
                        <button type="button" class="go" (click)="exportData()">Export</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h5>Search results...</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Package No</td>
                            <td>Type</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                            <td>VM</td>
                            <td>Storage ALL</td>
                            <td>Storage Used</td>
                            <td>Start date</td>
                            <td>End date</td>
                            <td>Client ID</td>
                            <td>Name</td>
                            <td>Family</td>
                            <td>Company</td>
                            <td>Phone Number</td>
                            <td>Package Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let PackagesDataAll of PackagesDataAlls.data">
                            <td>{{PackagesDataAll.pck_id}}</td>
                            <td>{{PackagesDataAll.pck_type_name}}</td>
                            <td>{{PackagesDataAll.total_price}}</td>
                            <td>{{PackagesDataAll.payment_id}}</td>
                            <td>{{datastatus[PackagesDataAll.status]}}</td>
                            <td>{{PackagesDataAll.vm}}</td>
                            <td>{{PackagesDataAll.storage}}</td>
                            <td>{{PackagesDataAll.storage_used}}</td>
                            <td>{{PackagesDataAll.pck_start_dt| date :'dd.MM.yyyy'}}</td>
                            <td>{{PackagesDataAll.pck_end_dt| date :'dd.MM.yyyy'}}</td>
                            <td>{{PackagesDataAll.cust_id}}</td>
                            <td>{{PackagesDataAll.firstname}}</td>
                            <td>{{PackagesDataAll.lastname}}</td>
                            <td>{{PackagesDataAll.company_name}}</td>
                            <td>{{PackagesDataAll.phone_num}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs"><i class="material-icons">block</i>Block</button>
                                <button type="button" class="btn btn-success btn-xs"><i class="material-icons">ac_unit</i>Pause</button>
                                <button type="button" class="btn btn-danger btn-xs"><i class="material-icons">delete_forever</i>Delete</button>
                                <button type="button" class="btn btn-info btn-xs"><i class="material-icons">report</i>Report</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!-- <div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="sidebar_menu" (click)="openAvaible()">
            <span><i class="glyphicon glyphicon-align-justify"></i> MENU</span>
        </div>
        <ul class="menu-list">
            <li><a>Packages</a></li>
            <li>
                <a>Create package</a>
                <ul>
                    <li><a>Veeam Backup</a></li>
                    <li><a>Veeam Replication</a></li>
                    <li><a>NAKIVO B & R</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div id="packages">
        </div>
        <div id="veeambackup">

        </div>
    </div>
</div> -->

<div class="pushmenu-push">
    <nav class="pushmenu pushmenu-left">
        <ul class="links">
            <li routerLinkActive="active"><a (click)="watch_nav('Packages')" routerLinkActive="active" [routerLink]="['/', Url.Packages]">Packages</a></li>
            <li *ngIf="role == 'SuperAdmin' || role == 'Admin' || role == 'Manager' || role == 'Supervisor'">
                <span>Create package</span>
                <ul>
                    <li><a (click)="watch_nav('VeeamBackup')">Veeam Backup</a></li>
                    <li><a (click)="watch_nav('VeeamReplication')">Veeam Replication</a></li>
                    <li><a (click)="watch_nav('NAKIVO')">NAKIVO B & R</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="main">
            <section class="buttonset">
                <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
            </section>
            <section class="content">
                <div id="packages" *ngIf="UrlCurrentState==='Packages'">
                    <div class="container-fluid">
                        <div class="row">
                            <form [formGroup]="formPackages" (submit)="btnPackagesFilters()">
                                <div class="col-sm-12 col-md-9">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package No:</label>
                                            <input type="text" class="form-control applysize" formControlName="pck_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Type:</label>
                                            <div class="select">
                                                <select formControlName="pck_type_id">
                                                    <option value="0">All</option>
                                                    <option [value]="itemi.pck_type_id" *ngFor="let itemi of PackagesTypeAlls.data ">{{itemi.pck_type_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Client name:</label>
                                            <input type="text" class="form-control applysize" formControlName="firstname">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>FName:</label>
                                            <input type="text" class="form-control applysize" formControlName="lastname">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package status:</label>
                                            <div class="select">
                                                <select formControlName="pck_status">
                                <option value="">All</option>
                                <option value="pa">paid</option>
                                <option value="ac">active</option>
                                <option value="rm">remove</option>
                          </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 set-css-new">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <br>
                                            <button type="submit" class="go" value="Submit">Go</button>
                                            <button type="reset" class="go" (click)="PackagesDataAlls = []; PackagesTypeAlls=[]; " value="Reset">Clear</button>
                                            <button type="button" class="go" (click)="exportData()">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 Search-col-md-12">
                                <h5>Search results...</h5>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Package No</th>
                                                <th>Type</th>
                                                <th>Price</th>
                                                <th>Payment</th>
                                                <th>Status</th>
                                                <th>Specification</th>
                                                <th>Start date</th>
                                                <th>End date</th>
                                                <th>Client ID</th>
                                                <th>Name</th>
                                                <th>Family</th>
                                                <th>Company</th>
                                                <th>Phone Number</th>
                                                <th>Package Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let PackagesDataAll of PackagesDataAlls.data;let index = index">
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.vcc_id}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.pck_type_name}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.total_price}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.payment_id}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{datastatus[PackagesDataAll.status]}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.vm}}VM/{{PackagesDataAll.storage}}GB{{PackageVeeamAlls[PackagesDataAll.username]}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.pck_start_dt| date :'dd.MM.yyyy'}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.pck_end_dt| date :'dd.MM.yyyy'}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.cust_id}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.firstname}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.lastname}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.company_name}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">{{PackagesDataAll.phone_num}}</td>
                                                <td [class.tbody2]=" index % 2 == 0">
                                                    <button *ngIf="role == 'Admin' || role == 'Supervisor' || role == 'SuperAdmin'" type="button" class="btn btn-warning btn-xs"><i class="material-icons">block</i>Block</button>
                                                    <button type="button" class="btn btn-success btn-xs"><i class="material-icons">ac_unit</i>Pause</button>
                                                    <button *ngIf="role == 'Admin' || role == 'Supervisor' || role == 'SuperAdmin'" type="button" class="btn btn-danger btn-xs"><i class="material-icons">delete_forever</i>Delete</button>
                                                    <button type="button" class="btn btn-info btn-xs"><i class="material-icons">report</i>Report</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="veeam-backup" *ngIf="UrlCurrentState==='VeeamBackup'">
                    <package-veeam-backup></package-veeam-backup>
                </div>
                <div id="veeam-replication" *ngIf="UrlCurrentState==='VeeamReplication'">
                    <package-veeam-replication></package-veeam-replication>
                </div>
                <div id="nakivo" *ngIf="UrlCurrentState==='NAKIVO'">
                    <package-nakivo-br></package-nakivo-br>
                </div>
            </section>
            <!-- End Content -->
        </div>
        <!-- End Main -->
    </div>
    <!-- End Container -->
</div>