<div class="container w-100 p-0" style="margin-top:-20px;">
    <div class="row w-100 p-0">
        <!--<div class="col-md-2 w-100 p-0 sidebar">
            <ul class="nav nav-pills flex-column w-100">
                <li>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-2"><i class="material-icons">&#xE5D2;</i></div>
                        <div class="col-md-10"><strong style="font-size:25px;" style="font-size: 19px;">Home</strong></div>
                    </div>
                </li>
                <li>
                    <a href="#"><strong style="font-size: 14px;">Active / New Storage</strong></a>
                </li>
                <li>
                    <a href="#"><strong style="font-size: 14px;">Dashboard</strong></a>
                </li>
            </ul>
        </div>-->
        <nav class="pushmenu pushmenu-left">
            <ul class="links">
                <li routerLinkActive="active"><a routerLinkActive="active">Active / New Storage</a></li>
                <li routerLinkActive="active"><a href="/dashboard" routerLinkActive="active">Dashboard</a></li>
            </ul>
        </nav>
        <div class="col-md-12  h-100 p-0 w-100">
            <div class="container w-100 px-0">
                <section class="buttonset">
                    <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
                </section>
                <div class="row py-2 px-2">
                    <p class="text-left w-100 m-0">Used Storage</p>
                </div>
                <div class="table-responsive bg-faded .table-scroll px-3" style="min-height:445px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Type</th>
                                <th>Device</th>
                                <th>Size</th>
                                <th>Box</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of used;let index = index">
                                <tr *ngIf="item.show == true">
                                    <td class="text-center" [class.tbody1]=" index % 2 != 0"><input type="checkbox" class="check-storage" #checkStorage data-md-icheck (change)="deviceView(checkStorage, item)"></td>
                                    <td [class.tbody1]=" index % 2 != 0">{{item.type}}</td>
                                    <td [class.tbody1]=" index % 2 != 0">{{item.device}}</td>
                                    <td [class.tbody1]=" index % 2 != 0">{{item.size.used}} GB / {{item.size.total}} GB</td>
                                    <td [class.tbody1]=" index % 2 != 0">{{item.box}}</td>
                                    <td [class.tbody1]=" index % 2 != 0">{{item.status.active}} / {{item.status.connection}}</td>
                                    <td [class.tbody1]=" index % 2 != 0">
                                        <button type="button" class="btn btn-danger btn-xs">Disconnect</button>
                                        <button type="button" class="btn btn-warning btn-xs">Deactive</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="row px-4 bg-faded">
                    <div class="col-md-9">
                        <h3 class="bg-faded m-0">Total storage {{totalSpace.toFixed(2)}} GB</h3>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger py-2" id="usedBar" role="progressbar" style="width:0%">
                                {{usedSpace.toFixed(2)}} GB
                            </div>
                            <div class="progress-bar progress-bar-success py-2" id="freeBar" role="progressbar" style="width:100%">
                                {{freeSpace.toFixed(2)}} GB
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 px-5 py-2">
                        <br><br>
                        <input type="checkbox" #checkHP class="check-storage" data-md-icheck (change)="HPview(checkHP)" checked>
                        <label>HP</label>
                        <input type="checkbox" #checkQNAP class="check-storage" data-md-icheck (change)="QNAPview(checkQNAP)" checked>
                        <label>QNAP</label>
                    </div>
                </div>
                <div class="row py-2 px-2">
                    <p class="text-left w-100 m-0">New Storage</p>
                </div>
                <div class="table-responsive bg-faded .table-scroll2">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr *ngFor="let item of new">
                                <td>{{item.type}}</td>
                                <td>{{item.device}}</td>
                                <td>{{item.size}} GB</td>
                                <td>{{item.box}}</td>
                                <td>{{item.status.active}} / {{item.status.connection}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Active</button>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>SATA</td>
                                <td>Seagate 5900 IronWolf [ST2000VN004]</td>
                                <td>100 TB</td>
                                <td>QNAP</td>
                                <td>Off / Connected</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Active</button>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>