﻿<div class="pushmenu-push">
    <nav class="pushmenu pushmenu-left">
        <ul class="links">
            <li routerLinkActive="active"><a (click)="watch_nav('Invoice')" routerLinkActive="active">Invoice</a></li>
            <li routerLinkActive="active"><a (click)="watch_nav('InvoiceConstructor')" routerLinkActive="active">Invoice Constructor</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="main">
            <section class="buttonset">
                <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
            </section>
            <section class="content">
                <div *ngIf="UrlCurrentState==='Invoice'" id="packages">
                    <div class="container-fluid">
                        <div class="row">
                            <form [formGroup]='formFilterInvoice'>
                                <div class="col-sm-12 col-md-9">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Client ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="client_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" class="form-control applysize" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Invoice ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="invoice_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Invoice status:</label>
                                            <div class="select">
                                                <select formControlName="invoice_status">
                                            <option value="All">All</option>
                                            <option value="Active">Active</option>
                                            <option value="Active Overdue">Active Overdue</option>
                                            <option value="Active Unpaid">Active Unpaid</option>
                                            <option value="Enterprise">Enterprise</option>
                                            <option value="Overdue">Overdue</option>
                                            <option value="Paid">Paid</option>
                                            <option value="Request Enterprise">Request Enterprise</option>
                                            <option value="Remove">Remove</option>
                                            <option value="Upgrade Enterprise">Upgrade Enterprise</option>
                                            <option value="Unpaid">Unpaid</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 set-css-new">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <br>
                                            <button type="submit" class="go" value="Submit" (click)="searchInvoice()">Go</button>
                                            <button type="reset" class="go" value="Reset" (click)="cleaeInvoice()">Clear</button>
                                            <button type="button" class="go">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 Search-col-md-12">
                                <h5>Search results...</h5>
                                <Notification [(message)]="message"></Notification>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Invoice No</th>
                                                <th>Invoice Price</th>
                                                <th>Invoice status</th>
                                                <th>Start date</th>
                                                <th>End date</th>
                                                <th>Suspend</th>
                                                <th>Package No</th>
                                                <th>Package type</th>
                                                <th>Package status</th>
                                                <th>Client ID</th>
                                                <th>Email</th>
                                                <th>Name</th>
                                                <th>Family</th>
                                                <th>Company</th>
                                                <th>Created</th>
                                                <th>Invoice Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataInvoice.data | pagination:20">

                                                <td>{{item.invoice_no}} </td>
                                                <td>{{item.invoice_price | currency:'USD':true }} </td>
                                                <td>{{item.invoice_status}} </td>
                                                <td>{{item.pck_start_dt | date:'dd.MM.yyyy'}} </td>
                                                <td>{{item.pck_end_dt | date:'dd.MM.yyyy'}} </td>
                                                <td>{{item.suspend | date:'dd.MM.yyyy'}} </td>
                                                <td>{{item.package_no}} </td>
                                                <td>{{item.pck_type_name}} </td>
                                                <td>{{item.package_status}} </td>
                                                <td>{{item.cust_id}} </td>
                                                <td>{{item.email}} </td>
                                                <td>{{item.firstname}} </td>
                                                <td>{{item.lastname}} </td>
                                                <td>{{item.company_name}} </td>
                                                <td>{{item.created}} </td>
                                                <td>
                                                    <button type="button" class="btn btn-warning btn-xs" (click)='Detail(item.invoice_no,item.cust_id,item.package_no)'><i class="material-icons" >pageview</i> View</button>
                                                    <button type="button" class="btn btn-success btn-xs" (click)='edit(item.cust_id,item.package_no,item.cart_id)'><i class="material-icons">edit</i> Edit</button>
                                                    <button type="button" class="btn btn-danger btn-xs" (click)='suspend(item.invoice_no,item.package_no)'><i class="material-icons">stop</i> Suspend</button>
                                                    <button type="button" class="btn btn-info btn-xs" (click)='send(item.invoice_no,item.cust_id,item.package_no)'><i class="material-icons">send</i> Send</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <pagination [items]="dataInvoice.data"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="UrlCurrentState==='InvoiceConstructor'" id="packages">
                    <div class="container-fluid">
                        <div class="row">
                            <form [formGroup]='InvoFromConstructor'>
                                <div class="col-sm-12 col-md-9">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Client ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="client_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" class="form-control applysize" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Invoice ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="invoice_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package status:</label>
                                            <div class="select">
                                                <select formControlName="package_status">
                                                    <option value="">All</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 set-css-new">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <br>
                                            <button type="submit" class="go" value="Submit">Go</button>
                                            <button type="reset" class="go" value="Reset">Clear</button>
                                            <button type="button" class="go">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 Search-col-md-12">
                                <h5>Search results...</h5>
                                <Notification [(message)]="message"></Notification>
                                <div class="row invoiceConstructorr">
                                    <div class="col-md-2 bg-md2">
                                        <div class="set-css-txt-manu-f">
                                            <label>Start date:</label>
                                            <div class="select">
                                                <select>
                                                <option value="">All</option>
                                            </select>
                                            </div>
                                        </div>

                                        <div class="set-css-txt-manu">
                                            <label>VM licenses:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>

                                        <div class="set-css-txt-manu">
                                            <label>Storage:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>
                                        <div class="set-css-txt-manu">
                                            <label>Processor:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>

                                        <div class="set-css-txt-manu">
                                            <label>RAM:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>

                                        <div class="set-css-txt-manu">
                                            <label>IP Addresses:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>

                                        <div class="set-css-txt-manu">
                                            <label>Networks:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>

                                        <div class="set-css-txt-manu">
                                            <label>Internet Traffice:</label>
                                            <input type="text" class="form-control applysize">
                                        </div>
                                        <div class="set-css-txt-manu-l">
                                            <button type="button" class="goog">Generate</button>
                                        </div>
                                    </div>

                                    <div class="col-md-6 bg-md10">
                                        <div class="col-sm-12 col-md-12 Search-col-md-12 invoiceXD">
                                            <h5>Invoice Constructor</h5>
                                        </div>
                                        <div class="col-sm-12 col-md-12 Search-col-md-12" style="background-color: #fff;">
                                            <section class="printable">
                                                <div class="media-form">

                                                    <div class="border-color-top"></div>
                                                    <div class="row">
                                                        <div class="col-sm-6 text-left hidden-xs">
                                                            <p class="text-20-4 ">9T co., ltd.</p>
                                                            <p class="text-12-4 color-A">
                                                                Addlink Building 889 Moo
                                                                <br> Kamyai Sub-District,Ubon Ratchathani
                                                                <br> Thailand 34000
                                                                <br><span class="color-7A"> Info@9t.com <br> +66(0)45-313-883</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <div class="hidden-xs">
                                                                <p class="text-20-4">a</p>
                                                                <p class="text-12-4 color-A">
                                                                    aa
                                                                    <br> 2025
                                                                    <br> asc, Dhaka
                                                                    <br> Bangladesh 20202
                                                                    <span class="color-7A">
                                                                    <br>maisuna17@gmail.com
                                                                    <br>08222222222
                                                            </span>
                                                                </p>
                                                            </div>
                                                            <p class="text-12-4 color-A">Invoice: <span class="color-2C">1708171430</span></p>
                                                            <p class="text-12-4 color-A">Issued: <span class="color-2C">17-Aug-2017</span></p>
                                                            <p class="text-12-4 color-A">Due: <span class="color-2C">16-Sep-2017</span></p>
                                                        </div>
                                                    </div>

                                                    <table class="table-xd">
                                                        <tr class="tr-1 hidden-xs tr-22 tr-222">
                                                            <td class="td-1 td-22">DESCRIPTION</td>
                                                            <td class="td-2 td-22">COUNT QTY</td>
                                                            <td class="td-3 td-22">FROM</td>
                                                            <td class="td-4 td-22">TO</td>
                                                            <td class="td-5 td-22">PRICE(inc GST)</td>
                                                        </tr>
                                                        <tbody>
                                                            <tr class="tr-1 tr-22">
                                                                <td colspan="5" class="td-22 td-222">
                                                                    <br>
                                                                    <p class="color-A text-12-4">DESCRIPTION</p>
                                                                    <p class="color-7A hidden-xs">VEEAM(Cloud Connect Backup)</p>
                                                                    <p class="color-7A text-12-4 hidden-lg hidden-md hidden-sm">VEEAM(Cloud Connect Backup )</p>
                                                                    <p>
                                                                        <span class="text-12-4">Alias: 
                                 <button type="button" class="btn-1 btn btn-default"><span>MY PACKAGE</span></button>
                                                                        </span>
                                                                        <br class="hidden-lg hidden-md hidden-sm">
                                                                        <br class="hidden-lg hidden-md hidden-sm">
                                                                        <span class="text-12-4">VM licenses: 
                                 <button type="button" class="btn-2 btn btn-default"><span>1 licenses</span></button>
                                                                        </span>
                                                                        <br class="hidden-lg hidden-md hidden-sm">
                                                                        <br class="hidden-lg hidden-md hidden-sm">
                                                                        <span class="text-12-4">Storage: <button type="button" class="btn-3 btn btn-default"><span>500 GB</span></button>
                                                                        </span>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-22" colspan="2">Cloud Connect</td>
                                                                <td class="td-3 td-22 color-A"><span class="hidden-xs">17 Aug 2017</span></td>
                                                                <td class="td-4 td-22 color-A"><span class="hidden-xs">16 Sep 2017</span></td>
                                                                <td class="td-5 td-22 text-center color-A">$0.00</td>
                                                            </tr>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-1 td-22">Storage</td>
                                                                <td class="td-2 td-22 color-A hidden-lg hidden-md hidden-sm" colspan="2">500 GB</td>
                                                                <td class="td-2 td-22 color-A hidden-xs">500 GB</td>
                                                                <td class="td-3 td-22 color-A hidden-xs"><span class="hidden-xs">17 Aug 2017</span></td>
                                                                <td class="td-4 td-22 color-A "><span class="hidden-xs">16 Sep 2017</span></td>
                                                                <td class="td-5 td-22 text-center color-A">$45.00</td>
                                                            </tr>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-1 td-22">VM licenses</td>
                                                                <td class="td-2 td-22 color-A">1</td>
                                                                <td class="td-3 td-22 color-A"><span class="hidden-xs">17 Aug 2017</span></td>
                                                                <td class="td-4 td-22 color-A"><span class="hidden-xs">16 Sep 2017</span></td>
                                                                <td class="td-5 td-22 text-center color-A">$9.50</td>
                                                            </tr>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-1 td-22"></td>
                                                                <td class="td-2 td-22 hidden-xs"></td>
                                                                <td class="td-3 td-22 hidden-xs"></td>
                                                                <td class="td-3 td-22 hidden-xs">Sub-Total</td>
                                                                <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan=3>Sub-Total</td>
                                                                <td class="td-5 td-22 text-center">$54.50</td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-1 td-22"></td>
                                                                <td class="td-2 td-22 hidden-xs"></td>
                                                                <td class="td-3 td-22 hidden-xs"></td>
                                                                <td class="td-4 td-22 hidden-xs">Discount</td>
                                                                <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan="3">Discount</td>
                                                                <td class="td-5 td-22 text-center">$3.15</td>
                                                            </tr>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-1 td-22"></td>
                                                                <td class="td-2 td-22 hidden-xs"></td>
                                                                <td class="td-3 td-22 hidden-xs"></td>
                                                                <td class="td-4 td-22 hidden-xs">Total</td>
                                                                <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan=3>Total</td>
                                                                <td class="td-5 td-22 text-center">$51.35</td>
                                                            </tr>
                                                            <tr class="tr-2 tr-22">
                                                                <td class="td-1 td-22"></td>
                                                                <td class="td-2 td-22 hidden-xs"></td>
                                                                <td class="td-3 td-22 hidden-xs"></td>
                                                                <td class="td-4 td-22 hidden-xs">Invoice Total</td>
                                                                <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan="3">Invoice Total</td>
                                                                <td class="td-5 td-22 text-center">$51.35</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </section>

                                        </div>

                                        <div>

                                            <div class="row">
                                                <div class="col-md-6 col-xs-6">
                                                </div>
                                                <div class="col-md-6 col-xs-6 xs-col-zz">
                                                    <div class="form-group form-group-zz">
                                                        <input type="text" class="form-control applysizee">
                                                        <div class="col-sm-4">
                                                            <button type="button" class="goo">Save & Send</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </section>
        </div>
    </div>
</div>





<div class="modal fade" tabindex="-1" role="dialog" id="EditInvoiceDialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="set-stay">
                <form [formGroup]='formInvoiceEdit'>
                    <!-- <Notification [(message)]="message"></Notification> -->
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-md-12 text-title">Edit invoice ID </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-box">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Suspend :</label>
                                <div class="col-sm-5">
                                    <!-- <div class="select">
                                        <select formControlName="invoice_edit_Suspend">
                                <option value="">All</option>
                                        </select>
                                    </div> -->
                                    <input type="date" formControlName="invoice_edit_Suspend">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-box">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status :</label>
                                <div class="col-sm-5">
                                    <div class="select">
                                        <select formControlName="invoice_edit_Status">
                                            <option value="ac">Active</option>
                                            <option value="ao">Active Overdue</option>
                                            <option value="au">Active Unpaid</option>
                                            <option value="et">Enterprise</option>
                                            <option value="ov">Overdue</option>
                                            <option value="pa">Paid</option>
                                            <option value="re">Request Enterprise</option>
                                            <option value="rm">Remove</option>
                                            <option value="ue">Upgrade Enterprise</option>
                                            <option value="up">Unpaid</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-12 text-boxx">
                            <div class="form-group ">
                                <button type="button" class="btn btn-btn" (click)='EditConfrim()'>Save</button>
                                <button type="button" class="btn btn-btn" (click)='closeEdit()'>Cancel</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="SendInvoiceDialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="set-stay">
                <form [formGroup]='formInvoiceSend'>
                    <Notification [(message)]="message"></Notification>
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-md-12 text-title">Send invoice ID </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-box">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email :</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control applysize" formControlName="invoice_send_Email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-12 text-boxx">
                            <div class="form-group ">
                                <button type="button" class="btn btn-btn" (click)='sendInvoiceEmail()'>Send</button>
                                <button type="button" class="btn btn-btn" (click)='closeSend()'>Cancel</button>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="InvoiceDetail" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width: 62%;">
        <div class="modal-content" style="width: 1210px;background-color: #f6f6f6">
            <div class="row" style="margin-right: 0px;margin-left: 0px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>



                <div *ngFor="let item of dataInvoiceDetai">

                    <div class="row invoiceConstructorr" style="margin-right: 0px;margin-left: 0px">
                        <div class="col-md-12 bg-md10">
                            <div class="col-sm-12 col-md-12 Search-col-md-12 invoiceXD">
                                <h5>Invoice Constructor</h5>
                            </div>
                            <div class="col-sm-12 col-md-12 Search-col-md-12" style="background-color: #fff;">
                                <section class="printable">
                                    <div class="media-form">

                                        <div class="border-color-top"></div>
                                        <div class="row">
                                            <div class="col-sm-6 text-left hidden-xs">
                                                <p class="text-20-4 ">9T co., ltd.</p>
                                                <p class="text-12-4 color-A">
                                                    Addlink Building 889 Moo
                                                    <br> Kamyai Sub-District,Ubon Ratchathani
                                                    <br> Thailand 34000
                                                    <br><span class="color-7A"> Info@9t.com <br> +66(0)45-313-883</span>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <div class="hidden-xs">
                                                    <p class="text-20-4">{{item.lastname}}</p>
                                                    <p class="text-12-4 color-A">
                                                        {{item.company_name}}
                                                        <br> {{item.address}}
                                                        <br> {{item.province}} {{item.post_code}}
                                                        <span class="color-7A">
                                                                    <br>{{item.email}}
                                                                    <br>{{item.phone_num}}
                                                            </span>
                                                    </p>
                                                </div>
                                                <p class="text-12-4 color-A">Invoice: <span class="color-2C">{{item.invoice_no}}</span></p>
                                                <p class="text-12-4 color-A">Issued: <span class="color-2C">{{item.issued | date :'dd-MMM-yyyy'}}</span></p>
                                                <p class="text-12-4 color-A">Due: <span class="color-2C">{{item.due | date :'dd-MMM-yyyy'}}</span></p>
                                            </div>
                                        </div>

                                        <table class="table-xd">
                                            <tr class="tr-1 hidden-xs tr-22 tr-222">
                                                <td class="td-1 td-22">DESCRIPTION</td>
                                                <td class="td-2 td-22">COUNT QTY</td>
                                                <td class="td-3 td-22">FROM</td>
                                                <td class="td-4 td-22">TO</td>
                                                <td class="td-5 td-22">PRICE(inc GST)</td>
                                            </tr>
                                            <tbody>
                                                <tr class="tr-1 tr-22">
                                                    <td colspan="5" class="td-22 td-222">
                                                        <br>
                                                        <p class="color-A text-12-4">DESCRIPTION</p>
                                                        <p class="color-7A hidden-xs">VEEAM(Cloud Connect Backup)</p>
                                                        <p class="color-7A text-12-4 hidden-lg hidden-md hidden-sm">VEEAM(Cloud Connect Backup )</p>
                                                        <p>
                                                            <span class="text-12-4">Alias: 
                                 <button type="button" class="btn-1 btn btn-default"><span>MY PACKAGE</span></button>
                                                            </span>
                                                            <br class="hidden-lg hidden-md hidden-sm">
                                                            <br class="hidden-lg hidden-md hidden-sm">
                                                            <span class="text-12-4">VM licenses: 
                                 <button type="button" class="btn-2 btn btn-default"><span>{{item.vm}} licenses</span></button>
                                                            </span>
                                                            <br class="hidden-lg hidden-md hidden-sm">
                                                            <br class="hidden-lg hidden-md hidden-sm">
                                                            <span class="text-12-4">Storage: <button type="button" class="btn-3 btn btn-default"><span>{{item.storage}} GB</span></button>
                                                            </span>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-22" colspan="2">Cloud Connect</td>
                                                    <td class="td-3 td-22 color-A"><span class="hidden-xs">{{item.pck_end_dt | date :'dd MMM yyyy'}}</span></td>
                                                    <td class="td-4 td-22 color-A"><span class="hidden-xs">{{item.pck_start_dt | date :'dd MMM yyyy'}}</span></td>
                                                    <td class="td-5 td-22 text-center color-A">$0.00</td>
                                                </tr>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-1 td-22">Storage</td>
                                                    <td class="td-2 td-22 color-A hidden-lg hidden-md hidden-sm" colspan="2">{{item.storage}} GB</td>
                                                    <td class="td-2 td-22 color-A hidden-xs">{{item.storage}} GB</td>
                                                    <td class="td-3 td-22 color-A hidden-xs"><span class="hidden-xs">{{item.pck_end_dt | date :'dd MMM yyyy'}}</span></td>
                                                    <td class="td-4 td-22 color-A "><span class="hidden-xs">{{item.pck_start_dt | date :'dd MMM yyyy'}}</span></td>
                                                    <td class="td-5 td-22 text-center color-A">${{item.storage_total_price}}</td>
                                                </tr>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-1 td-22">VM licenses</td>
                                                    <td class="td-2 td-22 color-A">1</td>
                                                    <td class="td-3 td-22 color-A"><span class="hidden-xs">{{item.pck_end_dt | date :'dd MMM yyyy'}}</span></td>
                                                    <td class="td-4 td-22 color-A"><span class="hidden-xs">{{item.pck_start_dt | date :'dd MMM yyyy'}}</span></td>
                                                    <td class="td-5 td-22 text-center color-A">${{item.vm_total_price}}</td>
                                                </tr>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-1 td-22"></td>
                                                    <td class="td-2 td-22 hidden-xs"></td>
                                                    <td class="td-3 td-22 hidden-xs"></td>
                                                    <td class="td-3 td-22 hidden-xs">Sub-Total</td>
                                                    <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan=3>Sub-Total</td>
                                                    <td class="td-5 td-22 text-center">${{item.storage_total_price+item.vm_total_price}} </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-1 td-22"></td>
                                                    <td class="td-2 td-22 hidden-xs"></td>
                                                    <td class="td-3 td-22 hidden-xs"></td>
                                                    <td class="td-4 td-22 hidden-xs">Tex</td>
                                                    <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan="3">Tex</td>
                                                    <td class="td-5 td-22 text-center">${{item.fees}}</td>
                                                </tr>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-1 td-22"></td>
                                                    <td class="td-2 td-22 hidden-xs"></td>
                                                    <td class="td-3 td-22 hidden-xs"></td>
                                                    <td class="td-4 td-22 hidden-xs">Total</td>
                                                    <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan=3>Total</td>
                                                    <td class="td-5 td-22 text-center">${{item.storage_total_price+item.vm_total_price}}</td>
                                                </tr>
                                                <tr class="tr-2 tr-22">
                                                    <td class="td-1 td-22"></td>
                                                    <td class="td-2 td-22 hidden-xs"></td>
                                                    <td class="td-3 td-22 hidden-xs"></td>
                                                    <td class="td-4 td-22 hidden-xs">Invoice Total</td>
                                                    <td class="td-4 td-22 hidden-lg hidden-md hidden-sm" colspan="3">Invoice Total</td>
                                                    <td class="td-5 td-22 text-center">{{item.storage_total_price+item.vm_total_price+item.fees}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>

                            </div>

                            <div>

                                <!-- <div class="row">
                                <div class="col-md-6 col-xs-6">
                                </div>
                                <div class="col-md-6 col-xs-6 xs-col-zz">
                                    <div class="form-group form-group-zz">
                                        <input type="text" class="form-control applysizee">
                                        <div class="col-sm-4">
                                            <button type="button" class="goo">Save & Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            </div>
                        </div>

                        <!-- <div class="col-md-3">

                    </div> -->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>