<div class="box">
    <div class="row">
        <div class="col-md-6">
            <div class="boox">
                <form [formGroup]='formChangePassword'>
                    <Notification [(message)]="message"></Notification>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font">Password</div>
                        </div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-xm-7 col-sm-7 col-md-10 control-label">Old password</label>
                                <div class="col-xm-5 col-sm-5 col-md-2">
                                    <input type="text" class="form-control input" formControlName="old_password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-7 col-md-10 control-label">New password</label>
                                <div class="col-sm-5 col-md-2">
                                    <input type="password" class="form-control input" formControlName="new_password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-7 col-md-10 control-label">Confirm password</label>
                                <div class="col-sm-5 col-md-2">
                                    <input type="password" class="form-control input" formControlName="confrim_password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font"><button type="button" class="btn btn-btn" (click)="Change()">Change</button></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font top-font-hr"> </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>

        <div class="col-md-6">
            <div class="booxx">
                <form [formGroup]='formChangePin'>
                    <Notification [(message)]="message1"></Notification>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font">PIN</div>
                        </div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Old PIN</label>
                                <div class="col-sm-7 pin-group" formArrayName="old_pin">
                                    <div class="">
                                        <div class="row" Pins>
                                            <div class="col-xs-2 set-col-xs-2" *ngFor="let control of getFormArrayold_pin; let index1 = index">
                                                <input type="password" class="form-control pin inputs1-{{index1}}" (keypress)="onKeyin1($event,index1)" (keyup)="onKeydow1($event,index1)"
                                                    [formControlName]="index1" maxlength="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">New PIN</label>
                                <div class="col-sm-7 pin-group" formArrayName="new_pin">
                                    <div class="">
                                        <div class="row" Pins>
                                            <div class="col-xs-2 set-col-xs-2" *ngFor="let control of getFormArraynew_pin; let index2 = index">
                                                <input type="password" class="form-control pin inputs2-{{index2}}" (keypress)="onKeyin2($event,index2)" (keyup)="onKeydow2($event,index2)"
                                                    [formControlName]="index2" maxlength="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Confirm PIN</label>
                                <div class="col-sm-7 pin-group" formArrayName="confrim_pin">
                                    <div class="">
                                        <div class="row" Pins>
                                            <div class="col-xs-2 set-col-xs-2" *ngFor="let control of getFormArrayconfrim_pin; let index3 = index">
                                                <input type="password" class="form-control pin inputs3-{{index3}}" (keypress)="onKeyin3($event,index3)" (keyup)="onKeydow3($event,index3)"
                                                    [formControlName]="index3" maxlength="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font"><button type="button" class="btn btn-btn" (click)="ChangePIN()">Change</button></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font top-font-hr"> </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div *ngIf="role == 'SuperAdmin'" class="row">
        <div class="col-md-6">
            <div class="boox">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font">Chat-Bot</div>
                        </div>
                    </div>

                    <div class="row set-div-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-xm-7 col-sm-7 col-md-10 control-label">On-Off Chat-Bot</label>
                                <div class="col-xm-5 col-sm-5 col-md-2">
                                    <div class="boxChatBox">
                                        <div class="onoffswitch">
                                            <span class="textShowStatusBot">{{BOT}}</span>
                                            <input id="myonoffswitch" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (click)="OnchangeStatusBOT()">
                                            <label class="onoffswitch-label" for="myonoffswitch"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-font top-font-hr"> </div>
                        </div>
                    </div>

            </div>

        </div>
    </div>
</div>