$heigth_of_row:3em;
$background-border: #FFFFFF;
$width_control:200px;
$heigth_control:23px;
$border_color_control:#7a7a7a;
$background-body-color:#FFFFFF;
$color_placeholder:#999999;
$main-color: #969696;
.input {
    width: 200px !important;
    height: 23px !important;
    max-height: 23px !important;
    max-width: 200px !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid #7a7a7a;
    padding: 1px;
    font-size: 14px;
    color: #606060;
}

.boox {
    margin-left: 70px;
    margin-top: 20px;
    color: #7a7a7a;
}

.top-font {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-left: 180px;
}

.set-div-row {
    margin-bottom: 20px;
}

.btn-btn {
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    height: 23px !important;
    max-height: 23px !important;
    margin-top: 4px;
    width: 100px;
    max-width: 110px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    font-weight: 500;
    color: #606060;
    margin: 20px 0px 0px -13px;
    line-height: 23px;
    padding: 0px 0px;
}

.top-font-hr {
    border: 1px solid #7a7a7a;
    width: 27em;
    margin-left: 10px;
}

.pin {
    width: 23px !important;
    height: 23px !important;
    max-height: 23px !important;
    max-width: 200px !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid #7a7a7a;
    padding: 1px;
    font-size: 14px;
    color: #606060;
    text-align: center;
}

.set-col-xs-2 {
    width: 31px;
    padding-right: 0;
    padding-left: 0;
}

.pin-group {
    padding-left: 260px;
    position: absolute;
    width: 440px;
    margin-top: 0px;
}
.boxChatBox{
    padding-top:3px;
}
.textShowStatusBot{
    float:right;
    margin-top:-4px;
}