<div class="container-fluid">
    <div class="row">
      <form [formGroup]='formFilterRequest' >
        <div class="col-sm-12 col-md-9">
          <div class="col-sm-2">
            <div class="form-group">
              <label>Client ID:</label>
              <input type="text" class="form-control applysize" formControlName="client_id" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Email:</label>
              <input type="text" class="form-control applysize" formControlName="email">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Invoice ID:</label>
              <input type="text" class="form-control applysize" formControlName="invoice_id" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Package status:</label>
              <div class="select">
                <select formControlName="package_status">
                            <option value="">Active</option>
                      </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 set-css-new">
          <div class="col-sm-12">
            <div class="form-group">
              <br>
              <button type="submit" class="go" (click)="Gofilter()">Go</button>
              <button type="reset" class="go" (click)="OnClear()" value="Reset">Clear</button>
              <button type="button" class="go" (click)="onSaveFileCSV()">Export</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 Search-col-md-12">
        <h5>Search results...</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Package No</th>
                <th>Package type</th>
                <th>Package status</th>
                <th>Client ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Family</th>
                <th>Company</th>
                <th>Created</th>
                <th>Current storage</th>
                <th>Current VM</th>
                <th>New storage</th>
                <th>New VM</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Allrequests of Allrequest | pagination:20">
                <ng-container *ngIf="Allrequests.pck_status == 'ac' && Allrequests.pck_status != 'rm'">
                  <td>{{Allrequests.vcc_id}}</td>
                  <td>{{Allrequests.pck_type_name}}</td>
                  <td>Active</td>
                  <td>{{Allrequests.cust_id}}</td>
                  <td>{{Allrequests.email}}</td>
                  <td>{{Allrequests.firstname}}</td>
                  <td>{{Allrequests.lastname}}</td>
                  <td>{{Allrequests.company_name}}</td>
                  <td>manually</td>
                  <td>{{Allrequests.storage}}</td>
                  <td>{{Allrequests.vm}}</td>
                  <td>{{Allrequests.new_storage}}</td>
                  <td>{{Allrequests.new_vm}}</td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs" (click)="removeItem(Allrequests.pck_id)"><i class="material-icons">delete</i>remove</button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="generate(Allrequests)"><i class="material-icons">add</i>generate invoice</button>
                
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <pagination [items]="Allrequest"></pagination>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade mid-lawta" tabindex="-1" role="dialog" id="requestdialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="ObjgenerateIn">
          <app-invoicecontrutor [DetailInvoice]="ObjgenerateIn" (CanCloseInvo)="reset($event)"></app-invoicecontrutor>
        </div>
      </div>
    </div>

