<div hidden class="xxxlode">
    <div class="loader">Loading...</div>
</div>

<navbar *ngIf="status != 0"></navbar>
<section class="container-fluid">
    <router-outlet (activate)="onGetComponent($event)"></router-outlet>
</section>
<div (window:unload)="unload()"></div>