// @import '../../../../svariable';
.pagination-box {
    display: inline-block;
    padding: 0;
    float: right;
    >.columns {
        float: left;
        &:nth-child(2) {
            margin-left: 7px;
            margin-right: 7px;
        }
        &:nth-child(4) {
            margin-left: 7px;
            margin-right: 7px;
        }
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.pagination {
    margin: 0px;
    cursor: pointer;
}