<div class="pagination-box" *ngIf="limit">

    <div class="columns">
        <button class="btn btn-default" (click)="onPageOne()" *ngIf="page != 1">
            <i class="fa fa-chevron-left" ></i><i class="fa fa-chevron-left" ></i>
        </button>
    </div>
    <div class="columns">
        <button class="btn btn-default" (click)="onPreviousPage()" *ngIf="page != 1">
            <i class="fa fa-chevron-left"></i>
        </button>
    </div>

    <div class="columns">
        <!-- <select class="form-control" (change)="onChangePage($event)" [disabled]="loading">
            <option [value]="option.value" *ngFor="let option of options" [selected]='option.value === page'>
                {{ option.text }}
            </option>
        </select> -->

        <ul class="pagination" *ngFor="let option of listpage">
            <li [ngClass]='{active: page == option.value}'><a (click)="redirectToPate(option.value)">{{ option.text }}</a></li>
        </ul>
    </div>

    <div class="columns">
        <button class="btn btn-default" (click)="onNextPage()" *ngIf="page != optionLength">
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>
    <div class="columns">
        <button class="btn btn-default" (click)="onPageEnd()" *ngIf="page != optionLength">
            <i class="fa fa-chevron-right" ></i><i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>