<div class="pushmenu-push">
    <nav class="pushmenu pushmenu-left">
        <ul class="links">
            <li routerLinkActive="active"><a (click)="watch_nav('Requests')" routerLinkActive="active">Requests </a></li>
            <li routerLinkActive="active"><a (click)="watch_nav('Processed')" routerLinkActive="active">Processed </a></li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="main">
            <section class="buttonset">
                <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
            </section>
            <section class="content">


                <div *ngIf="UrlCurrentState==='Requests'" id="packages">
                    <div class="container-fluid">
                        <div class="row">
                            <form [formGroup]='formFilterRefund'>
                                <div class="col-sm-12 col-md-9">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Client ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="cust_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" class="form-control applysize" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Invoice ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="invoice_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="pck_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package type:</label>
                                            <div class="select">
                                                <select formControlName="pck_type_name">
                                <option value="">All</option>
                          </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 set-css-new">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <br>
                                            <button type="submit" class="go" value="Submit" (click)="btnPackagesFilters()">Go</button>
                                            <button type="reset" class="go" value="Reset">Clear</button>
                                            <button type="button" class="go">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 Search-col-md-12">
                                <h5>Search results...</h5>
                                <Notification [(message)]="message"></Notification>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>PackageID</th>
                                                <th>Package type</th>
                                                <th>Specification</th>
                                                <th>Price</th>
                                                <th>Package status</th>
                                                <th>Strart date</th>
                                                <th>End date</th>
                                                <th>Client ID</th>
                                                <th>Email</th>
                                                <th>Name</th>
                                                <th>Family</th>
                                                <th>Company</th>
                                                <th>Created</th>
                                                <th>Invoice ID</th>
                                                <th>Description</th>
                                                <th>OperatorComment</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataRefund.data" id="{{item.pck_id}}">
                                                <td>{{item.pck_id}} </td>
                                                <td>{{item.pck_type}} </td>
                                                <td>{{item.specification}} </td>
                                                <td>{{item.price}} </td>
                                                <td>{{item.pck_status}}</td>
                                                <td>{{item.pck_start_dt|date :'dd.MM.yyyy'}} </td>
                                                <td>{{item.pck_end_dt|date :'dd.MM.yyyy'}} </td>
                                                <td>{{item.cust_id}} </td>
                                                <td>{{item.email}} </td>
                                                <td>{{item.firstname}} </td>
                                                <td>{{item.lastname}} </td>
                                                <td>{{item.company_name}} </td>
                                                <td>{{item.created}} </td>
                                                <td>{{item.invoice_no}} </td>
                                                <td>{{item.description}} </td>
                                                <td></td>
                                                <td>
                                                    <button type="button" class="btn btn-warning btn-xs" (click)="refund(item.pck_id,item.vcc_id)"><i class="material-icons">attach_money</i>refund</button>
                                                    <button type="button" class="btn btn-success btn-xs"><i class="material-icons">insert_comment</i>comment</button>
                                                    <button type="button" class="btn btn-danger btn-xs" (click)='deleteRefund(item.pck_id,item.vcc_id)'><i class="material-icons">delete</i>delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="UrlCurrentState==='Processed'" id="packages">
                    <div class="container-fluid">
                        <div class="row">
                            <form [formGroup]='formFilterProcessed'>
                                <div class="col-sm-12 col-md-9">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Client ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="cust_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="text" class="form-control applysize" formControlName="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Invoice ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="invoice_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package ID:</label>
                                            <input type="text" class="form-control applysize" formControlName="pck_id">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Package type:</label>
                                            <div class="select">
                                                <select formControlName="pck_type_name">
                                <option value="">All</option>
                          </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 set-css-new">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <br>
                                            <button type="submit" class="go" value="Submit" (click)="btnPackagesFiltersProcessed()">Go</button>
                                            <button type="reset" class="go" value="Reset">Clear</button>
                                            <button type="button" class="go">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 Search-col-md-12">
                                <h5>Search results...</h5>
                                <Notification [(message)]="message"></Notification>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>PackageID</th>
                                                <th>Package type</th>
                                                <th>Specification</th>
                                                <th>Price</th>
                                                <th>Package status</th>
                                                <th>Strart date</th>
                                                <th>End date</th>
                                                <th>Client ID</th>
                                                <th>Email</th>
                                                <th>Name</th>
                                                <th>Family</th>
                                                <th>Company</th>
                                                <th>Created</th>
                                                <th>Invoice ID</th>
                                                <th>Description</th>
                                                <th>Refund status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataRefundProcessed.data">
                                                <td>{{item.pck_id}} </td>
                                                <td>{{item.pck_type}} </td>
                                                <td>{{item.specification}} </td>
                                                <td>{{item.price}} </td>
                                                <td>{{item.pck_status}}</td>
                                                <td>{{item.pck_start_dt|date :'dd.MM.yyyy'}} </td>
                                                <td>{{item.pck_end_dt|date :'dd.MM.yyyy'}} </td>
                                                <td>{{item.cust_id}} </td>
                                                <td>{{item.email}} </td>
                                                <td>{{item.firstname}} </td>
                                                <td>{{item.lastname}} </td>
                                                <td>{{item.company_name}} </td>
                                                <td>{{item.created}} </td>
                                                <td>{{item.invoice_no}} </td>
                                                <td>{{item.description}} </td>
                                                <td>{{item.refund_status}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-success btn-xs btn-xss"><i class="material-icons">insert_comment</i>comment</button>
                                                    <!-- <button type="button" class="btn btn-warning btn-xs" (click)="add()"><i class="material-icons">add</i>generate invoice</button> -->
                                                    <!-- <button type="button" class="btn btn-success btn-xs" (click)='edit(111)'><i class="material-icons">edit</i>upgrade package</button> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>