<div class="boox">
    <div class="">
        <div class="row set-css-col1">


            <form [formGroup]="formLog">
                <div class="col-sm-12 col-md-9">

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>From:</label>
                            <input type="text" class="form-control applysize form set-css-input" id="date_fromm" formControlName="date_from" (blur)="onBlue(datefrom,'date_from')" #datefrom>
                        </div>
                    </div>
                    <div class="col-sm-2" style="width:max-content;">
                        <div class="form-group" style="width:max-content;">
                            <label>To:</label>
                            <input type="text" class="form-control applysize to set-css-input" id="date_too" formControlName="date_to" (blur)="onBlue(dateto,'date_to')" #dateto>
                        </div>
                    </div>
                    <div class="col-sm-2 set-css-input">
                        <div class="form-group">
                            <label></label>
                            <div class="select">
                                <select formControlName="role">
                            <option value="">ALL</option>
                            <option value="Admin">Admin</option>
                             <option value="Manager">Manager</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Operator">Operator</option>
                                    <option value="SuperAdmin">SuperAdmin</option>
                          </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3 set-css-new">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="go" (click)="btnLogActionFilters()">Go</button>
                            <button type="reset" class="go" value="Reset">Clear</button>
                            <button type="button" class="go" (click)="exportData()">Export</button>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>

    <div class="row set-css-row">
        <div class="col-sm-12 col-md-12">
            <h5>Search results...</h5>
            <div style="overflow-x:auto;">
                <table>
                    <tr class="border">
                        <th>Seq#</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Description of Entry</th>
                        <th>IP Address</th>
                        <th>User</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                    </tr>
                    <tr *ngFor="let LogsDataAll of LogsDataAlls.data">
                        <td>{{LogsDataAll.act_id}}</td>
                        <td>{{LogsDataAll.log_dt | date :'yyyy/MM/dd'}}</td>
                        <td>{{LogsDataAll.type}}</td>
                        <td>{{LogsDataAll.description}}</td>
                        <td>{{LogsDataAll.desc_of_entry}}</td>
                        <td>{{LogsDataAll.ip_address}}</td>
                        <td>{{LogsDataAll.emp_username}}</td>
                        <td>{{LogsDataAll.emp_fristname}}</td>
                        <td>{{LogsDataAll.emp_lastname}}</td>
                        <td>{{LogsDataAll.emp_permission}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>