 $heigth_of_row:3em;
 $background-border: #FFFFFF;
 $width_control:90%;
 $heigth_control:23px;
 $border_color_control:#7a7a7a;
 $background-body-color:#FFFFFF;
 $color_placeholder:#999999;
 label {
     font-size: 11px;
     color: #7a7a7a;
     margin-bottom: 0px;
 }
 
 .col-sm-2 {
     padding-right: 0px !important;
     padding-left: 0px !important;
     width: 11.667%;
 }
 
 .boox {
     margin-left: 15px;
     margin-right: 15px;
 }
 
 .select {
     color: $color_placeholder;
     border: 1px solid $border_color_control;
     border-radius: 0px;
     overflow: hidden;
     min-height: $heigth_control;
     height: $heigth_control;
     width: $width_control;
     position: relative;
     display: block;
 }
 
 select {
     min-height: $heigth_control;
     height: $heigth_control;
     padding-left: 10px;
     background-color: #fff;
     border: 0px solid #7A7A7A;
     font-size: 14px;
     width: $width_control;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     color: #606060;
 }
 
 .select:after {
     content: "▼";
     padding: 2px 0px;
     position: absolute;
     background-color: #e6e6e6;
     right: 0px;
     top: 0;
     z-index: 1;
     text-align: center;
     width: 20%;
     min-height: 100%;
     pointer-events: none;
     box-sizing: border-box;
     border-left: 1px solid;
 }
 
 .applysize {
     width: $width_control !important;
     height: $heigth_control !important;
     max-height: $heigth_control !important;
     max-width: $width_control !important;
     border-radius: 0px;
     background-color: #FFFFFF;
     border: 1px solid $border_color_control;
 }
 
 .btnsearch {
     border-radius: 0px;
     border: 1px solid $border_color_control;
     height: $heigth_control !important;
     max-height: $heigth_control !important;
     margin-top: 0px;
     width: 31px;
     max-width: 31px;
     text-align: center;
     vertical-align: middle;
     background-color: #e6e6e6;
     font-size: 12px;
     color: #606060;
     &.form-control {
         padding: 0px 0px;
     }
 }
 
 table {
     border-collapse: collapse;
     width: 100%;
     border-bottom: 2px solid #333
 }
 
 th {
     text-align: left;
     padding: 7px;
     background-color: #cccccc;
     color: #444444;
     font-size: 12px;
     border-left: 2px solid #444444;
     border-right: 2px solid #444444;
     font-weight: 400;
 }
 
 td {
     text-align: left;
     padding: 8px;
     border-left: 2px solid #444444;
     border-right: 2px solid #444444;
     font-size: 12px;
 }
 
 tr:nth-child(even) {
     background-color: #ffffff;
 }
 
 .border {
     border-top: 2px solid #444444;
 }
 
 .border-bottom {
     border-bottom: 2px solid #444444;
 }
 
 .go {
     border-radius: 0px;
     border: 1px solid $border_color_control;
     height: $heigth_control !important;
     max-height: $heigth_control !important;
     margin-top: 20px;
     width: 20%;
     margin-right: 5px;
     max-width: 20%;
     text-align: center;
     vertical-align: middle;
     background-color: #e6e6e6;
     font-size: 12px;
     color: #606060;
     &.form-control {
         padding: 0px 0px;
     }
 }
 
 .set-css-new {
     margin-left: -182px;
     margin-top: 4px;
 }
 
 @media (max-width:991px) {
     .set-css-new {
         margin-left: 0px;
         width: 68%;
     }
 }
 
 @media (max-width:767px) {
     .input {
         width: 160px;
         height: $heigth_control !important;
         max-height: $heigth_control !important;
         max-width: 160px !important;
         border-radius: 0px;
         background-color: #FFFFFF;
         border: 1px solid $border_color_control;
         padding: 1px;
         font-size: 14px;
         color: #606060;
     }
     .applysize {
         width: 160px !important;
         height: 23px !important;
         max-height: 23px !important;
         max-width: 160px !important;
         border-radius: 0px;
         background-color: #FFFFFF;
         border: 1px solid #7a7a7a;
         padding: 1px;
         font-size: 14px;
         color: #606060;
     }
     .select {
         color: #999999;
         border: 1px solid #7a7a7a;
         border-radius: 0px;
         overflow: hidden;
         min-height: 23px;
         height: 23px;
         width: 160px;
         position: relative;
         display: block;
     }
 }
 
 th {
     border-left: 2px solid #444 !important;
     border-right: 2px solid #444 !important;
     border: 2px solid #444 !important;
     font-weight: 400 !important;
     font-size: 12px;
 }
 
 th {
     border-left: 2px solid #444 !important;
     border-right: 2px solid #444 !important;
     border: 2px solid #444 !important;
     font-weight: 400 !important;
     font-size: 12px !important;
 }
 
 tr {
     border-left: 2px solid #444;
     border-right: 2px solid #444;
 }
 
 td {
     border-left: 2px solid #444;
     border-right: 2px solid #444;
     border-bottom: 1px solid #fff !important;
     padding: 8px !important;
     padding-top: 12px !important;
     font-size: 12px !important;
 }
 
 table {
     border: 2px solid #444;
     border-collapse: collapse
 }
 
 h5 {
     color: #7a7a7a;
 }
 
 .set-css-col1 {
     margin-top: 10px;
 }
 
 .set-css-input {
     margin-top: 3px;
 }
 
 .set-css-row {
     margin-top: 11px;
 }