<div class="container-payments">
    <div class="row">
        <form [formGroup]="formPayments" (submit)="onSubmitFilter()">
            <div class="col-sm-12 col-md-9 set-css-payment1">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Payment No:</label>
                        <input type="text" class="form-control applysize" formControlName="PaymentNo">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Payment status:</label>
                        <div class="select">
                            <select name="select applysize" formControlName="PaymentStatus">
                                <option value="0">All</option>
                                <option value="pa">Paid</option>
                                <option value="pd">Pending</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Client name:</label>
                        <input type="text" class="form-control applysize" formControlName="Name">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>FName:</label>
                        <input type="text" class="form-control applysize" formControlName="Family">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Package status:</label>
                        <div class="select">
                            <select formControlName="PackageStatus">
                                <option value="0">All</option>
                                <option *ngFor="let type of packagesAll.data" value="{{ type.pck_type_id }}">{{ type.pck_type_name }}</option>                               
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 set-css-new">

                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="go" value="Submit">Go</button>
                        <button type="reset" (click)="resetData()" class="go" value="Reset">Clear</button>
                        <button type="button" class="go" (click)="exportData()">Export</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row set-css-payment3">
        <div class="col-sm-12 col-md-12 set-css-payment2">
            <h5>Search results...</h5>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table>
            <tr class="border">
                <th>Payment No</th>
                <th>Status</th>
                <th>Type</th>
                <th>Price</th>
                <th>Package No</th>
                <!-- <th>VM</th>
                <th>Storage</th> -->
                <th>Specification</th>
                <th>Payment date</th>
                <th>End date</th>
                <th>Client ID</th>
                <th>VCC login</th>
                <!--<th>VCC pass</th>-->
                <th>Name</th>
                <th>Family</th>
                <th>Company</th>
                <th>Package Actions</th>
            </tr>
            <tr *ngFor="let item of dataPayments.data">
                <td>{{item.payment_id}}</td>
                <td>{{item.pck_status}}</td>
                <td>{{item.pck_type_name}}</td>
                <td>{{item.total_price| currency:'USD':true}}</td>
                <td>{{item.pck_id}}</td>
                <!-- <td>{{item.vm}}</td>
                <td>{{item.storage}}</td> -->
                <td>{{item.vm}}VM/{{item.storage}}GB{{PaymentVeeamAlls[item.username]}}</td>
                <td>{{item.add_dt| date:'dd.MM.yyyy'}}</td>
                <td>{{item.pck_end_dt| date:'dd.MM.yyyy'}}</td>
                <td>{{item.cust_id}}</td>
                <td>{{item.username}}</td>
                <!--<td>{{item.password}}</td>-->
                <td>{{item.firstname}}</td>
                <td>{{item.lastname}}</td>
                <td>{{item.company_name}}</td>
                <td>
                    <button (click)="onViewDetails(item.payment_id)" data-target="#detailviews" type="button" [ngClass]="{'btn btn-primary btn-xs':true, 'disabled':(!item.payment_id)}" #details><i class="material-icons">details</i> Detail</button>
                    <button type="button" class="btn btn-warning btn-xs" #send><i class="material-icons">send</i> Send</button>
                    <button (click)="onViewInvoice(item.payment_id,item.username)" data-target="#invoices" type="button" [ngClass]="{'btn btn-warning btn-xs':true, 'disabled':(!item.payment_id)}" #invoice><i class="material-icons">description</i> Invoice</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="detailviews" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-invc">
                    <span>Details Transaction : {{PaymentData.payment_id}}</span>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row DetailDlg">
                    <div><span>PaymentId :</span> <span>{{ PaymentData.payment_id }}</span></div>
                    <div><span>payer_email :</span> <span>{{ PaymentData.payer_email }}</span></div>
                    <div><span>payer_status :</span> <span>{{ PaymentData.payer_status }}</span></div>
                    <div><span>first_name :</span> <span>{{ PaymentData.first_name }}</span></div>
                    <div><span>last_name :</span> <span>{{ PaymentData.last_name }}</span></div>
                    <div><span>address_name :</span> <span>{{ PaymentData.address_name }}</span></div>
                    <div><span>address_street :</span> <span>{{ PaymentData.address_street }}</span></div>
                    <div><span>address_city :</span> <span>{{ PaymentData.address_city }}</span></div>
                    <div><span>address_state :</span> <span>{{ PaymentData.address_state }}</span></div>
                    <div><span>address_country_code :</span> <span>{{ PaymentData.address_country_code }}</span></div>
                    <div><span>address_zip :</span> <span>{{ PaymentData.address_zip }}</span></div>
                    <div><span>residence_country :</span> <span>{{ PaymentData.residence_country }}</span></div>
                    <div><span>txn_id :</span> <span>{{ PaymentData.txn_id }}</span></div>
                    <div><span>mc_currency :</span> <span>{{ PaymentData.mc_currency }}</span></div>
                    <div><span>payment_status :</span> <span>{{ PaymentData.payment_status }}</span></div>
                    <div><span>item_name :</span> <span>{{ PaymentData.item_name }}</span></div>
                    <div><span>quantity :</span> <span>{{ PaymentData.quantity }}</span></div>
                    <div><span>txn_type :</span> <span>{{ PaymentData.txn_type }}</span></div>
                    <div><span>payment_date :</span> <span>{{ PaymentData.payment_dt }}</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invoices" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-invc">
                    <span>INVOICE > {{ InvoiceNumber }}</span>
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div id="dataPayments" [ScrollV]>
                    <div class="row">
                        <div class="col-sm-5 header-block">
                            <div class="invoice"><span>Invoice: </span><span>{{ InvoiceNumber }}</span></div>
                            <div class="issued"><span>Issued: </span><span>{{ Issues }}</span></div>
                            <div class="due"><span>Due: </span><span>{{ Due }}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 header-columns">
                            <div class="description col-sm-5">DESCRIPTION</div>
                            <div class="cout-qty col-sm-4">COUNT QTY</div>
                            <div class="from col-sm-3">FROM</div>
                            <div class="to col-sm-3">TO</div>
                            <div class="price col-sm-3">PRICE(inc GST)</div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="data" *ngFor="let item of InvoiceData">
                            <div class="packages">
                                <div class="col-sm-12 header-detail-info">VEEAM(Clound Connect Backup({{ item.username }}))</div>
                                <div class="detail-product-details">
                                    <div class="col-sm-12 header-details">
                                        <div class="description col-sm-5">Cloud Connect</div>
                                        <div class="cout-qty col-sm-4"></div>
                                        <div class="from col-sm-3">{{ item.pck_start_dt }}</div>
                                        <div class="to col-sm-3">{{ item.pck_end_dt }}</div>
                                        <div class="price col-sm-3">$0.00</div>
                                    </div>
                                    <div class="col-sm-12 header-details">
                                        <div class="description col-sm-5">Storage</div>
                                        <div class="cout-qty col-sm-4">{{ item.storage }}GB</div>
                                        <div class="from col-sm-3">{{ item.pck_start_dt }}</div>
                                        <div class="to col-sm-3">{{ item.pck_end_dt }}</div>
                                        <div class="price col-sm-3">{{ item.storage_total_price | currency:'USD':1 }}</div>
                                    </div>
                                    <div class="col-sm-12 header-details">
                                        <div class="description col-sm-5">VM licenses</div>
                                        <div class="cout-qty col-sm-4">{{ item.vm }}</div>
                                        <div class="from col-sm-3">{{ item.pck_start_dt }}</div>
                                        <div class="to col-sm-3">{{ item.pck_end_dt }}</div>
                                        <div class="price col-sm-3">{{ item.vm_total_price | currency:'USD':1 }}</div>
                                    </div>
                                    <div class="col-sm-12 header-details">
                                        <div class="description col-sm-5"></div>
                                        <div class="cout-qty col-sm-4"></div>
                                        <div class="from col-sm-3"></div>
                                        <div class="to col-sm-3">Sub-Total</div>
                                        <div class="price col-sm-3">{{ (item.storage_total_price + item.vm_total_price) | currency:'USD':1 }}</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 header-total">
                            <div class="Total"><span>Total: </span><span>{{ SumTotal | currency:'USD':1 }}</span></div>
                            <div class="InvoiceTotal"><span>Invoice Total: </span><span>{{ SumTotal | currency:'USD':1 }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>