    $heigth_of_row:3em;
    $background-border: #FFFFFF;
    $width_control:90%;
    $heigth_control:23px;
    $border_color_control:#7a7a7a;
    $background-body-color:#FFFFFF;
    $color_placeholder:#999999;
    .material-icons {
        font-size: 14px;
        vertical-align: middle;
    }
    
    .col-sm-2 {
        padding-right: 0px !important;
        padding-left: 0px !important;
        width: 11.667%;
    }
    
    label {
        font-size: 11px;
        color: #7a7a7a;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        margin-bottom: 15px;
        tr {
            &:nth-child(even) {
                background-color: #ffffff;
            }
            th {
                text-align: left;
                padding: 7px;
                background-color: #cccccc;
                color: #444444;
                font-size: 12px;
                border-left: 2px solid #444444;
                border-right: 2px solid #444444;
                font-weight: 400;
            }
            td {
                text-align: left;
                padding: 8px;
                border-left: 2px solid #444444;
                border-right: 2px solid #444444;
                font-size: 12px;
                button:nth-child(1) {
                    width: 72.23px;
                }
                button:nth-child(2) {
                    width: 76.42px;
                }
                button:nth-child(3) {
                    width: 69.86px;
                }
                button:nth-child(4) {
                    width: 75.53px;
                }
            }
        }
    }
    
    .btn-action-group {
        margin-top: 18px;
        .btnsearch {
            border-radius: 0px;
            border: 1px solid $border_color_control;
            height: $heigth_control !important;
            max-height: $heigth_control !important;
            margin-top: 4px;
            width: 50px;
            max-width: 50px;
            text-align: center;
            vertical-align: middle;
            background-color: #e6e6e6;
            font-size: 12px;
            color: #606060;
            &.form-control {
                padding: 0px 0px;
            }
        }
    }
    
    select option {
        color: black;
    }
    
    select.empty {
        color: #A5A5C2;
    }
    
    select option[disabled]:first-child {
        display: none;
    }
    
    h5 {
        color: $border_color_control;
    }
    
    .container-payments {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .select {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: $width_control;
        position: relative;
        display: block;
    }
    
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 14px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
    
    .select:after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 20%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    
    .applysize {
        width: $width_control !important;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        max-width: $width_control !important;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid $border_color_control;
    }
    
    .go {
        border-radius: 0px;
        border: 1px solid $border_color_control;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        margin-top: 24px;
        width: 27%;
        margin-right: 5px;
        max-width: 21%;
        text-align: center;
        vertical-align: middle;
        background-color: #e6e6e6;
        font-size: 12px;
        color: #606060;
        &.form-control {
            padding: 0px 0px;
        }
    }
    
    .header-invc {
        width: 100%;
        display: inline-block;
        span {
            font-size: 18px;
            font-weight: 600;
        }
        .close {
            float: right;
        }
    }
    
    .modal-lg {
        width: 65%;
    }
    
    .row {
        margin: 10px auto 10px auto;
    }
    
    #dataPayments {
        height: 600px;
    }
    
    .header-block {
        display: block;
        float: right;
        text-align: right;
        font-weight: 600;
        font-size: 1.5rem;
        color: #7a7a7a;
        div>span:nth-child(1) {
            color: #606060;
        }
    }
    
    .header-columns {
        display: flex;
        div {
            padding-top: 8px;
            border-top: solid 1px;
            border-bottom: solid 1px;
            height: 36px;
            font-size: 1.4rem;
            font-weight: 600;
            &:first-child {
                padding-left: 0px;
            }
            &:last-child {
                padding-right: 0px;
                text-align: right;
            }
        }
    }
    
    .product-list {
        hr {
            width: 98%;
            margin-top: 3px;
            margin-bottom: 3px;
            border: 0;
            border-top: 1px solid #d8cbcb;
        }
    }
    
    .packages {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        .col-sm-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    
    .header-detail-info {
        font-size: 1.3rem;
        font-weight: 500;
        opacity: 0.5;
    }
    
    .detail-product-details {
        margin-top: 1em;
        .header-details {
            display: flex;
            div {
                padding-left: 0;
                padding-top: 8px;
                height: 36px;
                font-size: 1.4rem;
                font-weight: 600;
                &:last-child {
                    padding-right: 0px;
                    text-align: right;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    
    .header-total {
        display: block;
        float: right;
        text-align: right;
        font-weight: 800;
        font-size: 2rem;
        color: #3a3838;
        div>span:nth-child(1) {
            color: #606060;
        }
    }
    
    .DetailDlg {
        div>span {
            font-size: 16px;
            font-weight: 700;
        }
    }
    
    .set-css-new {
        margin-left: -175px;
    }
    
    @media (max-width:991px) {
        .set-css-new {
            margin-left: 0px;
            width: 68%;
        }
    }
    
    @media (max-width:767px) {
        .input {
            width: 160px;
            height: $heigth_control !important;
            max-height: $heigth_control !important;
            max-width: 160px !important;
            border-radius: 0px;
            background-color: #FFFFFF;
            border: 1px solid $border_color_control;
            padding: 1px;
            font-size: 14px;
            color: #606060;
        }
        .applysize {
            width: 160px !important;
            height: 23px !important;
            max-height: 23px !important;
            max-width: 160px !important;
            border-radius: 0px;
            background-color: #FFFFFF;
            border: 1px solid #7a7a7a;
            padding: 1px;
            font-size: 14px;
            color: #606060;
        }
        .select {
            color: #999999;
            border: 1px solid #7a7a7a;
            border-radius: 0px;
            overflow: hidden;
            min-height: 23px;
            height: 23px;
            width: 160px;
            position: relative;
            display: block;
        }
    }
    
    th {
        border-left: 2px solid #444;
        border-right: 2px solid #444;
        border: 2px solid #444;
        font-weight: 400 !important;
        font-size: 12px;
    }
    
    .set-css-payment1 {
        padding-left: 0px;
    }
    
    .set-css-payment2 {
        padding-left: 0px;
    }
    
    .set-css-payment3 {
        margin: 11px auto 0px auto;
    }