<div class="container w-100 p-0" style="margin-top:-20px;">
    <div class="row w-100 p-0 m-0">
        <div class="col-md-2 w-100 p-0 sidebar">
            <ul class="nav nav-pills flex-column w-100">
                <li>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-2"><i class="material-icons">&#xE5D2;</i></div>
                        <div class="col-md-10"><strong style="font-size:25px;" style="font-size: 19px;">Home</strong></div>
                    </div>
                </li>
                <li>
                    <a (click)="showMain()"><strong style="font-size: 14px;">Price Policy</strong></a>
                </li>
                <ul class="nav flex-column w-100">
                    <li class="py-1 ml-3">
                        <a class="sub-list py-1 active" (click)="showBackup()"><strong style="font-size: 14px;">Veeam Backup</strong></a>
                    </li>
                    <li class="py-1 ml-3">
                        <a class="sub-list py-1" (click)="showReplication()"><strong style="font-size: 14px;">Veeam Replication</strong></a>
                    </li>
                    <li class="py-1 ml-3">
                        <a class="sub-list py-1" (click)="showNakivo()"><strong style="font-size: 14px;">Nakivo</strong></a>
                    </li>
                </ul>
            </ul>

        </div>

        <div class="col-md-10  h-100 p-0 w-100">
            <!---------------------------------------------------------------Main View -------------------------------------------------------------------->
            <div class="container w-100" id="main">
                <div class="row py-2 px-2">
                    <p class="text-left w-100">Veem</p>
                </div>
                <div class="row bg-faded p-2">
                    <div class="col-md-3 px-2">
                        <h2 class="p-0 text-left"><strong> Storage per 500 GB / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-2 p-1">
                                    <p class="text-left"> QNAP </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtQNAP" #txtQNAP maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button class="go" href="#editModal" (click)="updateQNAP(txtQNAP)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2 p-1">
                                    <p class="text-left"> HP </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtHP" #txtHP maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateHP(txtHP)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <h2 class="p-0 text-left"><strong> Compute / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> Processor / 1Ghz </p>
                                </div>
                                <div class="col-md-2"><input type="text" id="txtProcessor" #txtProcessor maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateProcessor(txtProcessor)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> Memory / 4 GB </p>
                                </div>
                                <div class="col-md-2"><input type="text" id="txtMemory" #txtMemory maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateMemory(txtMemory)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <h2 class="p-0 text-left"><strong> Network / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> 1 IP Addresses </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtIP" #txtIP maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateIPAddress(txtIP)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> 1 Networks </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtNetwork" #txtNetwork maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateNetwork(txtNetwork)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-faded p-2">
                    <div class="col-md-3 px-2">
                        <h2 class="p-0 text-left"><strong> Virtual machines Licenses / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-2 p-1">
                                    <p class="text-left"> 1 VM </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtVm" #txtVm maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateVm(txtVm)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <h2 class="p-0 text-left"><strong> Internet Traffic / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-3 p-1">
                                    <p class="text-left">250 GB</p>
                                </div>
                                <div class="col-md-2"><input type="text" id="txtTraffic" #txtTraffic maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateTraffic(txtTraffic)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"> </div>
                </div>
                <div class="row py-2 px-2">
                    <p class="text-left w-100">Nakivo</p>
                </div>
                <div class="row bg-faded">
                    <div class="col-md-12 p-3">
                        <h2 class="text-center"><strong>Per socket on ESXi or Hyper-V server / $</strong></h2>
                    </div>
                </div>
                <div class="row bg-faded px-3 py-3">
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Pro Essentials </p>
                                </div>
                                <div class="col-md-1"><input type="text" id="txtProEss" #txtProEss maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-4">
                                    <button href="#" class="go" href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Enterprise Essentials </p>
                                </div>
                                <div class="col-md-1"> <input type="text" id="txtEnEss" #txtEnEss maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-4">
                                    <button href="#" class="go" href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Pro </p>
                                </div>
                                <div class="col-md-1"><input type="text" id="txtPro" #txtPro maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-4">
                                    <button href="#" class="go" href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Enterprise </p>
                                </div>
                                <div class="col-md-1"> <input type="text" id="txtEn" #txtEn maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-4">
                                    <button href="#" class="go" href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------- Veeam Backup View   -------------------------------------------------->
            <div class="container w-100 invisible" id="backup">
                <div class="row py-2 px-2">
                    <p class="text-left w-100">Veem Backup</p>
                </div>
                <div class="row bg-faded p-2">
                    <div class="col-md-3 px-2">
                        <h2 class="p-0 text-left"><strong> Storage per 500 GB / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-2 p-1">
                                    <p class="text-left"> QNAP </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtQNAP2" #txtQNAP2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button class="go" href="#editModal" (click)="updateQNAP(txtQNAP2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2 p-1">
                                    <p class="text-left"> HP </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtHP2" #txtHP2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateHP(txtHP2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 px-2">
                        <h2 class="p-0 text-left"><strong> Virtual machines Licenses / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-2 p-1">
                                    <p class="text-left"> 1 VM </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtVm2" #txtVm2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateVm(txtVm2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------- Veeam Replication View -------------------------------------------------------->
            <div class="container w-100 invisible" id="replication">
                <div class="row py-2 px-2">
                    <p class="text-left w-100">Veem Replication</p>
                </div>
                <div class="row bg-faded p-2">
                    <div class="col-md-3 px-2">
                        <h2 class="p-0 text-left"><strong> Compute / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> Processor / 1Ghz </p>
                                </div>
                                <div class="col-md-2"><input type="text" id="txtProcessor2" #txtProcessor2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateProcessor(txtProcessor2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> Memory / 4 GB </p>
                                </div>
                                <div class="col-md-2"><input type="text" id="txtMemory2" #txtMemory2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateMemory(txtMemory2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <h2 class="p-0 text-left"><strong> Network / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> 1 IP Addresses </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtIP2" #txtIP2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateIPAddress(txtIP2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-4 p-1">
                                    <p class="text-left"> 1 Networks </p>
                                </div>
                                <div class="col-md-2"> <input type="text" id="txtNetwork2" #txtNetwork2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateNetwork(txtNetwork2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bg-faded p-2">
                    <div class="col-md-3 px-2">
                        <h2 class="p-0 text-left"><strong> Internet Traffic / $</strong> </h2>
                        <div class="container">
                            <div class="row py-2" style="margin-bottom:10px;">
                                <div class="col-md-3 p-1">
                                    <p class="text-left">250 GB</p>
                                </div>
                                <div class="col-md-2"><input type="text" id="txtTraffic2" #txtTraffic2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-5">
                                    <button href="#" class="go" href="#editModal" (click)="updateTraffic(txtTraffic2)" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"> </div>
                </div>
            </div>
            <!------------------------------------------------------------ Nakivo View ---------------------------------------------------------->
            <div class="container w-100 invisible" id="nakivo">
                <div class="row py-2 px-2">
                    <p class="text-left w-100">Nakivo</p>
                </div>
                <div class="row bg-faded">
                    <div class="col-md-12 p-3">
                        <h2 class="text-center"><strong>Per socket on ESXi or Hyper-V server / $</strong></h2>
                    </div>
                </div>
                <div class="row bg-faded px-3 py-3">
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Pro Essentials </p>
                                </div>
                                <div class="col-md-1"><input type="text" id="txtProEss2" #txtProEss2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-4">
                                    <button href="#" class="go" disabled href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Enterprise Essentials </p>
                                </div>
                                <div class="col-md-1"> <input type="text" id="txtEnEss2" #txtEnEss2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-4">
                                    <button href="#" class="go" disabled href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Pro </p>
                                </div>
                                <div class="col-md-1"><input type="text" id="txtPro2" #txtPro2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"> </div>
                                <div class="col-md-4">
                                    <button href="#" class="go" disabled href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 p-1">
                                    <p class="text-left"> Enterprise </p>
                                </div>
                                <div class="col-md-1"> <input type="text" id="txtEn2" #txtEn2 maxlength="3" class="form-control input ng-untouched ng-pristine ng-valid"></div>
                                <div class="col-md-4">
                                    <button href="#" class="go" disabled href="#editModal" data-toggle="modal">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" style="width:30%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="text-align: center;"><strong>Updating Price</strong></h2>
            </div>
            <div class="modal-body">
                <br>
                <h2 style="text-align: center;" id="option"></h2>
                <br>
            </div>
            <div class="modal-footer" style="padding:10px">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3 text-left">
                        <button type="button" class="btn w-75" data-dismiss="modal" style="height:3rem;">Cancel</button>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button type="button" (click)="submitUpdate()" data-dismiss="modal" class="btn w-75" style="height:3rem;">Ok</button>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>