    $heigth_of_row:3em;
    $background-border: #FFFFFF;
    $width_control:90%;
    $heigth_control:23px;
    $border_color_control:#7a7a7a;
    $background-body-color:#FFFFFF;
    $color_placeholder:#999999;
    $main-color: #969696;
    .container-users {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .col-sm-2 {
        padding-right: 0px !important;
        padding-left: 0px !important;
        width: 11.667%;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    label {
        font-size: 11px;
        color: $border_color_control;
    }
    
    th {
        text-align: left;
        padding: 7px;
        color: $border_color_control;
        font-size: 14px;
        font-weight: 600;
        width: 10%;
    }
    
    td {
        text-align: left;
        padding: 8px;
        font-size: 12px;
    }
    
    .operator1 {
        width: 10%;
    }
    
    .border {
        border-bottom: 2px solid #c0c0c0;
    }
    
    .mvp {
        margin: 0px 25px 0px 0px;
    }
    
    .width-control {
        width: 90%;
    }
    
    //    .width{
    //             width: 90%;
    //             }
    .input {
        width: $width_control;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        max-width: $width_control;
        border-radius: 0px;
        background-color: #FFFFFF;
        border: 1px solid $border_color_control;
        padding: 1px;
        font-size: 14px;
        color: #606060;
    }
    
    .go {
        border-radius: 0px;
        border: 1px solid $border_color_control;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        margin-top: 4px;
        width: 43%;
        max-width: 49%;
        text-align: center;
        vertical-align: middle;
        background-color: #e6e6e6;
        font-size: 12px;
        color: #606060;
        &.form-control {
            padding: 0px 0px;
        }
    }
    
    .Add-user {
        border-radius: 0px;
        border: 1px solid $border_color_control;
        height: $heigth_control !important;
        max-height: $heigth_control !important;
        margin-top: 4px;
        width: 100px;
        max-width: 110px;
        text-align: center;
        vertical-align: middle;
        background-color: #e6e6e6;
        font-size: 12px;
        color: #606060;
        margin: 0px 0px 0px 10px;
        &.form-control {
            padding: 0px 0px;
        }
    }
    
    .icon {
        width: 14px;
        height: 14px;
        margin: 0px 15px 0px 0px;
    }
    
    .save {
        width: 18px;
        height: 18px;
        float: right;
        margin: 0px 60px 0px 0px;
    }
    
    .action {
        float: right;
    }
    
    .selection {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: $width_control;
        position: relative;
        display: block;
        &::after {
            content: "▼";
            padding: 2px 0px;
            position: absolute;
            background-color: #e6e6e6;
            right: 0px;
            top: 0;
            z-index: 1;
            text-align: center;
            width: 20%;
            min-height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-left: 1px solid;
        }
        select option {
            color: black;
        }
        select.empty {
            color: #A5A5C2;
        }
        select option[disabled]:first-child {
            display: none;
        }
        select {
            min-height: $heigth_control;
            height: $heigth_control;
            padding-left: 10px;
            background-color: #fff;
            border: 0px solid #7A7A7A;
            font-size: 12px;
            width: $width_control;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #606060;
        }
    }
    
    .selects {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: 80%;
        position: relative;
        display: block;
        &::after {
            content: "▼";
            padding: 2px 0px;
            position: absolute;
            background-color: #e6e6e6;
            right: 0px;
            top: 0;
            z-index: 1;
            text-align: center;
            width: 15%;
            min-height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-left: 1px solid;
        }
        select option {
            color: black;
        }
        select.empty {
            color: #A5A5C2;
        }
        select option[disabled]:first-child {
            display: none;
        }
        select {
            min-height: $heigth_control;
            height: $heigth_control;
            padding-left: 10px;
            background-color: #fff;
            border: 0px solid #7A7A7A;
            font-size: 12px;
            width: $width_control;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #606060;
        }
    }
    
    .select-input {
        color: $color_placeholder;
        border: 1px solid $border_color_control;
        border-radius: 0px;
        overflow: hidden;
        min-height: $heigth_control;
        height: $heigth_control;
        width: 40%;
        position: relative;
        display: block;
        &::after {
            content: "▼";
            padding: 2px 0px;
            position: absolute;
            background-color: #e6e6e6;
            right: 0px;
            top: 0;
            z-index: 1;
            text-align: center;
            width: 30%;
            min-height: 100%;
            pointer-events: none;
            box-sizing: border-box;
            border-left: 1px solid;
        }
        select option {
            color: black;
        }
        select.empty {
            color: #A5A5C2;
        }
        select option[disabled]:first-child {
            display: none;
        }
        select {
            min-height: $heigth_control;
            height: $heigth_control;
            padding-left: 10px;
            background-color: #fff;
            border: 0px solid #7A7A7A;
            font-size: 12px;
            width: $width_control;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #606060;
        }
    }
    
    .material-icons {
        cursor: pointer;
    }
    
    .set-css-new {
        margin-left: -100px;
    }
    
    @media (max-width:991px) {
        .set-css-new {
            margin-left: 0px;
            width: 68%;
        }
    }
    
    @media (max-width:767px) {
        .input {
            width: 160px;
            height: $heigth_control !important;
            max-height: $heigth_control !important;
            max-width: 160px !important;
            border-radius: 0px;
            background-color: #FFFFFF;
            border: 1px solid $border_color_control;
            padding: 1px;
            font-size: 14px;
            color: #606060;
        }
        .applysize {
            width: 160px !important;
            height: 23px !important;
            max-height: 23px !important;
            max-width: 160px !important;
            border-radius: 0px;
            background-color: #FFFFFF;
            border: 1px solid #7a7a7a;
            padding: 1px;
            font-size: 14px;
            color: #606060;
        }
        .selection {
            color: #999999;
            border: 1px solid #7a7a7a;
            border-radius: 0px;
            overflow: hidden;
            min-height: 23px;
            height: 23px;
            width: 160px;
            position: relative;
            display: block;
        }
        .go {
            border-radius: 0px;
            border: 1px solid $border_color_control;
            height: $heigth_control !important;
            max-height: $heigth_control !important;
            margin-top: 4px;
            width: 160px;
            max-width: 160px;
            text-align: center;
            vertical-align: middle;
            background-color: #e6e6e6;
            font-size: 12px;
            color: #606060;
            &.form-control {
                padding: 0px 0px;
            }
        }
    }
    
    th {
        border-left: 2px solid #444 !important;
        border-right: 2px solid #444 !important;
        border: 2px solid #444 !important;
        font-weight: 400 !important;
        font-size: 12px;
        background-color: #cccccc;
        color: #444444 !important;
    }
    
    tr {
        border-left: 2px solid #444!important;
        border-right: 2px solid #444!important;
    }
    
    td {
        border-left: 2px solid #444!important;
        border-right: 2px solid #444!important;
        border-bottom: 1px solid #fff !important;
        padding: 8px !important;
        padding-top: 12px !important;
        font-size: 12px !important;
    }
    
    table {
        border: 2px solid #444;
    }
    
    .tbody1 {
        background-color: #ebebeb !important;
    }
    
    .tbody2 {
        background-color: #FFFFFF !important;
    }
    
    .action {
        position: absolute;
        margin-top: -20px;
        margin-left: 175px;
    }
    
    .set-css-set1 {
        margin-top: 10px;
    }
    
    h5 {
        color: #7a7a7a;
    }
    
    .set-css-col2 {
        margin-top: 11px;
    }