<div class="container-users">
    <app-addnewusers (status)='statusAdd()'></app-addnewusers>
    <div class="row">

        <form action="">
            <div class="col-sm-12 col-md-9 set-css-set1">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>user ID:</label>
                        <input type="text" class="form-control input" id="filterId">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>user name:</label>
                        <input type="text" class="form-control input" id="filterUsername">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Position:</label>
                        <div class="selection">
                            <select name="selection applysize" id="filterPosition">
                                <option value="">All</option>
                            <option [value]="itemi.position_id" *ngFor="let itemi of PositionAll.data ">{{itemi.position_name}}</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>name:</label>
                        <input type="text" class="form-control input" value="" id="filterName">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Family:</label>
                        <input type="text" class="form-control input" id="filterFamily">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Status:</label>
                        <div class="selection">
                            <select name="selection applysize" id="filterStatus">
                                <option value="">All</option>
                            <option value="a">Active</option>
                            <option value="b">Deactive</option>
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 set-css-new">
                <div class="col-sm-6" style="float: right;margin-right: 308px;margin-top: 10px;">
                    <div class="form-group">
                        <label></label>
                        <button type="button" class="form-control go" (click)="fliterDataUser()">Go</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 set-css-col2">
            <h5>Search results...</h5>
            <div style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr class="border">
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Family</th>
                            <th>Position</th>
                            <th>Role</th>
                            <th>Login</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="show-tbody-{{UserDataAll.emp_id}}" [class.tbody2]=" index % 2 == 0" *ngFor="let UserDataAll of UserDataAlls.data;let index = index">
                        <tr class="show-tr-{{UserDataAll.emp_id}}">
                            <!--<td class="">operator1</td>-->
                            <td>{{Idtext[index]}}</td>
                            <td>{{fristnametext[index]||UserDataAll.emp_fristname}}</td>
                            <td>{{lastnametext[index]||UserDataAll.emp_lastname}}</td>
                            <td>{{UserDataAll.position_name}}</td>
                            <td>{{role[index]}}</td>
                            <td>{{usernametext[index]||UserDataAll.emp_username}}</td>

                            <td>{{statusUser[index] == 'b' ? "Deactive" : "Active"}}
                                <div class="action">
                                    <i class="material-icons" (click)="clickEditIcons(UserDataAll.emp_id)">mode_edit</i>
                                    <i class="material-icons" (click)="clickBlockIcons(UserDataAll,index)">block</i>
                                    <i class="material-icons" (click)="clickDeleteIcons(UserDataAll,index)">delete_forever</i>
                                </div>
                            </td>
                        </tr>
                        <tr style="display:none;" class="none-tr-{{UserDataAll.emp_id}}">
                            <td>{{Idtext[index]}}</td>
                            <td class=""><input id="gettextfristname-{{UserDataAll.emp_id}}" type="text" [(ngModel)]="fristnametext[index]" value="{{UserDataAll.emp_fristname}}"></td>
                            <td><input id="gettextlastname-{{UserDataAll.emp_id}}" type="text" [(ngModel)]="lastnametext[index]" value="{{UserDataAll.emp_lastname}}"></td>
                            <td>
                                <div class="selects">
                                    <select name="selects" id="gettextposition-{{UserDataAll.emp_id}}">
                                        <option [selected]='UserDataAll.emp_position == itemi.position_id' [value]="itemi.position_id " *ngFor="let itemi of PositionAll.data ">{{itemi.position_name}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="selects">
                                    <select name="selects" [(ngModel)]="role[index]" id="gettextpermission-{{UserDataAll.emp_id}}">
                            <option *ngIf="rolee == 'SuperAdmin'" [selected]='UserDataAll.emp_permission == "Admin"' value="Admin">Admin</option>
                            <option [selected]='UserDataAll.emp_permission == "Manager"' value="Manager">Manager</option>
                            <option [selected]='UserDataAll.emp_permission == "Supervisor"' value="Supervisor">Supervisor</option>
                            <option [selected]='UserDataAll.emp_permission == "Operator"' value="Operator">Operator</option>
                            <option *ngIf="rolee == 'SuperAdmin'" [selected]='UserDataAll.emp_permission == "SuperAdmin"' value="SuperAdmin">SuperAdmin</option>
                          </select>
                                </div>
                            </td>
                            <td><input type="text" id="gettextusername-{{UserDataAll.emp_id}}" [(ngModel)]="usernametext[index]" value="{{UserDataAll.emp_username}}"></td>

                            <td>
                                <i class="material-icons save" (click)='clickSaveIcons(UserDataAll)'>save</i>
                                <div class="select-input">
                                    <select name="select-input" [(ngModel)]="statusUser[index]" id="gettextstatus-{{UserDataAll.emp_id}}">
                            <option [selected]='UserDataAll.emp_status == a' value="a">Active</option>
                            <option [selected]='UserDataAll.emp_status == b' value="b">Deactive</option>
                          </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label></label>
                        <button type="button" class="form-control Add-user" (click)="show()">Add user</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>