<div class="pushmenu-push">
  <nav class="pushmenu pushmenu-left">
    <ul class="links">
      <li routerLinkActive="active"><a (click)="watch_nav('UpgradeRequest')" routerLinkActive="active">Upgrade package requests</a></li>
      <li routerLinkActive="active"><a (click)="watch_nav('Upgraderequests')" routerLinkActive="active">Upgrade package</a></li>
      <li routerLinkActive="active"><a (click)="watch_nav('NewPackageRequest')" routerLinkActive="active">New package requests</a></li>
      <li routerLinkActive="active"><a (click)="watch_nav('RequestHistory')" routerLinkActive="active">Requests history</a></li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="main">
      <section class="buttonset">
        <div id="nav_list"><i class="material-icons">menu</i> MENU</div>
      </section>
      <section class="content">
        <div *ngIf="UrlCurrentState==='UpgradeRequest'" id="UpgradeRequest">
          <app-upgrade-package-request></app-upgrade-package-request>
        </div>

        <div *ngIf="UrlCurrentState==='Upgraderequests'" id="Upgraderequests">
          <app-upgrade-request></app-upgrade-request>
        </div>

        <div *ngIf="UrlCurrentState==='NewPackageRequest'" id="NewPackageRequest">
          <app-request-newpackage></app-request-newpackage>
        </div>
        <div *ngIf="UrlCurrentState==='RequestHistory'" id="RequestHistory">
          <app-request-history></app-request-history>
        </div>
      </section>
    </div>
  </div>
</div>


      