<div class="container">
    <form [formGroup]="veeambackuprep" class="form-horizontal veaam">
        <div class="form-group form-inline">
            <div class="col-sm-4">
                <h2>Add Veeam Replication</h2>
            </div>
        </div>
        <div class="form-group form-inline has-feedback" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="ClientID" class="col-sm-2 control-label">Client ID:*</label>
            <div class="col-sm-8">
                <input OnlyNumber="true" class="form-control" (keypress)="EnterClient($event)" formControlName="ClientId" placeholder="Enter Client Id">
                <i *ngIf="isValid" class="material-icons form-control-feedback">done</i>
                <i *ngIf="!isValid" class="material-icons form-control-feedback">close</i>
                <span *ngIf="!isValid" class="help-block">Client not found</span>
                <validation class="help-block" [control]="veeambackuprep.controls['ClientId']"></validation>
            </div>
            <div class="col-sm-2">
                <input type="button" (click)="getClientInfo()" class="form-control" value="Find">
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Email" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.email || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.firstname || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="LastName" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.lastname || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Phonenumber" class="col-sm-2 control-label">Phone number:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.phone_num || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="AddressPrefix" class="col-sm-2 control-label">Address Prefix:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.address || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="City" class="col-sm-2 control-label">City:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.city || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Stateprovince" class="col-sm-2 control-label">State/province:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.province || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Country" class="col-sm-2 control-label">Country:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.country || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Postcode" class="col-sm-2 control-label">Postcode:</label>
            <div class="col-sm-8">
                <span class="control-label">{{ClientData.post_code || '-'}}</span>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="StorageGB" class="col-sm-2 control-label">Storage (GB):</label>
            <div class="col-sm-4">
                <select class="form-control" (change)="CalPricePackages()" id="Quntity" formControlName="StorageGB">
                <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="1500">1500</option>
                  <option value="2000">2000</option>
                  <option value="2500">2500</option>
                  <option value="3000">3000</option>
                  <option value="3500">3500</option>
                  <option value="4000">4000</option>
                  <option value="4500">4500</option>
                  <option value="5000">5000</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" (change)="CalPricePackages()" id="StorageBrand" formControlName="StorageBrand">
                 <option value="false">QNAP</option>
                 <option value="true">HP</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="VMs" class="col-sm-2 control-label">VMs:</label>
            <div class="col-sm-4">
                <select class="form-control" (change)="CalPricePackages()" id="VMs" formControlName="VMsQty">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label OnlyNumber="true" class="total-price form-control">{{ (CalData.total_price || 0) | currency:'USD':true }}/month</label>
            </div>
        </div>

        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Processor" class="col-sm-2 control-label">Processor(Ghz):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Processor" formControlName="Processor">
            </div>
        </div>

        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="RAM" class="col-sm-2 control-label">RAM(GB):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="RAM" formControlName="RAM">
            </div>
        </div>

        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="IPAddress" class="col-sm-2 control-label">IP Address:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="IP Address" formControlName="IPAddress">
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="Networks" class="col-sm-2 control-label">Networks:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Networks" formControlName="Networks">
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="InternetTraffic" class="col-sm-2 control-label">Internet Traffic(GB):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Internet Traffic" formControlName="InternetTraffic">
            </div>
        </div>
        <div class="form-group" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="VIEWINVOICE" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                  <input type="checkbox" formControlName="SendInvoice"> Send invoice via email
                </label>
                </div>
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="VIEWINVOICE" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <input type="button" class="form-control" value="VIEW INVOICE">
            </div>
        </div>
        <div class="form-group form-inline" [ngClass]="{'has-success':isValid, 'has-error':!isValid}">
            <label for="CREATE" class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <input type="button" class="form-control" value="CREATE">
            </div>
        </div>
    </form>
</div>