.veaam {
    .total-price {
        height: 38px;
    }
    .col-sm-8 {
        span {
            font-weight: 500;
        }
    }
    .form-control {
        font-size: 18px;
        font-weight: 500;
    }
    .has-feedback .form-control {
        padding-right: initial;
    }
    .form-inline {
        .form-control-feedback {
            line-height: 40px;
            font-size: 32px;
            font-weight: 500;
        }
        .help-block {
            margin-top: -67px;
            text-align: center;
            font-size: 16px;
        }
        .control-label {
            text-align: left;
        }
        select {
            width: 100%;
            border-radius: 0px;
            height: 40px;
            outline: none;
            border: 0px solid #FFFFFF;
        }
        input {
            width: 100%;
            border-radius: 0px;
            height: 40px;
            outline: none;
            border: 0px solid #FFFFFF;
        }
        input[type="text"] {
            background: #FFFFFF;
            border: 0px solid #FFFFFF;
            outline: none;
        }
        input[type="button"],
        input[type="submit"] {
            padding: unset;
            border: 0px solid #aaaaaa;
            background: #aaaaaa;
            color: #000;
            font-size: 16px;
            outline: none;
        }
    }
}