<div class="modal fade" tabindex="-1" role="dialog" id="adduserdialog" aria-labelledby="gridSystemModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="set-stay">
                <form [formGroup]='formAddUser'>
                    <Notification [(message)]="message"></Notification>
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="col-md-12 text-title">Add new user</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Login</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input" formControlName="emp_username">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Position</label>
                                <div class="col-sm-9">
                                    <div class="select-input">
                                        <select formControlName="emp_position">
                            <option [value]="itemi.position_id " *ngFor="let itemi of PositionAll.data ">{{itemi.position_name}}</option>
                          </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input" formControlName="emp_fristname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Role</label>
                                <div class="col-sm-9">
                                    <div class="select-input">
                                        <select formControlName="emp_permission">
                                    <option *ngIf="role == 'SuperAdmin'" value="Admin">Admin</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Operator">Operator</option>
                                    <option *ngIf="role == 'SuperAdmin'" value="SuperAdmin">SuperAdmin</option>
                          </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Famile</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input" formControlName="emp_lastname">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <div class="input-group ">
                                        <input type="text" class="form-control input input-pass" formControlName="emp_password">
                                        <span class="" (click)='showpass()'><i class="pass_css material-icons icon-pass" title="RandomPassword">visibility</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group ">
                                <label class="col-sm-3 control-label ">Status</label>
                                <div class="col-sm-9 ">
                                    <div class="select-input ">
                                        <select formControlName="emp_status">
                            <option  value="a">Active</option>
                            <option  value="b">Deactive</option>
                          </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group ">
                                <label class="col-sm-3 control-label ">Pin</label>
                                <div class="col-sm-9 ">
                                    <!--PIN code:-->
                                    <div class="form-group pin-group" formArrayName="emp_pin">
                                        <div class="">
                                            <div class="row" Pins>
                                                <div class="col-xs-2 set-col-xs-2" *ngFor="let control of getFormArray; let index = index">
                                                    <input type="password" class="form-control pin inputs-{{index}}" (keypress)="onKeyin($event,index)" (keyup)="onKeydow($event,index)" [formControlName]="index" maxlength="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input" formControlName="emp_email" pattern="/@addlink.com/">
                                </div>
                                <label class="label-add"></label>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-6 ">
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group ">
                                <button type="button" class="btn btn-btn" (click)='close()'>Cancel</button>
                                <button [disabled]="disabled" type="button" class="btn btn-btn" (click)='add()'>Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>