$heigth_of_row:3em;
$background-border: #FFFFFF;
$width_control:200px;
$heigth_control:23px;
$border_color_control:#7a7a7a;
$background-body-color:#FFFFFF;
$color_placeholder:#999999;
$main-color: #969696;
.modal-content {
    border-radius: 0px;
}

.label-add {
    position: absolute;
    margin-left: -71px;
}

.text-title {
    text-align: center;
    font-size: 23px;
    font-weight: 800;
}

.pass_css {
    cursor: pointer;
}

.input {
    width: 137px !important;
    height: 23px !important;
    max-height: 23px !important;
    max-width: 200px !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid #7a7a7a;
    padding: 1px;
    font-size: 14px;
    color: #606060;
}

.selection {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: $width_control;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 10%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 3px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 12px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

.selects {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: 80%;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 15%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 12px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

.select-input {
    color: $color_placeholder;
    border: 1px solid $border_color_control;
    border-radius: 0px;
    overflow: hidden;
    min-height: $heigth_control;
    height: $heigth_control;
    width: 137px;
    position: relative;
    display: block;
    &::after {
        content: "▼";
        padding: 2px 0px;
        position: absolute;
        background-color: #e6e6e6;
        right: 0px;
        top: 0;
        z-index: 1;
        text-align: center;
        width: 30%;
        min-height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        border-left: 1px solid;
    }
    select option {
        color: black;
    }
    select.empty {
        color: #A5A5C2;
    }
    select option[disabled]:first-child {
        display: none;
    }
    select {
        min-height: $heigth_control;
        height: $heigth_control;
        padding-left: 10px;
        background-color: #fff;
        border: 0px solid #7A7A7A;
        font-size: 12px;
        width: $width_control;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #606060;
    }
}

.btn-btn {
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    height: 23px !important;
    max-height: 23px !important;
    margin-top: 4px;
    width: 100px;
    max-width: 110px;
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-size: 12px;
    color: #606060;
    margin: 0px 0px 0px 12px;
    line-height: 23px;
    padding: 0px 0px;
}

.form-group {
    margin-bottom: 0px;
    margin-top: 15px;
}

.modal-content {
    padding: 10px;
    color: #7a7a7a;
    background-color: #d2d2d2;
}

.set-stay {
    margin-right: -50px;
}

.icon-pass {
    position: absolute;
    z-index: 14;
    margin-left: -20px;
    font-size: 17px;
    margin-top: 3px;
}

.close {
    margin-right: 72px;
}

.pin {
    width: 23px !important;
    height: 23px !important;
    max-height: 23px !important;
    max-width: 200px !important;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid #7a7a7a;
    padding: 1px;
    font-size: 14px;
    color: #606060;
    text-align: center;
}

.pin-group {
    width: 162px;
    margin-top: 0px;
    margin-left: 13px;
}

.set-col-xs-2 {
    width: 23px;
    padding-right: 0;
    padding-left: 0;
}