$error-color: #dd0000;
$placeholder-color: #AAAAAA;
$main-color: #7ACDCF;
$main-text-color: #2C314F;

/*-----------------------------------------------------------------------------------------------------*/

html,
body {
    font-family: 'Roboto';
    color: $main-text-color;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ebebeb;
}

.onoffswitch {
    position: relative;
    width: 55px;
    height: 16px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    width: 32px;
    height: 13px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    line-height: 20px;
    border: 0px solid #FFFFFF;
    border-radius: 30px;
    background-color: #9E9E9E;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin: -2px;
    background: #EBEBEB;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #627A6B;
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #627A6B;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 25px;
    background-color: #1BB015;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .onoffswitch-checkbox:checked+.onoffswitch-label:before {
        right: 0px;
    }
    .onoffswitch-label:before {
        right: 18px;
    }
}

@media print {
    .non-printable {
        display: none;
        visibility: hidden;
    }
    .printable {
        display: block;
        visibility: visible;
    }
    .footter-print {
        font-size: 12px !important;
        display: block;
        visibility: visible;
    }
    .body-div {
        width: 100% !important;
        border: 1px solid white;
    }
}

.spinner {
    margin: 100px auto;
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color:#8a8a8a;
}
.spinner > div {
    background-color: #ccc8ce;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}  
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}  
@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
    }
}
.divLoding{
    padding:auto;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: relative;
    position: fixed;
    position: absolute;
    display: none;
    z-index: 999999;
}
.loadingbox{
    padding: 50%;
}