<!--ส่วน Test ChatBot -->
<div id="testChat" class="modal">
  <div class="col-md-6 col-md-offset-3" id="BoxChatBotTEST">
    <div class="panel panel-default">
      <a (click)="closetestBot()" class="btn btn-danger" style="float:right;">x</a><br>
      <div class="panel-body">
        <div id="scolltobot" class="boxchatall chat-group" style="height:400px;overflow-x: hidden;">
          <div class="">
            <div *ngFor="let allHs of History ">
              <div class="boxthat">
                <label for=""><img src="assets/images/questionicon.png" width="35px"></label>
                <span class="Question">
             {{ allHs.Qtext }}
            </span>
              </div>
              <div class="boxthat" align="right">
                <span class="Answer">
             {{ allHs.Atext }}
            </span>
                <label for=""><img src="assets/images/boticon.png" width="35px"></label>
              </div>
            </div>
          </div>
        </div>
        <div id="choseBot" style="background-color:#008000; padding:15px; color:#ffffff; display:none;">
          <form id="myForm"></form>
          <hr>
          <a class="btn btn-success" (click)="getQ()">submit</a>
        </div>
        <form (submit)="GetStartForChat(Qnow)">
          <div class="input-group">
            <input #Qnow id="Qnow" type="text" class="form-control" placeholder="Question...">
            <div class="input-group-btn">
              <button class="btn btn-info" type="submit">
                <i class="glyphicon glyphicon-share-alt"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--ส่วนจัดการ  Knowledge ChatBot -->
<div class="col-md-12" id="Manage">
  <div class="row">
    <div class="col-md-1">
      <label for="">
        Question:
      </label>
    </div>
    <div class="col-md-5">
      <textarea class="form-control" #Q type="text" name="" value="" placeholder="Question..." rows="4" cols="50" style="resize: none;"></textarea>
    </div>
    <div class="col-md-1">
      <label for="">
        Answer:
      </label>
    </div>
    <div class="col-md-5">
      <textarea class="form-control" #A type="text" name="" value="" placeholder="Answer..." rows="4" cols="50" style="resize: none;"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 " align="right">
      <br>
      <a (click)="showtestBot()" class="btn btn-info" style="float:left;"><img src="assets/images/boticon.png" width="20px"> TEST BOT</a>
      <button type="" class="btn btn-success" (click)="senddata(Q,A)"><i class="glyphicon glyphicon-plus"></i> add knowledge base</button>
    </div>
  </div>
  <hr class="hrcolor">

  <div *ngFor="let alls of ChatAll ">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="boxMenage" align="right">
          <a class="btn btn-primary btn-xs" (click)="showEditModal(alls.Id)"><i class="glyphicon glyphicon-edit" ></i> Edit</a>
          <a (click)="deleteChat(alls.Id)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Delete</a>
        </div>

        <div class="panel-body">
          <div class="boxchatall">
            <div class="boxthat">
              <table>
                <tr>
                  <td><label for=""><img src="assets/images/questionicon.png" width="35px"></label></td>
                  <td>
                    <div class="Question">
                      {{ alls.Qtext }}
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="boxthat" align="right">
              <table>
                <tr>
                  <td>
                    <div class="Answer">
                      {{ alls.Atext }}
                    </div>
                  </td>
                  <td><label for=""><img src="assets/images/boticon.png" width="35px"></label></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div id="{{ alls.Id }}" class="modal">
      <!-- Modal content -->
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="modal-header">
            <span class="close" (click)="CloseModel(alls.Id)">&times;</span>
            <h4>Edit Chat Bot that ID: {{ alls.Id }}</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-1">
                <label for="">Question:</label>
              </div>
              <div class="col-md-5">
                <textarea class="form-control" #editQ type="text" placeholder="Question..." rows="4" cols="50" style="resize: none;">{{ alls.Qtext }}</textarea>
              </div>
              <div class="col-md-1">
                <label for="">Answer:</label>
              </div>
              <div class="col-md-5">
                <textarea class="form-control" #editA type="text" placeholder="Answer..." rows="4" cols="50" style="resize: none;">{{ alls.Atext }}</textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 " align="right">
                <br>
                <button type="" class="btn btn-success" (click)="editChatBot(alls.Id,editQ,editA)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>